moderator {
  div[md-whiteframe] {
    background-color: $white;
  }

  md-card {
    position: relative;
    box-shadow: none;
    border-radius: 0;
    &:hover {
      .btn-set-photo {
        display: block;
      }
    }
    & .btn-set-photo-active {
      display: block;
    }
  }

  .md-success.md-button-big {
    min-width: 400px;
    min-height: 52px;
  }
}

.blue-link{
    color: color($blue);
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}