div(md-whiteframe='2').mv-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            div(layout='row' flex='100')
                h3.md-headline.text-uppercase Фото
                md-input-container(flex-offset='5')
                    md-select(ng-model='moderator.realty.moderator.percent.photo' placeholder="Укажите").small-select
                        md-option(ng-value='var',
                        ng-repeat='var in moderator.rating.variants') {{var}}%
            div
                //md-button(ng-class="{ 'md-danger' : moderator.realty.moderator.percent.photo && moderator.realty.moderator.percent.photo < 60, 'md-primary' : moderator.realty.moderator.percent.photo && moderator.realty.moderator.percent.photo >= 60 }").md-raised 
                    | {{ (moderator.realty.moderator.percent.photo < 60) ? 'Некачественные' : 'Качественные' }}
        div(flex='50')
            div(layout='column' flex='100')
                h3().md-headline Ответ от модератора:
                md-input-container().mv-0.pv-0
                    textarea(ng-model='moderator.realty.moderator.comment.photo', placeholder='Напишите комментарий') 
                p().md-body-1 Закажите профессиональные #[a(href="#").blue-link в 2 клика]


div(md-whiteframe='2').mv-16
    div(layout='row' layout-wrap layout-align='space-between')
        div(flex="33" ng-repeat="photo in moderator.realty.details.thumbnails")
            md-card
                md-button(ng-if='photo.url != moderator.realty.image' ng-click='moderator.setMainImage(photo)').md-primary.md-raised.btn-set-photo Сделать главным фото
                md-button(ng-if='photo.url == moderator.realty.image').md-success.md-raised.btn-set-photo.btn-set-photo-active Главное фото
                md-button(aria-label).btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close-white.svg')
                img(src='{{photo.url}}')

div(md-whiteframe='2').mt-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            div(layout='row')
                h3.md-headline.text-uppercase Качество рекламы 
                md-input-container(flex-offset='5')
                    md-select(ng-model='moderator.realty.moderator.percent.description' placeholder="Укажите").small-select
                        md-option(ng-value='var',
                        ng-repeat='var in moderator.rating.variants') {{var}}%
            div
                //md-button(ng-class="{ 'md-danger' : moderator.realty.moderator.percent.description && moderator.realty.moderator.percent.description < 60, 'md-primary' : moderator.realty.moderator.percent.description && moderator.realty.moderator.percent.description >= 60 }").md-raised 
                    | {{ (moderator.realty.moderator.percent.description < 60) ? 'Качественное' : 'Некачественное' }}
        div(flex='50')
            div(layout='column' flex='100')
                h3().md-headline Ответ от модератора:
                md-input-container(flex='100').mv-0.pv-0
                    textarea(ng-model='moderator.realty.moderator.comment.description', placeholder='Напишите комментарий')
                                        
div(md-whiteframe='2').ph-32.pv-16
    div(layout='row')
        div(flex)
            h3().md-subhead {{moderator.realty.title}}
            p().md-body-1 {{moderator.realty.details.descr}}
div(layout='row').mt-32
    div(flex='30' flex-offset='5')
        md-button(ng-click='moderator.save(false)').md-primary.md-raised Отклонить
    div(flex='70')
        md-button(ng-click='moderator.save(true)').md-success.md-raised.md-title.md-button-big Одобрить
