realty-new-list {
  > div[md-whiteframe] {
    z-index: 2;
    position: relative;
  }
  .md-tab {
    line-height: 44px;
  }
}

.realty-new-list{
  &__special-option{
    div.md-text{
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      max-width: 100%;
      max-height: 100%;
      box-sizing: border-box;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      box-sizing: border-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      max-width: 100%;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
  &__link {
  font-weight: 400 !important;
  font-size: 16px !important;
  color: rgb(33, 150, 243) !important;
  text-transform: none !important;
  padding-top: 12px !important;
    &:hover {
      background-color: transparent !important;
    }
  }
}

.realty-new-list__header-col {
  padding: 15px 16px;
  &:nth-child(1) {
    width: 21.5rem;
  }
  &:nth-child(2) {
    width: 17rem;
  }
  &:nth-child(3) {
    width: 14rem;
  }
  &:nth-child(4) {
    width: 18rem;
  }
  &:nth-child(5) {
    width: 9rem;
  }
  &:nth-child(6) {
    width: 11rem;
  }
  &:nth-child(7) {
    width: 17rem;
  }
}