.realty-new-list__header-col {
  padding: 15px 16px;
  &:nth-child(1) {
    width: 7rem;
  }
  &:nth-child(2) {
    width: 18rem;
  }
  &:nth-child(3) {
    width: 13rem;
  }
  &:nth-child(4) {
    width: 14rem;
  }
  &:nth-child(5) {
    width: 13rem;
  }
  &:nth-child(6) {
    width: 24rem;
  }
  &:nth-child(7) {
    width: 13rem;
  }
}