div(md-whiteframe="1")
    md-tabs(md-border-bottom md-selected='realtyNewList.selectedTab').realty-list-layout__topbar
        md-tab(label='Аренда' ui-sref="crm.realty-new-list({operation: \'rent\', page: 1})")
        md-tab(label='Продажа' ui-sref="crm.realty-new-list({operation: \'sale\', page: 1})")

realty-filter(filter = 'realtyNewList.filter' roomcount = 'realtyNewList.roomcount')
slide-show(slides-list='realtyNewList.slideShowImages' isshown='realtyNewList.showSlider')
div {{realtyNewList.filter}} фильтр
div {{realtyNewList.realtyCount}} объектов найдено
.md-body-1(layout='column', layout-align='space-around stretch' )
    realty-card(ng-repeat='realty in realtyNewList.realty'
    realty='realty'
    slider='realtyNewList.setSliderImages(images)')

pagination-buttons(ng-if='realtyNewList.pagesCount' uisref='\'crm.clients.list.my\'' page='realtyNewList.page' pagescount='realtyNewList.pagesCount')