realty-new-list {
  > div[md-whiteframe] {
    z-index: 2;
    position: relative;
  }
  .md-tab {
    line-height: 44px;
  }
}

.realty-new-list__link {
  font-weight: 400 !important;
  font-size: 16px !important;
  color: rgb(33, 150, 243) !important;
  text-transform: none !important;
  padding-top: 12px !important;
  &:hover {
    background-color: transparent !important;
  }
}

.realty-new-list__header-col {
  padding: 15px 16px;
  &:nth-child(1) {
    width: 21.5rem;
  }
  &:nth-child(2) {
    width: 17rem;
  }
  &:nth-child(3) {
    width: 14rem;
  }
  &:nth-child(4) {
    width: 18rem;
  }
  &:nth-child(5) {
    width: 9rem;
  }
  &:nth-child(6) {
    width: 11rem;
  }
  &:nth-child(7) {
    width: 17rem;
  }
}