md-sidenav{
  max-width: 250px;
  font-size: 16px;
}

md-list-item.active{
  background: aqua;
}

#mainContainer{
  width: 1024px; //97.6rem 1024px - 24px -24px
}

md-content{
  background-color: #f1f8fd;
}

md-tabs{
  background: $white;
  md-ink-bar {
    background-color: color($blue, 400);
  }
}

md-input-container {
  font-size: 16px;
}

md-switch {
  .md-label {
    font-size: 16px;
  }
  
  .md-bar {
    background-color: rgba(255, 82, 82, 0.5);
  }
  
  &.md-checked .md-bar {
    background-color: rgba(111, 193, 122, 0.5) !important;
  }

  [disabled] .md-bar {
    background-color: rgba(111, 193, 122, 0.5) !important;
  }

  .md-thumb {
    background-color: rgb(255, 82, 82) !important;
  }

  &.md-checked .md-thumb {
    background-color: rgb(111, 193, 122) !important;
  }

  [disabled] .md-thumb {
    background-color: rgb(255, 82, 82) !important;
  }
}

.topbar {
    height: 70px;
    background: #fff;
}

.whiteBg {
  background: $white;
}

.small-select .md-select-value {
  min-width: 50px;
}

.m-0 {
  margin: 0;
}

.mh-0 {
  margin-left: 0;
  margin-right: 0;
}

.mv-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.m-8 {
  margin: 8px;
}

.mh-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mv-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.m-16 {
  margin: 16px;
}

.mh-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mv-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.m-32 {
  margin: 32px;
}

.mh-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.mv-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.p-0 {
  padding: 0;
}

.ph-0 {
  padding-left: 0;
  padding-right: 0;
}

.pv-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.p-8 {
  padding: 8px;
}

.ph-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.pv-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.p-16 {
  padding: 16px;
}

.ph-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.pv-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pl-16 {
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.p-32 {
  padding: 32px;
}

.ph-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.pv-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pl-32 {
  padding-left: 32px;
}

.pr-32 {
  padding-right: 32px;
}