.bg{
  &-egg{
    background-color: #fcf9e6;
  }
}

layout > md-toolbar {
  background-color: #1e88e5 !important;
}

.w-100{
  width: 100% !important;
  max-width: 100% !important;
}

.lh{
  &-1{
    line-height: 1em;
  }
}

.cursor{
  &-pointer{
    cursor: pointer;
  }
}

ui-view {
  background-color: #bbdefb;
}

.toolbar-container {
    max-width: 1248px !important;
}

md-toolbar {
  min-height: 50px !important;
}

md-sidenav{
  max-width: 192px !important;
  font-size: 16px !important;;
  background-color: #e3f2fd !important;
  md-list-item {
    color: #333 !important;
    &.active {
      background-color: #bbdefb !important;
    }

    .md-no-style.md-button,
    .md-no-proxy.md-button {
      font-weight: 400 !important;
    }
    a.md-no-style{
      padding-top: 6px;
    }
    a.md-button:not([disabled]):hover {
      background-color: #bbdefb;
    }
  }
  
  md-select {
    margin: 0;
    padding: 8px 23px;
    .md-select-value {
      border-bottom: none;
      .md-select-icon:after {
        content: none;
      }
    }

    &:not([disabled]):focus .md-select-value {
      border-bottom: none;
    }
  }
}

div[md-whiteframe] {
  background-color: $white;
}

#select_container_4 {
  right: 0 !important;
  min-width: 192px !important;
  md-select-menu {
    md-content {
      padding-left: 10px;
      md-option[selected] {
        color: rgb(50, 50, 50);
      }
    }
  }
}

#mainContainer{
  width: 1024px; //97.6rem 1024px - 24px -24px
}

#content{
  margin-left: 16px;
  background-color: #bbdefb;
  box-shadow: none;
  overflow-y: scroll;
}

md-tabs{
  border-radius: 0;
  background-color: $white;
  md-ink-bar {
    color: color($blue, 400);
    background-color: color($blue, 400);
  }
}

md-input-container {
  font-size: 16px;
}

md-switch {
  .md-label {
    font-size: 16px;
  }

  &.ng-empty .md-label {
    color: grey;
  }
  
  &.md-checked .md-bar {
    background-color: rgba(111, 193, 122, 0.5) !important;
  }

  [disabled] .md-bar {
    background-color: rgba(111, 193, 122, 0.5) !important;
  }

  &.md-checked .md-thumb {
    background-color: rgb(111, 193, 122) !important;
  }

  [disabled] .md-thumb {
    background-color: rgb(255, 82, 82) !important;
  }
}

.relative{
  position: relative;
}

.topbar {
  position: relative;
  z-index: 2;
  height: 70px;
  .btn-back {
    background-color: #f5f5f5;
    border: none;
    md-icon {
      width: 14px;
      height: 14px;
    }
  }
}

.tabbar {
  box-shadow: 0 0 4px rgba(106, 106, 106, 0.7) !important;
}

.table {
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: $white;
  tbody > tr > td,
  tbody > tr > th,
  tfoot > tr > td,
  tfoot > tr > th,
  thead > tr > td,
  thead > tr > th {
    padding: 8px;
    border-top: 1px solid #e1e1e1;
  }
}

th {
  text-align: left;
}

.table-bordered {
  border: 1px solid #e1e1e1;
  tbody > tr > td,
  tbody > tr > th,
  tfoot > tr > td,
  tfoot > tr > th,
  thead > tr > td,
  thead > tr > th {
    border: 1px solid #e1e1e1;
  }
}

.table-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.control__table {
  max-width: 245px;
}

.small-select .md-select-value {
  min-width: 50px;
}

.zh {
  .md-errors-spacer {
    min-height: 0 !important;
  }
}

.m-0 {
  margin: 0 !important;
}

.mh-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mv-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.m-8 {
  margin: 8px !important;
}

.mh-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mv-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.m-16 {
  margin: 16px !important;
}

.mh-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mv-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.m-32 {
  margin: 32px !important;
}

.mh-32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mv-32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.p-0 {
  padding: 0 !important;
}

.ph-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pv-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.p-8 {
  padding: 8px !important;
}

.ph-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.pv-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.p-16 {
  padding: 16px !important;
}

.ph-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.pv-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.pt-16 {
  padding-top: 16px !important
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.p-32 {
  padding: 32px !important;
}

.ph-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.pv-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.pr-32 {
  padding-right: 32px !important;
}

.nowrap {
  white-space: nowrap;
}

.ta-c{
  text-align: center !important;
}

.ta-r{
  text-align: right !important;
}

.ta-l{
  text-align: left !important;
}

.vHidden{
  visibility: hidden;
}

.uppercase{
  text-transform: uppercase !important;
}

.border {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 1279px) {
  #content {
    margin-left: 0;
  }
  .md-icon-button.menu{
    margin-right: 0 !important;
  }
}

.welcome-tour {
  display: none;
  z-index: 111;
  overflow: hidden;
  &__step {
    display: none;
    z-index: 113;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    &-sidebar {
      box-sizing: border-box;
      position: absolute;
      width: 400px;
      height: 100%;
      background-color: #22252c;
      padding: 20px 40px 0;
      transition: transform 0.2s;
      &-left {
        left: -400px;
      }
      &-right {
        right: -400px;
      }
      &-title,
      &-text {
        opacity: 0;
        transition: opacity 0.5s;
        color: $white;
      }
    }
    &-content {
      
    }
    &-controls {
      position: absolute;
      left: 40px;
      right: 40px;
      bottom: 20px;
      display: flex;
      box-align: center;
      align-items: center;
      text-align: center;
      opacity: 0;
      transition: opacity 0.5s;
      &-control {
        &.left {
          order: 1;
        }
        &.center {
          order: 2;
          flex: 1 auto;
        }
        &.right {
          order: 3;
        }
      }
      &-steps {
        display: inline-block;
        height: 10px;
        vertical-align: middle;
        &-step {
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 7px;
          border: 1px solid #fff;
          margin-left: 20px;
          vertical-align: top;
          &:first-child {
            margin-left: 0;
            background: #fff;
          }
        }
      }
    }

    &.welcome-tour__step-animated {
      .welcome-tour {
        &__step {
          &-sidebar {
            &-title,
            &-text {
              opacity: 1;
            }
            &-left {
              transform: translate3d(100%, 0, 0);
            }
            &-right {
              transform: translate3d(-100%, 0, 0);
            }
          }
          &-controls {
            opacity: 1;
          }
        }
      }
    }
  }
}

.default-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  &.default-overlay__visible {
    background: fadeOut 0.2 ease both;
    visibility: visible;
  }
}

.md-button.layout {
  &__btn-logout {
    display: none;
  }
}

@media (min-width: 1280px) {
  .md-button.layout {
    &__btn-logout {
      display: block;
    }
  }

  .sideNav__item {
    &:last-of-type {
      display: none;
    }
  }
}
