md-sidenav{
  max-width: 250px;
}
md-list-item.active{
  background: aqua;
}
#mainContainer{
  width: 1024px; //97.6rem 1024px - 24px -24px
}
md-content{
  background-color: rgb(250,250,250);
}

md-tabs{
  background: rgb(255,255,255);
}