//Created by Danpan on 15.07.16.
md-dialog.subscription-dialog(aria-label='Оплата подписки')
    md-toolbar
        .md-toolbar-tools
            h2 Выберите ваш город
            span(flex='')
            md-button.md-icon-button(ng-click='selectCity.close()')
                md-icon(md-svg-src='svg/icon-close.svg', aria-label='Закрыть окно оплаты подписки')
    md-dialog-content
        .md-dialog-content.pv-16
            div(layout='column')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='80').md-block.form-required.m-0
                        label Выбрать город
                        md-select(required ng-model='selectCity.city' aria-label='Выбрать город')
                            md-option(value='Москва') Москва
                            md-option(value='Московская область') Московская область
                            md-option(value='Другой город') Другой город
                md-button.md-raised.mv-16.ph-16(flex='', ng-click='selectCity.setCity(selectCity.city)') Сохранить
