div(layout="row" layout-wrap)
    div(md-whiteframe='2' flex='40').md-title.text-normal.mt-16.mb-8.ph-32.pv-16 {{clientAnalytics.client.name}} ищет до #[span().text-semibold {{clientAnalytics.client.need.price | price}}]
    md-progress-circular(ng-if='!clientAnalytics.loaded' md-diameter='150' style='position:absolute;left:0;right:0;top:280px;margin:0 auto;')
    div(ng-if='clientAnalytics.loaded' flex='100')
        div(ng-repeat='result in clientAnalytics.analytics' md-whiteframe='2' flex='100').mv-8
            div().border.p-32
                div().md-title.mb-32 Рыночные цены объектов по параметрам клиента
                div(layout="row")
                    div(flex="25")
                        h3(style='color: #9e9e9e').md-title.text-normal.text-uppercase.mv-0 Минимальная
                        h2().md-display-1.mv-8 {{result.minPrice | price}}
                    div(flex="25")
                        h3(style='color: #9e9e9e').md-title.text-normal.text-uppercase.mv-0 Средняя
                        h2().md-display-1.mv-8.text-bold {{result.avgPrice | price}}
                        h2(ng-class='{"client-analytics__avg-less":result.isAvgMore,"client-analytics__avg-more":!result.isAvgMore}').md-display-1.mv-8.text-bold {{result.isAvgMore ? '+' : '-' }} {{result.difference | price}}
                    div(flex="25")
                        h3(style='color: #9e9e9e').md-title.text-normal.text-uppercase.mv-0 Максимальная
                        h2().md-display-1.mv-8 {{result.maxPrice | price}}
                    div(flex="25")
                        h3(style='color: #9e9e9e').md-title.text-normal.text-uppercase.mv-0 Предложения
                        h2(style='color: #106cc8').md-display-1.mv-8 {{result.totalRealty}} объектов
            div().p-32
                div(style='color: #9e9e9e').md-title.text-normal.mb-8 Параметры объектов
                span().mv-0
                    span(class="metro-color-{{result._id.subwaysLine}}").metro-color.client-analytics__metro-color
                    span().md-title.text-normal {{result._id.subways}} / 
                    span().md-title.text-normal Комнат: {{result._id.roomcount}}
                    //span().md-title.text-normal {{result._id.materials || 'Тип дома не важен'}} / 
                    //span().md-title.text-normal {{result._id.renovation || 'Ремонт не важен'}}
