.newList {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12);
  &_ID {
    width: 9rem;
  }
  &_Address {
    width: 15.5rem;
  }
  &_Price {
    width: 13.5rem;
  }
  &_Photo {
    width: 15.5rem;
    img {
      max-width: 14rem;
      max-height: 10.5rem;
    }
  }
  &_Info {
    width: 11rem;
  }
  &_contacts {
    width: 23.5rem;
  }
  &_Conditions {
    width: 19rem;
    img {
      display: inline-block;
      margin: 0 8px 8px;
    }
  }
  &_Actions {
    width: 14rem;
  }
  &__new-connections {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #4caf50;
  }

  &__color-blue {
    color: #106cc8 !important;
    &:hover, &:focus {
      background-color: transparent !important;
    }
  }
}

.layout-row > md-divider.md-default-theme,
.layout-row > md-divider {
  border-right-color: #f3f3f3;
}

.metro-name {
  display: inline-block;
}

.address-info {
  margin-left: 16px;
}

.price {
  font-weight: bold;
}

.type-repair {
  color: #212121;
}

.type-owner {
  color: #4caf50;
}

.favorites {
  color: #2196F3;
}

.apartment-pic {
  position: relative;
  line-height: 0;
  cursor: pointer;
  &:hover .icon-zoom {
    visibility: visible;
  }
}

.cursor-default{
  cursor: default !important;
}

.realty-card__agent {
  background-color: color($amber, 600) !important;
  color: $white !important;
}