realty-filter(filter = 'newList.filter' roomcount = 'newList.roomcount')
slide-show(slides-list='newList.slideShowImages' isshown='newList.showSlider')
div {{newList.filter}}
div {{newList.realtyCount}} объектов найдено
.md-body-1(layout='column', layout-align='space-around stretch' )
    realty-card(ng-repeat='realty in newList.realty'
    realty='realty'
    slider='newList.setSliderImages(images)')
