.newList {
  background: white;
  border: 1px solid #f3f3f3;
  &:hover {
    background: #e3f2fd;
  }
  &_ID {
    width: 9rem;
  }
  &_Address {
    width: 22.5rem;
  }
  &_Price {
    width: 13.5rem;
  }
  &_Photo {
    width: 14rem;
    img {
      max-width: 14rem;
      max-height: 10.5rem;
    }

  }
  &_Info {
    width: 11rem;
  }
  &_Conditions {
    width: 19rem;
    img {
      display: inline-block;
      margin: 0 8px 8px;
    }
  }
  &_Actions {
    width: 14rem;
  }
}

.layout-row > md-divider.md-default-theme,
.layout-row > md-divider {
  border-right-color: #f3f3f3;
}

.metro-name {
  display: inline-block;
}

.metro-color {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #388E3C;
}

.address-info {
  margin-left: 16px;
}

.price {
  font-weight: bold;
}

.type-repair {
  color: #212121;
}

.type-owner {
  color: #4caf50;
}

.favorites {
  color: #2196F3;
}

.apartment-pic {
  position: relative;
  line-height: 0;
  cursor: pointer;
  &:hover .icon-zoom {
    visibility: visible;
  }
}

.btn-get-object,
.btn-plan-object {
  margin: 6px 0;
}
