.newList {
  background-color: $white;
  &__default {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12);
  }

  &__blue {
    border: 3px solid #2196f3;
  }

  &__green {
    border: 3px solid #66bb6a;
  }

  &_ID {
    width: 21.5rem;
  }
  &_Address {
    width: 17rem;
  }
  &_Price {
    width: 14rem;
  }
  &_Photo {
    width: 18rem;
    img {
      max-width: 15rem;
    }
  }
  &_Info {
    width: 8rem;
  }
  &_contacts {
    width: 11rem;
  }
  &_Conditions {
    width: 19rem;
    img {
      display: inline-block;
      margin: 0 8px 8px;
    }
  }
  &_Actions {
    width: 17rem;
  }
  &__new-connections {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #4caf50;
  }

  &__green-label {
    background-color: #4caf50;
  }

  &__purple-label {
    background-color: #ff88ff;
    white-space: nowrap;
  }

  &__blue-label {
    background-color: #2196f3;
  }
  
  &__purple-label,
  &__blue-label, 
  &__green-label {
    height: 26px;
    line-height: 26px;
    color: $white;
  }

  &__description {
    overflow: auto;
  }

  &__description-blue {
    border-top: 3px solid #2196f3;
  }
  
  &__description-green {
    border-top: 3px solid #66bb6a;
  }

  &__income-blue {
    border-left: 2px solid #2196f3;
    border-bottom: 2px solid #2196f3;
  }
  &__income-green {
    border-left: 2px solid #66bb6a;
    border-bottom: 2px solid #66bb6a;
  }
  &__income-default {
    border-bottom: 1px solid #f3f3f3;
  }
  &__description-btn-large {
    min-width: 260px !important;
  }
}

.layout-row > md-divider.md-default-theme,
.layout-row > md-divider {
  border-right-color: #f3f3f3;
}

.metro-name {
  display: inline-block;
}

.address-info {
  margin-left: 16px;
}

.price {
  font-weight: bold;
}

.type-repair {
  color: #212121;
}

.type-owner {
  color: #4caf50;
}

.favorites {
  color: #2196F3;
}

.apartment-pic {
  position: relative;
  line-height: 0;
  cursor: pointer;
  &:hover .icon-zoom {
    visibility: visible;
  }
}

.cursor-default{
  cursor: default !important;
  &:hover .icon-zoom {
    visibility: hidden !important;
  }
}

.realty-card__agent {
  background-color: color($amber, 600) !important;
  color: $white !important;
}