.one-review-advert-yandex {
  &__boards {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    
    td {
      padding: 5px 10px 7px;
      font-size: 11px;
      border: 1px solid #cdcdcd;
      img {
        vertical-align: top;
        border: none;
      }
    }
  }
}