div(md-whiteframe='2').mv-16.ph-32.pv-16
	table(cellspacing='2', cellpadding='2').one-review-advert-yandex__boards
		thead
			td(align='center' rowspan='2')
				b Сайт
		tbody
			tr
				td #[img(src='img/icons/boards/afy.gif')] AFY.ru
			tr
				td #[img(src='img/icons/boards/afy.gif')] AFY.ru - новостройки
			tr
				td #[img(src='img/icons/boards/mosr.gif')] Mosr.ru
			tr
				td #[img(src='img/icons/boards/mosr.gif')] Mosr.ru - новостройки
			tr
				td #[img(src='img/icons/boards/proground.gif')] Proground.ru
			tr
				td(style='padding-left: 29px') 97.ru
			tr
				td(style='padding-left: 29px') Data.ht
			tr
				td #[img(src='img/icons/boards/1rs.gif')] 1rs.su
			tr
				td #[img(src='img/icons/boards/yd.gif')] Direct.yandex.ru
			tr
				td #[img(src='img/icons/boards/r2n.gif')] База R2-navigator.ru
			tr
				td #[img(src='img/icons/boards/realto.gif')] База Realto.ru
			tr
				td #[img(src='img/icons/boards/rbk.gif')] Realty.rbc.ru
			tr
				td #[img(src='img/icons/boards/yandex.gif')] Realty.yandex.ru
			tr
				td #[img(src='img/icons/boards/eest.gif')] Eest.ru
			tr
				td #[img(src='img/icons/boards/kd.gif')] Kvartiri-domiki.ru
			tr
				td #[img(src='img/icons/boards/mitula.gif')] Mitula.ru
			tr
				td #[img(src='img/icons/boards/realty.mail.gif')] Realty.mail.ru
			tr
				td #[img(src='img/icons/boards/rsys.png')] RealtySystems.ru
			tr
				td #[img(src='img/icons/boards/rz.gif')] Rentzilla.ru
			tr
				td #[img(src='img/icons/boards/rep.gif')] Reportal.ru
			tr
				td #[img(src='img/icons/boards/avaho.gif')] Avaho.ru
			tr
				td #[img(src='img/icons/boards/kvart.gif')] Kvartirant.ru
			tr
				td #[img(src='img/icons/boards/ruj.gif')] Rujazi.com
			tr
				td #[img(src='img/icons/boards/allpn.gif')] Allpn.ru
			tr
				td #[img(src='img/icons/boards/ark.gif')] Arkadia.com
			tr
				td #[img(src='img/icons/boards/best.gif')] Bestru.ru
			tr
				td #[img(src='img/icons/boards/chance.gif')] Chance.ru
			tr
				td #[img(src='img/icons/boards/comm.gif')] Commercialrealty.ru
			tr
				td #[img(src='img/icons/boards/cott.gif')] Cottage.ru
			tr
				td #[img(src='img/icons/boards/doski.gif')] Doski.ru
			tr
				td #[img(src='img/icons/boards/egent.gif')] Egent.ru
			tr
				td #[img(src='img/icons/boards/eip.gif')] Eip.ru
			tr
				td #[img(src='img/icons/boards/iburg.gif')] Iburg.ru
			tr
				td #[img(src='img/icons/boards/kdrm.gif')] Kvadroom.ru
			tr
				td #[img(src='img/icons/boards/kvm.gif')] Kvmeter.ru
			tr
				td #[img(src='img/icons/boards/mesto.gif')] Mesto.ru
			tr
				td #[img(src='img/icons/boards/mrator.gif')] Mestorator.ru
			tr
				td #[img(src='img/icons/boards/mirkvartir.gif')] Mirkvartir.ru
			tr
				td #[img(src='img/icons/boards/mlsn.gif')] Mlsn.ru
			tr
				td #[img(src='img/icons/boards/Move.gif')] Move.su
			tr
				td #[img(src='img/icons/boards/realestate.gif')] RealEstate.ru
			tr
				td #[img(src='img/icons/boards/rmag.gif')] Realtymag.ru
			tr
				td #[img(src='img/icons/boards/rrealty.gif')] Regionalrealty.ru
			tr
				td #[img(src='img/icons/boards/ruc.gif')] Rucountry.ru
			tr
				td #[img(src='img/icons/boards/rr.gif')] RussianRealty.ru
			tr
				td #[img(src='img/icons/boards/trovit.gif')] Trovit.ru
			tr
				td #[img(src='img/icons/boards/ubu.gif')] Ubu.ru
			tr
				td #[img(src='img/icons/boards/urbanus.gif')] Urbanus.ru
			tr
				td #[img(src='img/icons/boards/zag.gif')] Za-gorodom.su
			tr
				td #[img(src='img/icons/boards/bsn.gif')] Bsn.ru
			tr
				td #[img(src='img/icons/boards/ged.gif')] GdeEtotDom.ru
			tr
				td #[img(src='img/icons/boards/mn.gif')] Realty.metronews.ru
			tr
				td #[img(src='img/icons/boards/rp.gif')] Realtypress.ru
			tr
				td #[img(src='img/icons/boards/geo.gif')] GdeEtotOffice.ru
			tr
				td #[img(src='img/icons/boards/irr.gif')] Irr.ru
			tr
				td #[img(src='img/icons/boards/restate.gif')] Restate.ru
			tr
				td #[img(src='img/icons/boards/vdol.gif')] Vdolevke.ru
			tr
				td #[img(src='img/icons/boards/bn.gif')] Bn.ru
			tr
				td #[img(src='img/icons/boards/ch.gif')] Choister.ru
			tr
				td #[img(src='img/icons/boards/domex.gif')] Domex.ru
			tr
				td #[img(src='img/icons/boards/esalle.gif')] Esalle.ru
			tr
				td #[img(src='img/icons/boards/ners.gif')] Ners.ru
			tr
				td #[img(src='img/icons/boards/pingola.gif')] Pingola.ru
			tr
				td #[img(src='img/icons/boards/tvoi.gif')] Tvoisotki.ru
			tr
				td #[img(src='img/icons/boards/naydidom.gif')] NaydiDom.com
			tr
				td #[img(src='img/icons/boards/reforum.gif')] MSK.reforum.ru
			tr
				td #[img(src='img/icons/boards/kp.gif')] Kp.ru
			tr
				td #[img(src='img/icons/boards/vm.gif')] Vm.ru
			tr
				td #[img(src='img/icons/boards/best-stroy.gif')] Best-stroy.ru
			tr
				td #[img(src='img/icons/boards/dk.gif')] Dk.ru
			tr
				td #[img(src='img/icons/boards/newsland.gif')] Newsland.ru
			tr
				td #[img(src='img/icons/boards/newizv.gif')] Newizv.ru
			tr
				td #[img(src='img/icons/boards/arendator.gif')] Arendator.ru
			tr
				td #[img(src='img/icons/boards/cian.gif')] Cian.ru
			tr
				td #[img(src='img/icons/boards/realty.dmir.gif')] Realty.dmir.ru
			tr
				td #[img(src='img/icons/boards/glavkom.gif')] Glavkomspb.ru
			tr
				td #[img(src='img/icons/boards/zakadom.gif')] Zakadom.ru
	