md-input-container(ng-if='!realtyConditions.checkbox')
    label Выбрать удобства
    md-select(ng-model='realtyConditions.conditionsSelected', multiple='true')
        md-option(ng-value='condition.id',
        ng-repeat='condition in realtyConditions.conditionsDictionary') {{condition.name}}
div(ng-if='realtyConditions.checkbox' layout='row' layout-wrap)
    div(ng-repeat='condition in realtyConditions.conditionsDictionary' flex='33').realty-conditions-spaces
        md-checkbox(ng-model='condition.boo' ng-click='realtyConditions.toggle(condition.id)').md-primary.md-body-1 {{condition.name}}