<div flex layout="column">

    <!-- Container #1 (in wireframe) -->
    <md-toolbar layout="row" class="md-whiteframe-z2">
        <md-button class="menu" hide-gt-sm ng-click="crm.toggleList()" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Starter App</h1>
    </md-toolbar>

    <!-- Container #2 (in wireframe) -->
    <div flex layout="row">

        <!-- Container #3 (in wireframe) -->
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left"
                    layout="column">

            <md-button>
                Добавить
            </md-button>
            <md-list layout="column">
                <md-list-item ng-repeat="it in crm.users" href="{{it.href}}">
                    <md-button ng-click="crm.selectUser(it)" ng-class="{'selected' : it === crm.selected }">
                        {{it.name}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <!-- Container #4 (in wireframe) -->
        <md-content flex id="content">
            <ui-view></ui-view>
        </md-content>

    </div>
</div>
