<div flex layout="column">
    <md-toolbar layout="row">
        <md-button class="menu" hide-gt-sm ng-click="crm.toggleList()" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <div class="brand-logo"></div>
        <span flex class="flex"></span>
        <div class="today-date">
            <span class="time">9:00</span>
            <span class="weekday">Вторник</span>
            <span class="divider">/</span>
            <span class="day">31 Января</span>
        </div>
    </md-toolbar>
    <div flex layout="row">
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" layout="column">
            <md-button class="add-btn">Добавить</md-button>
            <md-list layout="column" class="menu-block">
                <md-list-item class="menu-item">
                    <md-button class="menu-item-link selected">CRM</md-button>
                </md-list-item>
                <md-list-item class="menu-item">
                    <md-button class="menu-item-link">Сообщения</md-button>
                </md-list-item>
                <md-list-item class="menu-item">
                    <md-button class="menu-item-link">Документы</md-button>
                </md-list-item>
                <md-list-item class="menu-item">
                    <md-button class="menu-item-link">Настройки</md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content flex class="workarea">
            <div class="crm-panel">
                <ul class="crm-menu">
                    <li class="crm-menu-item selected">
                        <a href="#" class="crm-menu-item-link">
                            <span class="crm-menu-icon icon-objects"></span>
                            <span class="crm-menu-name">Объекты</span>
                        </a>
                    </li>
                    <li class="crm-menu-item">
                        <a href="#" class="crm-menu-item-link">
                            <span class="crm-menu-icon icon-clients"></span>
                            <span class="crm-menu-name">Клиенты</span>
                        </a>
                    </li>
                    <li class="crm-menu-item">
                        <a href="#" class="crm-menu-item-link">
                            <span class="crm-menu-icon icon-my-business"></span>
                            <span class="crm-menu-name">Мои дела</span>
                        </a>
                    </li>
                    <li class="crm-menu-item">
                        <a href="#" class="crm-menu-item-link">
                            <span class="crm-menu-icon icon-report"></span>
                            <span class="crm-menu-name">Отчет</span>
                        </a>
                    </li>
                </ul>
                <div class="crm-address-panel">
                    <md-button class="btn-back">
                        <md-icon md-svg-icon="svg/icon-arrow-left.svg"></md-icon>
                    </md-button>
                    <span class="address">ул.Таганская д.15 к.1  кв.20</span>
                </div>
                <div class="objects-panel">
                    <ul class="objects-menu">
                        <li class="objects-menu-item"><a class="objects-menu-link selected" href="#">Реклама</a></li>
                        <li class="objects-menu-item"><a class="objects-menu-link" href="#">Объект</a></li>
                    </ul>
                    <ul class="objects-submenu">
                        <li class="objects-submenu-item"><a class="objects-submenu-link selected" href="#">Подготовка</a></li>
                        <li class="objects-submenu-item"><a class="objects-submenu-link" href="#">Рекламировать</a></li>
                        <li class="objects-submenu-item"><a class="objects-submenu-link" href="#">Связи</a></li>
                        <li class="objects-submenu-item"><a class="objects-submenu-link" href="#">Соц. сети</a></li>
                        <li class="objects-submenu-item"><a class="objects-submenu-link" href="#">Предложение</a></li>
                    </ul>
                </div>
            </div>
            <h1 class="content-title">Шансы на сделку</h1>
            <div class="content-block first-content-block">
                <div layout="row" layout-align="center center">
                    <div flex="35"><h1 class="content-block-title">1) Фото 20%</h1></div>
                    <div flex="25"><md-button class="add-photo">Добавить фотографии</md-button></div>
                    <div flex="40">
                        <div class="content-block-text">
                            <h3 class="content-block-text-title">Ответ модератора:</h3>
                            <p class="content-block-text-desc">Не качественные.</p>
                            <p class="content-block-text-desc">Закажите профессиональные <a href="#">в 2 клика</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="added-photos">
                <div layout="row" layout-wrap class="added-photo-list">
                    <div flex="30" class="added-photo-item">
                        <md-button class="btn-remove-photo"></md-button>
                        <md-button class="btn-make-main-photo">Сделать главным фото</md-button>
                        <img src="img/common/photo-1.jpg" alt="Фото-1">
                    </div>
                    <div flex="30" class="added-photo-item">
                        <md-button class="btn-remove-photo"></md-button>
                        <img src="img/common/photo-1.jpg" alt="Фото-1">
                    </div>
                    <div flex="30" class="added-photo-item">
                        <md-button class="btn-remove-photo"></md-button>
                        <img src="img/common/photo-1.jpg" alt="Фото-1">
                    </div>
                    <div flex="30" class="added-photo-item">
                        <md-button class="btn-remove-photo"></md-button>
                        <img src="img/common/photo-1.jpg" alt="Фото-1">
                    </div>
                    <div flex="30" class="added-photo-item">
                        <md-button class="btn-remove-photo"></md-button>
                        <img src="img/common/photo-1.jpg" alt="Фото-1">
                    </div>
                    <div flex="30" class="added-photo-item">
                        <md-button class="btn-remove-photo"></md-button>
                        <img src="img/common/photo-1.jpg" alt="Фото-1">
                    </div>
                    <div flex="30" class="added-photo-item">
                        <md-button class="btn-remove-photo"></md-button>
                        <img src="img/common/photo-1.jpg" alt="Фото-1">
                    </div>
                    <div flex="30" class="added-photo-item">
                        <md-button class="btn-remove-photo"></md-button>
                        <img src="img/common/photo-1.jpg" alt="Фото-1">
                    </div>
                    <div flex="30" class="added-photo-item">
                        <md-button class="btn-remove-photo"></md-button>
                        <img src="img/common/photo-1.jpg" alt="Фото-1">
                    </div>
                </div>
            </div>
            <div class="content-block">
                <div layout="row" layout-align="center center">
                    <div flex="35"><h1 class="content-block-title">2) Просмотр 0%</h1></div>
                    <div flex="25">
                        <md-button class="btn-yes">Да</md-button>
                        <md-button class="btn-no">Нет</md-button>
                    </div>
                    <div flex="40">
                        <div class="content-block-text">
                            <h3 class="content-block-text-title">Ответ модератора:</h3>
                            <p class="content-block-text-desc">Без просмотра сложно совершать сделки. Посмотрите.</p>
                            <p class="content-block-text-desc"><a href="#">&laquo;Как делать эффективный просмотр&raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-block">
                <div layout="row" layout-align="center center">
                    <div flex="60"><h1 class="content-block-title">3) Качество рекламы 50%</h1></div>
                    <div flex="40">
                        <div class="content-block-text">
                            <h3 class="content-block-text-title">Ответ модератора:</h3>
                            <p class="content-block-text-desc">Текст текст</p>
                            <p class="content-block-text-desc">вторая строка</p>
                        </div>
                    </div>
                </div>
                <div layout="column">
                    <div flex class="buy-title-container">
                        <input flex type="text" class="buy-title" placeholder="Уникальный продающий заголовок 65 символов, который тебя цепляет">
                        <span class="buy-title-size">65</span>
                    </div>
                    <div flex class="buy-message-container">
                        <textarea flex name="buy-message" id="" class="buy-message"></textarea>
                    </div>
                    <div class="fixed-block">
                        <div flex layout="row">
                            <div flex=65 layout="row">
                                <div flex>
                                    <div class="form-group">
                                        <input type="checkbox" id="checkbox1" class="square-checkbox">
                                        <label for="checkbox1" class="square-label">
                                            <span class="btn-refresh"></span>
                                            <span class="checkbox-alt"></span>
                                            Мебель
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="checkbox2" class="square-checkbox">
                                        <label for="checkbox2" class="square-label">
                                            <span class="btn-refresh"></span>
                                            <span class="checkbox-alt"></span>
                                            Кух. Мебель
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="checkbox3" class="square-checkbox">
                                        <label for="checkbox3" class="square-label">
                                            <span class="btn-refresh"></span>
                                            <span class="checkbox-alt"></span>
                                            Телевизор
                                        </label>
                                    </div>
                                </div>
                                <div flex>
                                    <div class="form-group">
                                        <input type="checkbox" id="checkbox4" class="square-checkbox">
                                        <label for="checkbox4" class="square-label">
                                            <span class="btn-refresh"></span>
                                            <span class="checkbox-alt"></span>
                                            Холодильник
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="checkbox5" class="square-checkbox">
                                        <label for="checkbox5" class="square-label">
                                            <span class="btn-refresh"></span>
                                            <span class="checkbox-alt"></span>
                                            Стир. машина
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="checkbox6" class="square-checkbox">
                                        <label for="checkbox6" class="square-label">
                                            <span class="btn-refresh"></span>
                                            <span class="checkbox-alt"></span>
                                            С животными
                                        </label>
                                    </div>
                                </div>
                                <div flex>
                                    <div class="form-group">
                                        <input type="checkbox" id="checkbox7" class="square-checkbox">
                                        <label for="checkbox7" class="square-label">
                                            <span class="btn-refresh"></span>
                                            <span class="checkbox-alt"></span>
                                            С детьми
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="checkbox8" class="square-checkbox">
                                        <label for="checkbox8" class="square-label">
                                            <span class="btn-refresh"></span>
                                            <span class="checkbox-alt"></span>
                                            Балкон
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="checkbox9" class="square-checkbox">
                                        <label for="checkbox9" class="square-label">
                                            <span class="btn-refresh"></span>
                                            <span class="checkbox-alt"></span>
                                            Лифт
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="checkbox10" class="square-checkbox">
                                        <label for="checkbox10" class="square-label">
                                            <span class="btn-refresh"></span>
                                            <span class="checkbox-alt"></span>
                                            Wi-Fi
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div flex="35">
                                <div class="form-group checkbox-wrapper">
                                    <label for="checkbox7" class="square-label">
                                        <span class="btn-refresh"></span>
                                        Вид из окна
                                    </label>
                                    <div class="select-container">
                                        <select class="view-from-window">
                                            <option value="Улица">Улица</option>
                                            <option value="Двор">Двор</option>
                                            <option value="Улица">Улица</option>
                                            <option value="Двор">Двор</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-button class="btn-blue generate-new-desc">Сгенерировать новое описание</md-button>
                </div>
            </div>
            <div class="content-block">
                <div layout="row" layout-align="center center">
                    <div flex="60"><h1 class="content-block-title">4) Объем рекламы 10%</h1></div>
                    <div flex="40">
                        <div class="content-block-text">
                            <h3 class="content-block-text-title">Ответ модератора:</h3>
                            <p class="content-block-text-desc">Текст текст</p>
                            <p class="content-block-text-desc">вторая строка</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-block">
                <div layout="row" layout-align="center center">
                    <div flex="35"><h1 class="content-block-title">5) Эксклюзив 0%</h1></div>
                    <div flex="25">
                        <md-button class="btn-yes">Да</md-button>
                        <md-button class="btn-no">Нет</md-button>
                    </div>
                    <div flex="40">
                        <div class="content-block-text">
                            <h3 class="content-block-text-title">Ответ модератора:</h3>
                            <p class="content-block-text-desc">Пройдите интенсив</p>
                            <p class="content-block-text-desc"><a href="#">&laquo;Как умело закрывать на эксклюзив за 10 минут&raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-save-container">
                <md-button class="btn-save">Сохранить</md-button>
            </div>
        </md-content>
    </div>
</div>
