<div flex layout="column">
    <md-toolbar layout="row">
        <md-button class="menu" hide-gt-sm ng-click="crm.toggleList()" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <div class="brand-logo"></div>
        <span flex class="flex"></span>
        <div class="today-date">
            <span class="time">9:00</span>
            <span class="weekday">Вторник</span>
            <span class="divider">/</span>
            <span class="day">31 Января</span>
        </div>
    </md-toolbar>
    <div flex layout="row">
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" layout="column">
            <md-button class="add-btn">Добавить</md-button>
            <md-list layout="column" class="menu-block">
                <md-list-item class="menu-item">
                    <md-button class="menu-item-link selected">CRM</md-button>
                </md-list-item>
                <md-list-item class="menu-item">
                    <md-button class="menu-item-link">Сообщения</md-button>
                </md-list-item>
                <md-list-item class="menu-item">
                    <md-button class="menu-item-link">Документы</md-button>
                </md-list-item>
                <md-list-item class="menu-item">
                    <md-button class="menu-item-link">Настройки</md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content flex class="workarea">
            <div class="crm-panel">
                <ul class="crm-menu">
                    <li class="crm-menu-item selected">
                        <a href="#" class="crm-menu-item-link">
                            <span class="crm-menu-icon icon-objects"></span>
                            <span class="crm-menu-name">Объекты</span>
                        </a>
                    </li>
                    <li class="crm-menu-item">
                        <a href="#" class="crm-menu-item-link">
                            <span class="crm-menu-icon icon-clients"></span>
                            <span class="crm-menu-name">Клиенты</span>
                        </a>
                    </li>
                    <li class="crm-menu-item">
                        <a href="#" class="crm-menu-item-link">
                            <span class="crm-menu-icon icon-my-business"></span>
                            <span class="crm-menu-name">Мои дела</span>
                        </a>
                    </li>
                    <li class="crm-menu-item">
                        <a href="#" class="crm-menu-item-link">
                            <span class="crm-menu-icon icon-report"></span>
                            <span class="crm-menu-name">Отчет</span>
                        </a>
                    </li>
                </ul>
                <div class="crm-address-panel">
                    <md-button class="btn-back">
                        <md-icon md-svg-icon="svg/icon-arrow-left.svg"></md-icon>
                    </md-button>
                    <span class="address">ул.Таганская д.15 к.1  кв.20</span>
                </div>
                <div class="objects-panel">
                    <ul class="objects-menu">
                        <li class="objects-menu-item"><a class="objects-menu-link selected" href="#">Реклама</a></li>
                        <li class="objects-menu-item"><a class="objects-menu-link" href="#">Объект</a></li>
                    </ul>
                    <ul class="objects-submenu">
                        <li class="objects-submenu-item"><a class="objects-submenu-link selected" href="#">Подготовка</a></li>
                        <li class="objects-submenu-item"><a class="objects-submenu-link" href="#">Рекламировать</a></li>
                        <li class="objects-submenu-item"><a class="objects-submenu-link" href="#">Связи</a></li>
                        <li class="objects-submenu-item"><a class="objects-submenu-link" href="#">Соц. сети</a></li>
                        <li class="objects-submenu-item"><a class="objects-submenu-link" href="#">Предложение</a></li>
                    </ul>
                </div>
            </div>
        </md-content>
    </div>
</div>
