one-info {
  display: block;
  margin-bottom: 130px;
  .md-button {
    min-width: 110px;
  }

  md-switch {
    margin: 2px 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.one-info-closed .md-title {
  margin-top: 0;
}

.oneInfo-image-container {
  position: relative;
  background: white;
  width: 664px;
  height: 442px;
  text-align: center;
  img {
    max-height: 442px;
    max-width: 664px;
  }
}

.oneInfo-image-inner {
  display: inline-block;
  position: relative;
}

.one-info{
  &-archive{
    &__block{
      z-index: 71;
      position: fixed;
      top: 50px;
      width: 300px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #fff;
    }
  }
}