div {{oneInfo.realty}}
div(layout="column", layout-align="space-around stretch")
    div
        img(ng-src="realty_no_image.png", md-whiteframe="2")
    div(layout="row", layout-align="space-between")
        div(md-whiteframe='2' flex='30' layout-padding) 
            div().md-subhead Область: #[strong Московская]
            div().md-subhead Город: #[strong Москва]
            div().md-subhead Метро: #[strong Лубянка 5 мин. пешом]
            div().md-subhead Район: #[strong ЦАО]
            div().md-subhead Тип здания: #[strong Кирпичный]
            div().md-subhead Комнат: #[strong 3 комнатная]
            div().md-subhead Срок: #[strong длительный]
            div().md-subhead Цена: #[strong 38 000]
            div().md-subhead Этаж: #[strong 10 из 55]
            div().md-subhead Общая: #[strong 64 м#[sup 2]]
            div().md-subhead Собственник: #[strong Лояльный]
            div().md-subhead Уровень ремонта: #[strong Евроремонт]
            div
                md-button().md-primary.md-raised.ml-0 Изменить
        div(md-whiteframe='2' flex='20').mh-16
            md-switch.md-warn(ng-model='oneInfo[condition.id]',
            aria-label='Switch 2',
            ng-true-value="'{{condition.id}}'",
            ng-false-value="",
            ng-repeat="condition in oneInfo.dictionary.conditions")
                | {{condition.name}}

        div(md-whiteframe='2' flex='50').one-info-contacts.p-16
            div(layout='column')
                h3().md-title Контакт №1
                div(layout='row' layout-align='space-between')
                    div(flex='70')
                        md-input-container(flex='80' md-no-float).md-block.m-0
                            input(placeholder='Сикорский Олег Евгеньевич')
                        md-input-container(flex='40' md-no-float).md-block.m-0
                            input(placeholder='8 925 111 22 33')
                        md-input-container(flex='40' md-no-float).md-block.m-0
                            input(placeholder='8 925 111 44 55')
                        md-button().md-primary.md-caption.ml-0 Добавить номер
                    div(flex='30')
                        md-input-container(md-no-float).md-block.m-0
                            input(placeholder='Собственник')
                        md-input-container(md-no-float).md-block.m-0
                            input(placeholder='тестовая заметка')
                        md-input-container(md-no-float).md-block.m-0
                            input(placeholder='тестовая заметка')
            div(layout='column')
                h3().md-title Контакт №2
                div(layout='row' layout-align='space-between')
                    div(flex='70')
                        md-input-container(flex='80' md-no-float).md-block.m-0
                            input(placeholder='Сикорский Олег Евгеньевич')
                        md-input-container(flex='40' md-no-float).md-block.m-0
                            input(placeholder='8 925 111 22 33')
                        md-input-container(flex='40' md-no-float).md-block.m-0
                            input(placeholder='8 925 111 44 55')
                        md-button().md-primary.md-caption.ml-0 Добавить номер
                    div(flex='30')
                        md-input-container(md-no-float).md-block.m-0
                            input(placeholder='Собственник')
                        md-input-container(md-no-float).md-block.m-0
                            input(placeholder='тестовая заметка')
                        md-input-container(md-no-float).md-block.m-0
                            input(placeholder='тестовая заметка')
            div
                md-button().md-primary.md-raised.ml-0 Сохранить

    div(md-whiteframe="2").one-info-closed.mv-16.p-16
        h3().md-title Закрытие сделки
        div
            md-button().md-primary.md-raised.ml-0 Закрыть сделку и переместить объект в архив



