loader(ng-if="oneInfo.showLoader == true")
one-info-edit(realty="oneInfo.realty" show="oneInfo.editDialogShow" ng-if="oneInfo.editDialogShow")
div(layout="column", layout-align="space-around stretch")
    div(layout="row" layout-align='start center').one-info__slider
        div(hide) 
            div(ng-repeat="image in oneInfo.realty.details.images")
                img(src="{{image.url}}")
        div(md-whiteframe='2').oneInfo-image-container.mv-16
            button.slide__prev(ng-click="oneInfo.nextImage(false,oneInfo.realty.details.images.length)").md-raised
            button.slide__next(ng-click="oneInfo.nextImage(true,oneInfo.realty.details.images.length)").md-raised
            div.oneInfo-image-inner
                img(src="{{oneInfo.realty.details.images[oneInfo.slideNum].url}}")

    div(layout='row' layout-align='space-between start')
        div(md-whiteframe='2' flex='66').one-info__notes.mr-16.p-16
            h3().md-title.mt-0.mb-32 Заметка по объекту
            div(layout='column' layout-align='space-between none').one-info__notes-text
                md-input-container().md-block.mt-0
                    textarea(maxlength="2000" ng-model="oneInfo.realty.realtor.comment" aria-label='Заметка по объекту')
                div
                    md-button(aria-label='Сохранить' ng-click='oneInfo.realtyUpdate()').md-primary.md-raised.m-0 Сохранить
        div(md-whiteframe='2' flex='33').one-info__contacts.p-16
            h3().md-title.mt-0.mb-32 Контакты собственника
            md-input-container().md-block.mt-16.mb-0
                label Имя
                input(type='text' ng-model='oneInfo.realty.contacts[0].name').md-title
            phone-mask(ng-if='oneInfo.realty.contacts[0].phones[0].phone' label='"Телефон"' phone='oneInfo.realty.contacts[0].phones[0].phone').mt-16
            md-button(aria-label='Сохранить' ng-click='oneInfo.realtyUpdate()').md-primary.md-raised.m-0 Сохранить

    div(layout='row').mt-16
        div(md-whiteframe='2' flex).one-info__realty
            div(layout='row')
                div(flex='33' layout='row').ph-32.pv-16
                    div(layout='column' layout-align='space-between start')
                        div(flex)
                            h3().md-subhead.text-bold.text-uppercase.mt-0 Месторасположение
                            div(layout='row' layout-align='space-around start').md-subhead.mv-8
                                div(flex='60') Город:
                                div(flex='40') #[strong Москва]
                            div(layout='row' layout-align='space-around start').md-subhead.mv-8
                                div(flex='60') Округ:
                                div(flex='40') #[strong {{oneInfo.realty.address.areaName || 'Не указано'}}]
                            div(layout='row' layout-align='space-around start').md-subhead.mv-8
                                div(flex='60') Улица:
                                div(flex='40') #[strong {{oneInfo.realty.address.street || 'Не указано'}}]
                            div(layout='row' layout-align='space-around start').md-subhead.mv-8
                                div(flex='60') Дом и корпус:
                                div(flex='40') #[strong {{oneInfo.realty.address.house || 'Не указано'}}]
                            div(layout='row' layout-align='space-around start').md-subhead.mv-8
                                div(flex='60') Квартира:
                                div(flex='40') #[strong {{oneInfo.realty.address.flat || 'Не указано'}}]
                            div(layout='row' layout-align='space-around start').md-subhead.mv-8
                                div(flex='60') Район:
                                div(flex='40') #[strong {{oneInfo.realty.address.districtName || 'Не указано'}}]
                            div(layout='row' layout-align='space-around start' ng-if='oneInfo.realty.address.subwaysEmbedded[0].name').md-subhead.mv-8
                                div(flex='60') Метро:
                                div(flex='40') #[strong {{oneInfo.realty.address.subwaysEmbedded[0].name}}]
                            div(layout='row' layout-align='space-around start' ng-if='oneInfo.realty.address.metroTime').md-subhead.mv-8
                                div(flex='60') До метро:
                                div(flex='40') #[strong {{oneInfo.realty.address.metroTime}} мин. {{oneInfo.dictionary.transport[oneInfo.realty.address.metroTransport].name}}]
                        div(flex layout='column' layout-align='end start')
                            md-button(ng-click="oneInfo.editDialogShow = true" aria-label='Изменить').md-primary.md-raised.mh-0 Изменить
                    
                md-divider
                div(flex='33').ph-32.pv-16
                    h3().md-subhead.text-bold.text-uppercase.mt-0 Объект
                    div(layout='row' ng-if='oneInfo.realty.details.materials' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Тип здания:
                        div(flex='40') #[strong {{oneInfo.dictionary.materials[oneInfo.realty.details.materials].name}}]
                    div(layout='row' ng-if='oneInfo.realty.roomcount' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Комнат:
                        div(flex='40') #[strong {{oneInfo.realty.roomcount}} комнат]
                    div(layout='row' ng-if='oneInfo.realty.details.renovation' layout-wrap layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Ремонт:
                        div(flex='40') #[strong {{oneInfo.dictionary.renovation[oneInfo.realty.details.renovation].name}}]
                        div(flex='40' flex-offset='60' ng-if='oneInfo.realty.details.apartaments') #[strong Апартаменты]
                        div(flex='40' flex-offset='60' ng-if='oneInfo.realty.details.penthouse') #[strong Пентхаус]
                    div(layout='row' ng-if='oneInfo.realty.details.windowView !== undefined' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Окна:
                        div(flex='40') #[strong {{oneInfo.dictionary.windowView[oneInfo.realty.details.windowView].name}}]
                    div(layout='row' ng-if='oneInfo.realty.floor' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Этаж:
                        div(flex='40') #[strong {{oneInfo.realty.floor}} из {{oneInfo.realty.floormax}}]
                    div(layout='row' ng-if='oneInfo.realty.square' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Общая:
                        div(flex='40') #[strong {{oneInfo.realty.square}}]
                    div(layout='row' ng-if='oneInfo.realty.details.livingSquare' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Жилая:
                        div(flex='40') #[strong {{oneInfo.realty.details.livingSquare}}]
                    div(layout='row' ng-if='oneInfo.realty.details.kitchenSquare' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Кухни:
                        div(flex='40') #[strong {{oneInfo.realty.details.kitchenSquare}}]
                    div(layout='row' ng-if='oneInfo.realty.details.loggia' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Лоджия:
                        div(flex='40') #[strong {{oneInfo.realty.details.loggia}}]
                    div(layout='row' ng-if='oneInfo.realty.details.balcony' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Балкон:
                        div(flex='40') #[strong {{oneInfo.realty.details.balcony}}]
                    div(layout='row' ng-if='oneInfo.realty.details.elevator' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Пасс. лифтов:
                        div(flex='40') #[strong {{oneInfo.realty.details.elevator}}]
                    div(layout='row' ng-if='oneInfo.realty.details.elevatorBig' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Груз. лифтов:
                        div(flex='40') #[strong {{oneInfo.realty.details.elevatorBig}}]
                md-divider
                div(flex='33').ph-32.pv-16
                    h3().md-subhead.text-bold.text-uppercase.mt-0 Условия
                    div(ng-if='oneInfo.realty.details.composition').md-subhead Состав съемщиков
                        div(ng-repeat="position in oneInfo.realty.details.composition")
                            div().md-subhead #[strong {{oneInfo.dictionary.composition[position].name}} ]
                    div(layout='row' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Срок:
                        div(flex='40') #[strong длительный]
                    div(layout='row' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Цена:
                        div(flex='40') #[strong {{oneInfo.realty.price | price}}]
                    div(layout='row' ng-if='oneInfo.realty.comission && oneInfo.realty.comissionLoyal' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') Собственник:
                        div(flex='40') #[strong {{oneInfo.realty.comission}}]%
                    div(layout='row' ng-if='oneInfo.realty.realtor.clientpercent' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') От клиента:
                        div(flex='40') #[strong {{oneInfo.realty.realtor.clientpercent || 0}}]%
                    div(layout='row' ng-if='oneInfo.realty.realtor.partnerpercent' layout-align='space-around start').md-subhead.mv-8
                        div(flex='60') От партнера:
                        div(flex='40') #[strong {{oneInfo.realty.realtor.partnerpercent || 0}}]%

    div(layout='row' layout-align='start start').one-info__wrapper.mt-16
        div(md-whiteframe='2' flex='100' flex-gt-sm='50').one-info__current-conditions.mr-16.ph-32.pv-16
            div(layout='row' layout-align='space-around start' layout-wrap) {{oneInfo.currentConditions[$index].presence}}
                md-switch(flex='50' ng-model='oneInfo.currentConditions[$index].presence',
                aria-label='Switch 2'
                ng-repeat="condition in oneInfo.dictionary.conditions"
                ng-click="oneInfo.onConditionsChange(condition.id)").md-warn {{condition.name}}
        div(md-whiteframe='2' flex='50').one-info__close-deal.p-16
            div(layout='column' layout-align='center start')
                h3().md-title.mt-0 Закрытие сделки
                md-button(ng-click='oneInfo.openArchiveDialog($event)' aria-label='Закрыть сделку и переместить объект в архив').md-primary.md-raised.mt-0.mb-16.mh-0  Закрыть сделку и перенести объект в архив
        
        
    
