one-info {
	div[md-whiteframe] {
		background-color: $white;
	}
}

.one-info-contacts {
	md-input-container {
		.md-errors-spacer {
			min-height: 0;
		}
	}

	.md-title {
		margin: 0;
	}
}

.one-info-closed .md-title {
	margin-top: 0;
}

.oneInfo-image-container {
	position: relative;
	background: white;
	width: 664px;
	height: 442px;
	margin: 0 auto;
	text-align: center;
	img {
		max-height: 442px;
		max-width: 664px;
	}
}

.oneInfo-image-inner {
	display: inline-block;
	position: relative;
}

.slide__prev,
.slide__next {
	position: absolute;
  background: url('img/icons/icon-arrow-left.png') no-repeat;
  width: 42px;
  height: 42px;
  appearance: none;
  border: none;
  outline: none;
}

.slide__prev {
  top: 50%;
  transform: translate(0, -50%) scaleX(-1);
	left: 0;
}

.slide__next {
  top: 50%;
  transform: translate(0, -50%);
	right: 0;
}
