one-info-edit(ng-if="oneInfo.realty" realty="oneInfo.realty" show="oneInfo.editDialogShow")
div(layout="column", layout-align="space-around stretch")
    // IMAGES
    div(layout="row" layout-align='start center')
        div(hide) 
            div(ng-repeat="image in oneInfo.realty.details.images")
                img(src="{{image.url}}")
        div(md-whiteframe='2').oneInfo-image-container.mv-16
            button.slide__prev(ng-click="oneInfo.nextImage(false,oneInfo.realty.details.images.length)").md-raised
            button.slide__next(ng-click="oneInfo.nextImage(true,oneInfo.realty.details.images.length)").md-raised
            div.oneInfo-image-inner
                img(src="{{oneInfo.realty.details.images[oneInfo.slideNum].url}}")
    div(layout="row", layout-align="space-between")
        div(md-whiteframe='2' flex='80' layout-padding layout="row")
            div(flex="33")
                h2 Месторасположение
                div
                    //div().md-subhead Область: #[strong {{oneInfo.realty.address.meta.region}}]
                    div().md-subhead Город: #[strong Москва]
                    div().md-subhead Округ: #[strong {{oneInfo.realty.address.areaName}}]
                    div().md-subhead Район: #[strong {{oneInfo.realty.address.districtName}}]
                    div().md-subhead Улица: #[strong {{oneInfo.realty.address.street}}]
                    div().md-subhead Дом и корп: #[strong {{oneInfo.realty.address.house}}]
                    div().md-subhead Квартира: #[strong {{oneInfo.realty.address.flat}}]
                    div().md-subhead Метро: #[strong {{oneInfo.realty.address.subwaysEmbedded[0].name}} {{oneInfo.realty.address.metroTime}} мин. {{oneInfo.dictionary.transport[oneInfo.realty.address.metroTransport].name}}]
                    div
                        md-button(ng-click="oneInfo.showEditDialog($event)").md-primary.md-raised.ml-0 Изменить

            div(flex="33")
                h2 Объект
                div
                    div().md-subhead Тип здания: #[strong {{oneInfo.dictionary.materials[oneInfo.realty.details.materials].name}}]
                    div().md-subhead Комнат: #[strong {{ oneInfo.realty.roomcount}} комнат]
                    div().md-subhead Ремонт:#[strong {{oneInfo.dictionary.renovation[oneInfo.realty.details.renovation].name}}]
                    div().md-subhead Этаж: #[strong {{oneInfo.realty.floor}} из {{oneInfo.realty.floormax}}]
                    div().md-subhead Общая площадь: #[strong {{oneInfo.realty.square}}]
                    div().md-subhead Жилая площадь: #[strong {{oneInfo.realty.details.livingSquare}}]
                    div().md-subhead Площадь кухни: #[strong {{oneInfo.realty.details.kitchenSquare}}]
                    div().md-subhead Площадь комнат:
                        span(ng-repeat="i in [0,1,2,3]") #[strong {{oneInfo.realty.details.roomsSquare[i]}}, ]
                    div().md-subhead Лоджия: #[strong {{oneInfo.realty.details.loggia}}]
                    div().md-subhead Балкон: #[strong {{oneInfo.realty.details.balcony}}]
                    div().md-subhead Пассажирских лифтов: #[strong {{oneInfo.realty.details.elevator}} ]
                    div().md-subhead Грузовых лифтов: #[strong {{oneInfo.realty.details.elevatorBig}}]
                    div().md-subhead Окна выходят #[strong {{oneInfo.realty.details.windowView == 1 ? ' во двор' : 'на улицу'}}]
            div(flex="33")
                h2 Условия
                div
                    div().md-subhead Состав съемщиков
                    div(ng-repeat="position in oneInfo.realty.details.composition")
                        div().md-subhead #[strong {{oneInfo.dictionary.composition[position].name}} ]
                    //p
                    div().md-subhead Собственник #[strong {{oneInfo.dictionary.qualification[oneInfo.realty.operator.qualification].name}}]
                    div().md-subhead Срок: #[strong {{oneInfo.realty.type == 3 ? 'посуточно' : 'длительный срок'}}]
                    div().md-subhead Цена: #[strong {{oneInfo.realty.price | price}}]
                    div().md-subhead От клиента: #[strong {{oneInfo.realty.clientpercent || 0}}]%
                    div().md-subhead От клиента партнера: #[strong {{oneInfo.realty.partnerpercent || 0}}]%
        div(md-whiteframe='2' flex='20').mh-16 {{oneInfo.currentConditions[$index].presence}}
            md-switch.md-warn(ng-model='oneInfo.currentConditions[$index].presence',
            aria-label='Switch 2'
            ng-repeat="condition in oneInfo.dictionary.conditions"
            ng-click="oneInfo.onConditionsChange(condition.id)") {{condition.name}}

    div(layout="row", layout-align="space-between")
        div(layout="column" flex='50')
            div(md-whiteframe='2').one-info-contacts.p-16.mv-16
                h3().md-title Контакты
                div(layout='row' layout-align='space-between' ng-repeat='contact in oneInfo.realty.contacts')
                    p(flex="70").md-subhead {{contact.name}}
                    p(flex="30").md-subhead {{contact.phones[0].phone}}



