one-info {
  display: block;
  margin-bottom: 130px;
  .md-button {
    min-width: 110px;
  }

  md-switch {
    margin: 2px 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.one-info-closed .md-title {
  margin-top: 0;
}

.oneInfo-image-container {
  position: relative;
  background: white;
  width: 664px;
  height: 442px;
  text-align: center;
  img {
    max-height: 442px;
    max-width: 664px;
  }
}

.oneInfo-image-inner {
  display: inline-block;
  position: relative;
}

.slide__prev,
.slide__next {
  z-index: 10;
  position: absolute;
  background: url('img/icons/icon-arrow-left.png') no-repeat;
  width: 42px;
  height: 42px;
  appearance: none;
  border: none;
  outline: none;
}

.slide__prev {
  top: 50%;
  left: 0;
  transform: translate(0, -50%) scaleX(-1);
}

.slide__next {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.one-info{
  &-archive{
    &__block{
      z-index: 71;
      position: fixed;
      top: 50px;
      width: 300px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #fff;
    }
  }
}