div(md-whiteframe='2').mt-16.ph-32.pt-32.pb-8
    form(name='emailSent' ng-submit='oneEmail.send()')
        div(layout='row')
            div(flex)
                md-input-container().md-block
                    input(required type='email' ng-model='oneEmail.info.emails' ng-keyup='oneEmail.checkClientsEmails()' placeholder='Получатели: начните вводить имя клиента, агента или любой email')
                md-input-container().md-block
                    input(ng-model='oneEmail.info.topic' placeholder='Тема письма')
                md-input-container().md-block
                    textarea(ng-model='oneEmail.info.addedinfo' placeholder='Дополнительно написать к этому объекту')
                md-input-container().md-block
                    textarea(ng-model='oneEmail.realty.details.descr' placeholder='Описание объекта')
                md-input-container().md-block
                    textarea(ng-model='oneEmail.info.realtyConditions' placeholder='Условия')
        div(layout='column')
            div().mv-8
                md-button(type='submit' ng-if='oneEmail.proposalSent != 2' ng-disabled='!oneEmail.clientFound ||  emailSent.$invalid || oneEmail.proposalSent == 1').md-primary.md-raised.md-body-1.ml-0 Отправить письмо
                md-button(ng-if='oneEmail.proposalSent == 2').md-success.md-raised.md-body-1.ml-0 Успешно отправлено

div()
    h2 Предварительный просмотр
    div(layout="row")
        div(md-whiteframe='2' flex-offset='5' flex='50')
            table(style='width:550px; margin:0 auto; padding: 0 15px;')
                tbody
                    table(style='width:520px; margin:0 auto; font-family:arial; font-size: 14px;')
                    tbody
                        tr
                        td(style='width:55%')
                            img(src='http://world-invest.pro/img/logo.jpg')
                        td(style='width:25%; line-height: 18px;')
                            span
                            | {{oneEmail.realty.contacts[0].name}}
                            br
                            | {{oneEmail.realty.contacts[0].phones[0].phone | phone}}
                            br
                            a(ng-if='oneEmail.realty.contacts[0].email' href='mailto:{{oneEmail.realty.contacts[0].email}}', target='_blank') {{oneEmail.realty.contacts[0].email}}
                    center
                    img(src='http://world-invest.pro/img/shadow_1.jpg')
                    table(style='width:520px; margin:0 auto; font-family:arial; font-size: 14px; line-height: 22px; text-align:justify;')
                    tbody
                        tr
                        td
                            p(style='font-size:20px;')
                                span {{oneEmail.realty.roomcount}}-комнатная, 
                                span(ng-if='oneEmail.realty.address.subwaysEmbedded[0].name') м.{{oneEmail.realty.address.subwaysEmbedded[0].name}} 
                                span(ng-if='oneEmail.realty.address.subwaysEmbedded[0].name') {{oneEmail.realty.address.metroTime}} мин. 
                                span(ng-if='oneEmail.realty.address.subwaysEmbedded[0].name') {{oneEmail.realty.address.metroTransport == 0 ? 'пешком' : 'транспортом'}}, 
                                span {{oneEmail.realty.price | price}} руб.
                            p
                            | {{oneEmail.info.addedinfo}}
                            p(ng-repeat='img in oneEmail.realty.details.images' layout='column' layout-align='center center')
                                img(src='{{img.url}}', style='margin: 5px 0;')
                            br
                            br
                            p(ng-bind-html='realty.details.descr')
                    br
                    table(style='width:520px; margin:0 auto; font-family:arial; font-size: 14px; line-height: 22px;')
                    tbody
                        tr
                        td(valign='top', style='padding-right:15px;')
                            b Район:
                            |  {{oneEmail.realty.address.areaName}}
                            br
                            b Улица: 
                            | {{oneEmail.realty.address.street}} {{oneEmail.realty.address.house}} к.{{oneEmail.realty.address.flat}}
                            br
                            b(ng-if='oneEmail.realty.address.subwaysEmbedded[0].name') Метро: 
                            span(ng-if='oneEmail.realty.address.subwaysEmbedded[0].name') м.{{oneEmail.realty.address.subwaysEmbedded[0].name}} 
                            span(ng-if='oneEmail.realty.address.subwaysEmbedded[0].name') {{oneEmail.realty.address.metroTime}} мин. 
                            span(ng-if='oneEmail.realty.address.subwaysEmbedded[0].name') {{oneEmail.realty.address.metroTransport == 0 ? 'пешком' : 'транспортом'}},
                            br
                            b Тип здания: 
                            | {{oneEmail.dictionary.materials[oneEmail.realty.details.materials].name}}
                            br
                            b Комнат: 
                            | {{oneEmail.realty.roomcount}}-комнатная
                            br
                            b Ремонт: 
                            | {{oneEmail.dictionary.renovation[oneEmail.realty.details.renovation].name}}
                            br
                            //span() Апартаменты
                            //span() , 
                            //span() Пентхаус
                            //br
                            b Этаж: 
                            | 10 из 55
                            br
                            b Окна: 
                            | {{oneEmail.dictionary.windowView[oneEmail.realty.details.windowView].name}}
                            br
                            b Цена: 
                            | {{oneEmail.realty.price | price}}
                            br
                            b Комиссия: 
                            | {{oneEmail.realty.realtor.clientpercent}}
                        td(valign='top', style='padding-left:60px;')
                            b Общая площадь: 
                            | {{oneEmail.realty.square}} м²
                            br
                            b Жилая площадь: 
                            | {{oneEmail.realty.details.livingSquare}} м²
                            br
                            b Площадь кухни: 
                            | {{oneEmail.realty.details.kitchenSquare}} м²
                            br
                            b Площадь комнат: 
                            span(ng-repeat='room in oneEmail.realty.details.roomsSquare') {{room.square}}
                            br 
                            b Лоджия: 
                            | {{oneEmail.realty.details.loggia}}
                            br
                            b Балкон: 
                            | {{oneEmail.realty.details.balcony}}
                            br
                            b Пассажирских лифтов: 
                            | {{oneEmail.realty.details.elevator}}
                            br
                            b Грузовых лифтов:
                            | {{oneEmail.realty.details.elevatorBig}}
                    br
                    br
                    center
                    img(src='http://world-invest.pro/img/shadow_2.jpg')
                    br
                    table(style='width:520px; margin:0 auto; font-family:arial; font-size: 14px;')
                    tbody
                        tr
                        td(style='width:55%')
                            img(src='http://world-invest.pro/img/logo.jpg')
                       td(style='width:25%; line-height: 18px;')
                            span
                            | {{oneEmail.realty.contacts[0].name}}
                            br
                            | {{oneEmail.realty.contacts[0].phones[0].phone | phone}}
                            br
                            a(ng-if='oneEmail.realty.contacts[0].email' href='mailto:{{oneEmail.realty.contacts[0].email}}', target='_blank') {{oneEmail.realty.contacts[0].email}}
        div(md-whiteframe='2' flex-offset='5' flex='40')
            p #[b Имя отправителя:] {{oneEmail.info.username}}
            p #[b Email отправителя:] {{oneEmail.user.emails[0].address}}
            p #[b Email для ответа:] {{oneEmail.user.emails[0].address}}
