div Страница исходящих звонков
div {{outgoingCall.metro}}
subway-chips(ng-model="outgoingCall.metro")
div ТЕлефон {{outgoingCall.realty.price}}
div ТЕлефон {{outgoingCall.realty}}
div ТЕлефон {{outgoingCall.newt}}