loader(ng-if="outgoingCall.showLoader == true")
form(ng-submit='outgoingCall.save(realtyCallForm.$valid)' name='realtyCallForm')
    div(md-whiteframe='2')
        outgoing-call-info(show-loader='outgoingCall.showLoader' ng-if='outgoingCall.user && outgoingCall.realty' realty='outgoingCall.realty' user='outgoingCall.user' get-new='outgoingCall.getNew()')
    outgoing-call-comments(ng-if='outgoingCall.realty' realty='outgoingCall.realty' get-new='outgoingCall.getNew()')
    div(md-whiteframe='2')
        div(md-whiteframe='1').ph-32.pv-16
            p(ng-bind-html='outgoingCall.realty.details.descr').md-body-1
        div().ph-32.pv-16
            div(layout='column')
                div(layout='row')
                    outgoing-call-details(ng-if='outgoingCall.realty' realty='outgoingCall.realty' show-loader='outgoingCall.showLoader' new-obect-recieved='outgoingCall.newObjectRecieved')       
                outgoing-call-owner(ng-if='outgoingCall.realty' show-loader='outgoingCall.showLoader' realty='outgoingCall.realty').mt-32
                div(layout='row')
                    div(flex='55')
                        div(layout='column')
                            div(layout='row').mv-8
                                md-button(type='submit' flex ng-disabled='realtyCallForm.$invalid || !outgoingCall.realty.contacts[0].name').outgoing-call__btn-save.md-success.md-raised.md-title.mh-0 Сохранить
                            div().mv-8
                                div().outgoing-call__num-ads.md-title.text-center {{outgoingCall.fullList}}
                                div().outgoing-call__text-ads.md-body-1.text-center объявлений в очереди
                    div(flex='45' layout='row' layout-align='end end')
                        //md-input-container(flex='10')
                            label Тип
                            md-select(ng-disabled='outgoingCall.objectsType == 0' ng-model='outgoingCall.objectsType')
                                md-option(ng-value='0') А
                                md-option(ng-value='1') П