div(md-whiteframe='1').mv-16.p-32
    div(layout="row")
        div(flex="50")
            h3.md-headline.text-uppercase Качество рекламы 50%
        div(flex='50')
            h3().md-headline Ответ от модератора:
            p().md-body-1 Текст
            p().md-body-1 Вторая строка
    one-review-desc-title(ng-model="oneReviewDesc.realty" ng-if='oneReviewDesc.realty')
    one-review-desc-content(ng-model="oneReviewDesc.realty" ng-if='oneReviewDesc.realty.details')
    md-button( ng-click='oneReview.saveNewDescription(oneReview.realty._id, true)' ng-class='{"md-success":oneReview.descriptionSaved,"md-primary":!oneReview.descriptionSaved}' aria-label='Сохранить объявление').md-raised.one-review__btn-desc-save.ml-0 {{oneReview.descriptionSaved ? 'Сохранено'  : 'Сохранить объявление'}}