div
    div
        p
            md-button(ng-click="oneReviewDesc.changeDescTitleNumber(false)").md-raised Prev.
            md-button(ng-click="oneReviewDesc.changeDescTitleNumber(true)").md-raised Next
        md-input-container().md-block
            label Заголовок
            md-select(ng-model="oneReviewDesc.descTitle[oneReviewDesc.descTitleNumber]" placeholder='"Выберите готовый заголовок, который цепляет"')
                md-option(ng-value='title' ng-repeat="title in oneReviewDesc.saleDescription.title" ng-click="oneReviewDesc.setDescTitle(title, $index)") {{title}}
        md-input-container().md-block
            input(ng-model="oneReviewDesc.inputTitleDesc")
            
    div(layout='row')
        div(layout='column' flex='30')
            p(flex='30' layout='row' layout-align="center start")
                md-button(ng-click="oneReviewDesc.changeActiveBenefitObjectNumber(false)" flex='50').md-raised Previous
                md-button(ng-click="oneReviewDesc.changeActiveBenefitObjectNumber(true)" flex='50').md-raised Next
            p(flex='30' layout='row' layout-align="center start")
                md-button(ng-click="oneReviewDesc.changeActiveBenefitNumber(false)" flex='50').md-raised P
                md-button(ng-click="oneReviewDesc.changeActiveBenefitNumber(true)" flex='50').md-raised N
        div(layout='column' flex='70')
            md-input-container(flex='30').md-block
                md-select(ng-model="oneReviewDesc.activeBenefitObjectName" placeholder='Выберите выгоду')
                    md-option(ng-value='label' ng-repeat="label in oneReviewDesc.benefitsList" ng-click="oneReviewDesc.setActiveBenefitObjectNumber($index)") {{label}}
            md-input-container(flex='30').md-block
                md-select(ng-model="oneReviewDesc.activeBenefit.content[oneReviewDesc.activeBenefitNumber]" placeholder='{{oneReviewDesc.activeBenefit.label}}')
                    md-option(ng-value='name' ng-repeat="name in oneReviewDesc.activeBenefit.content" ng-click="oneReviewDesc.setActiveBenefitNumber($index)") {{name}}
            md-button(ng-click="oneReviewDesc.addDescDetail(name)").md-raised.md-primary Добавить описание
    md-input-container().md-block
        textarea(ng-model="oneReviewDesc.descDetails")
         
        
    md-button(ng-click="oneReviewDesc.saveNewDescription(oneReviewDesc.realty._id)").md-primary.md-raised.ml-0 Сохранить только текст