form(md-whiteframe='1'
ng-submit='addRole.submit(addRoleForm.$valid)'
name='addRoleForm'
layout-align='center start'
layout='column')
    md-input-container
        label Email
        input(ng-model="addRole.email" type="email" required='')
    md-button(type='submit').md-raised.md-primary Добавить роль

div(md-whiteframe='2') {{addRole.result || 'Введите email'}}
div(md-whiteframe='2')
div(md-whiteframe='2')
div(md-whiteframe='2') Оплаченных юзеров - {{addRole.paidUsers.length}}
div(md-whiteframe='2') Зарегистрированных - {{addRole.users.length}}
div(md-whiteframe='2') Процент {{(addRole.paidUsers.length / addRole.users.length * 100).toFixed(2)}}%
table
    tr(ng-repeat='user in addRole.users')
        td {{user.emails[0].address}}
        td {{user.profile.name}}
        td {{user.profile.surName}}
        td {{user.profile.phone}}
        td {{(user.roles.indexOf('paid') != -1) ? 'Платный' : ''}}