.training{
  &__icon{
    width: 18px;
    height: 18px;
  }
  &__lesson{
    height: 165px;
    overflow: hidden;
    cursor: pointer;
    &-descr{
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #464646;
    }
    &-number{
      margin: 4px 0 !important;
      font-weight: 400;
    }
    &-title{
      margin: 8px 0 !important;
      line-height: 31px;
      min-height: 38px;
    }
  }
}
.disabled{
  .training{
    &__lesson{
      cursor: default;
      &-descr, &-number, &-title{
        color: #767676 !important;
      }
    }
  }
}