div(ng-if='oneReviewMeeting.realty')
    //one-review-meeting-analytics(realty='oneReviewMeeting.realty')
    one-review-meeting-browsing(savereview='oneReviewMeeting.saveReview()' ischeckout='oneReviewMeeting.realty.realtor.isCheckout')
    one-review-meeting-exclusive(savereview='oneReviewMeeting.saveReview()' isexclusive='oneReviewMeeting.realty.realtor.isExclusive')