div(md-whiteframe='1').sub-tabbar
    md-tabs(md-dynamic-height md-selected='3')
        md-tab(label='Авито')
            md-content
                one-review-advert-avito()
        md-tab(label='Циан')
            md-content
                one-review-advert-cian()
        md-tab(label='Ирр')
            md-content
                one-review-advert-irr()
        md-tab(label='60 досок')
            md-content
                one-review-advert-yandex()