md-toolbar.md-primary(layout='row' layout-align='end center')
    //span().md-body-1.mr-32 +7 (925) 075-95-87
md-content()
    div().mv-32.text-center
        img(src='img/logos/brand-logo-large.png')
    div(layout='column', layout-align='center center').p-32
        header(layout='row' layout-align='center center')
            h2().md-subhead Восстановление пароля
        div(md-whiteframe='2').resetpw-form.p-32
            md-toolbar(ng-show='resetpw.error', layout='row', layout-align='center center').md-warn.mb-16
                p().md-body-1 {{ resetpw.error }}
            form(name='resetForm' ng-submit='login.login()')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='80').md-block.m-0
                        label Email
                        input(type='email', ng-model='resetpw.credentials.email', required='')
                div(layout='row' layout-align='center center').mt-16.mb-8
                    md-button.md-raised.md-primary(flex='80' type='submit', ng-click="resetpw.reset()" aria-label='Восстановить пароль', ng-disabled='resetpw.resetForm.$invalid()')
                        | Восстановить пароль