div(md-whiteframe='2').mv-16.ph-32.pv-16
    div(layout='row' layout-align='space-between center')
        div(flex)
            md-icon(md-svg-src='svg/icon-description.svg').mr-8
            span().documents-name.md-title Уведомление о расторжении договора.doc
        div(layout='row' layout-align='end center')
            div
                span().documents-name.md-title Скачать
                md-icon(md-svg-src='svg/icon-file-download.svg')
div(md-whiteframe='2').mv-16.ph-32.pv-16
    div(layout='row' layout-align='space-between center')
        div(flex)
            md-icon(md-svg-src='svg/icon-description.svg').mr-8
            span().documents-name.md-title Уведомление о расторжении договора.doc
        div(layout='row' layout-align='end center')
            div
                span().documents-name.md-title Скачать
                md-icon(md-svg-src='svg/icon-file-download.svg')