md-tabs(md-dynamic-height).documents__topbar
    md-tab(label='Универсальные' md-active='addClientFull.activeTab == 0' ng-click="addClientFull.activeTab = 0")
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Чек лист объекта
                div(layout='row' layout-align='end center')
                    a(href='documents/Чек%20лист%20объекта.doc'  download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Чек%20лист%20объекта.doc' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
    md-tab(label='Аренда' md-active='addClientFull.activeTab == 0' ng-click="addClientFull.activeTab = 0")
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Опись
                div(layout='row' layout-align='end center')
                    a(href='documents/Опись.doc' download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Опись.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Гарантийное обязательство
                div(layout='row' layout-align='end center')
                    a(href='documents/Garant-obyazatelstvo.doc'  download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Garant-obyazatelstvo.doc' download='' target="_self" aria-label='Гарантийное обязательство').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Гарантийное письмо
                div(layout='row' layout-align='end center')
                    a(href='/documents/Garant-pismo.doc'  download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Garant-pismo.doc' download='' target="_self" aria-label='Гарантийное письмо').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Расписка, соглашение о задатке
                div(layout='row' layout-align='end center')
                    a(href='documents/Расписка,%20соглашение%20о%20задатке.doc'  download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Расписка,%20соглашение%20о%20задатке.doc' download='' target="_self" aria-label='Расписка, соглашение о задатке').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Уведомление о расторжении договора
                div(layout='row' layout-align='end center')
                    a(href='documents/Уведомление%20о%20расторжении%20договора.doc'  download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Уведомление%20о%20расторжении%20договора.doc' download='' target="_self" aria-label='Уведомление о расторжении договора').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Просмотр и оценка объекта
                div(layout='row' layout-align='end center')
                    a(href='documents/Просмотр%20и%20оценка%20объекта.xlsx'  download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Просмотр%20и%20оценка%20объекта.xlsx' download='' target="_self" aria-label='Просмотр и оценка объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Свидетельство регистрации
                div(layout='row' layout-align='end center')
                    a(href='documents/Свидетельство%20регистрации.jpg'  download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Свидетельство%20регистрации.jpg' download='' target="_self" aria-label='Свидетельство регистрации').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
    md-tab(label='Продажа' md-active='addClientFull.activeTab == 0' ng-click="addClientFull.activeTab = 0")
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Опись
                div(layout='row' layout-align='end center')
                    a(href='documents/Опись.doc' download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Опись.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Гарантийное обязательство
                div(layout='row' layout-align='end center')
                    a(href='documents/Garant-obyazatelstvo.doc'  download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Garant-obyazatelstvo.doc' download='' target="_self" aria-label='Гарантийное обязательство').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Просмотр и оценка объекта
                div(layout='row' layout-align='end center')
                    a(href='documents/Просмотр%20и%20оценка%20объекта.xlsx'  download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Просмотр%20и%20оценка%20объекта.xlsx' download='' target="_self" aria-label='Просмотр и оценка объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-subhead Свидетельство регистрации
                div(layout='row' layout-align='end center')
                    a(href='documents/Свидетельство%20регистрации.jpg'  download='' target="_self").documents__title-download.md-subhead Скачать
                    md-button(md-no-ink ng-href='documents/Свидетельство%20регистрации.jpg' download='' target="_self" aria-label='Свидетельство регистрации').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')

//- div(md-whiteframe='2').mv-16.ph-32.pv-16
//-     div().panel__group
//-         div().panel__collapse-in
//-             div().panel__heading
//-                 div().panel__title Вопрос 1
//-             div().panel__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptas culpa magnam nesciunt vitae est reiciendis ipsam accusantium rerum eveniet velit voluptatum voluptate, dignissimos, beatae asperiores distinctio provident nam dolores, unde delectus. Explicabo saepe nobis commodi perferendis dolorum excepturi asperiores, culpa ipsa quae illum, quo fuga doloribus nihil amet omnis consequatur. Necessitatibus, dicta illo vitae architecto expedita nulla omnis sapiente dolorem beatae numquam provident porro, accusantium nihil dolores tenetur dolor aut itaque a modi voluptatibus. Vel labore quis iure, velit vitae dolorem sit, quae dolorum unde deleniti cumque molestiae accusantium tenetur, ipsum laudantium! Minus necessitatibus vero, ullam? Culpa, distinctio, eos!
//-         div().panel
//-             div().panel__heading
//-                 div().panel__title Вопрос 2
//-             div().panel__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptas culpa magnam nesciunt vitae est reiciendis ipsam accusantium rerum eveniet velit voluptatum voluptate, dignissimos, beatae asperiores distinctio provident nam dolores, unde delectus. Explicabo saepe nobis commodi perferendis dolorum excepturi asperiores, culpa ipsa quae illum, quo fuga doloribus nihil amet omnis consequatur. Necessitatibus, dicta illo vitae architecto expedita nulla omnis sapiente dolorem beatae numquam provident porro, accusantium nihil dolores tenetur dolor aut itaque a modi voluptatibus. Vel labore quis iure, velit vitae dolorem sit, quae dolorum unde deleniti cumque molestiae accusantium tenetur, ipsum laudantium! Minus necessitatibus vero, ullam? Culpa, distinctio, eos!
//-         div().panel
//-             div().panel__heading
//-                 div().panel__title Вопрос 3
//-             div().panel__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptas culpa magnam nesciunt vitae est reiciendis ipsam accusantium rerum eveniet velit voluptatum voluptate, dignissimos, beatae asperiores distinctio provident nam dolores, unde delectus. Explicabo saepe nobis commodi perferendis dolorum excepturi asperiores, culpa ipsa quae illum, quo fuga doloribus nihil amet omnis consequatur. Necessitatibus, dicta illo vitae architecto expedita nulla omnis sapiente dolorem beatae numquam provident porro, accusantium nihil dolores tenetur dolor aut itaque a modi voluptatibus. Vel labore quis iure, velit vitae dolorem sit, quae dolorum unde deleniti cumque molestiae accusantium tenetur, ipsum laudantium! Minus necessitatibus vero, ullam? Culpa, distinctio, eos!
