documents {
  md-icon {
    width: 50px;
    height: 50px;
    color: #2196f3;
  }

  div[md-whiteframe] {
    min-height: 60px;
  }
}

.documents {
  &__topbar {
    background-color: transparent;
    md-tabs-wrapper {
      background-color: $white;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    }
  }
  &__name {
    vertical-align: middle;
    color: #106cc8;
  }
  &__title-download {
    vertical-align: middle;
    text-decoration: none;
    color: #106cc8;
  }
  &__btn-download {
    min-width: 50px !important;
    &:hover {
      background-color: transparent !important;
    }
  }
}