md-tabs(md-dynamic-height).documents__topbar
    md-tab(label='Аренда' md-active='addClientFull.activeTab == 0' ng-click="addClientFull.activeTab = 0")
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Акт возврата
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Акт%20возврата.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Акт%20возврата.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Акт приема-передачи 0ключей
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Акт%20приема-передачи%20ключей.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Акт%20приема-передачи%20ключей.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Акт приема-передачи (коммерция)
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Акт%20приема-передачи%20(коммерция).doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Акт%20приема-передачи%20(коммерция).doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Бланк 0приема заявки
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Бланк%20приема%20заявки.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Бланк%20приема%20заявки.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Гарантийное обязательство бланк (doc)
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Гарантийное%20обязательство%20бланк.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Гарантийное%20обязательство%20бланк.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Гарантийное обязательство бланк (docx)
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Гарантийное%20обязательство%20бланк.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Бланк%20приема%20заявки.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Гарантийное письмо
                div(layout='row' layout-align='end center')
                    a(href='/documents/Garant-pismo.doc'  download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/Garant-pismo.doc' download='' target="_self" aria-label='Гарантийное письмо').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Бланк приема заявки
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Бланк%20приема%20заявки.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Бланк%20приема%20заявки.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Бланк приема заявки
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Бланк%20приема%20заявки.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Бланк%20приема%20заявки.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Гарантийное обязательство
                div(layout='row' layout-align='end center')
                    a(href='documents/Garant-obyazatelstvo.doc'  download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/Garant-obyazatelstvo.doc' download='' target="_self" aria-label='Гарантийное обязательство').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Гарантийное обязательство пример 2
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/гарантийное%20обязательство%20пример2.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/гарантийное%20обязательство%20пример2.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Гарантийное письмо
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Гарантийное%20письмо.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Гарантийное%20письмо.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Доверенность на сдачу квартиры в аренду
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Доверенность%20на%20сдачу%20квартиры%20в%20аренду.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Доверенность%20на%20сдачу%20квартиры%20в%20аренду.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор аренды рус-англ - копия
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Дог%20аренды%20рус-англ%20-%20копия.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Дог%20аренды%20рус-англ%20-%20копия.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор аренды квартиры
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Договор%20аренды%20квартиры.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Гарантийное%20письмо.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор доверительного управления
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Договор%20доверительного%20управления.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Договор%20доверительного%20управления.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор инф. услуг физ лицо нал
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Договор%20инф.%20услуг%20физ%20лицо%20нал.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Договор%20инф.%20услуг%20физ%20лицо%20нал.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор по поиску (аренда)
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Договор%20по%20поиску%20(аренда)%20.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Договор%20по%20поиску%20(аренда)%20.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор услуг и вознаграждения.doc
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Договор%20услуг%20и%20вознаграждения.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Договор%20услуг%20и%20вознаграждения.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Доп. соглашение о расходах
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Доп.%20соглашение%20о%20расходах.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Доп.%20соглашение%20о%20расходах.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Образец расписки квартира
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Образец%20расписки%20квартира.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Образец%20расписки%20квартира.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Опись
                div(layout='row' layout-align='end center')
                    a(href='documents/Опись.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/Опись.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Просмотр и оценка объекта
                div(layout='row' layout-align='end center')
                    a(href='documents/Просмотр%20и%20оценка%20объекта.xlsx'  download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/Просмотр%20и%20оценка%20объекта.xlsx' download='' target="_self" aria-label='Просмотр и оценка объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Расписка, соглашение о задатке
                div(layout='row' layout-align='end center')
                    a(href='documents/Расписка,%20соглашение%20о%20задатке.doc'  download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/Расписка,%20соглашение%20о%20задатке.doc' download='' target="_self" aria-label='Расписка, соглашение о задатке').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Р А С П И С К А (пример)
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Р%20А%20С%20П%20И%20С%20К%20А%20(пример).docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Р%20А%20С%20П%20И%20С%20К%20А%20(пример).docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Свидетельство регистрации
                div(layout='row' layout-align='end center')
                    a(href='documents/Свидетельство%20регистрации.jpg'  download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/Свидетельство%20регистрации.jpg' download='' target="_self" aria-label='Свидетельство регистрации').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Скриптагент - клиент (1)
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Скриптагент-%20клиент%20(1).docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Скриптагент-%20клиент%20(1).docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Скриптагент- клиент новый
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Скриптагент-%20клиент%20новый.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Скриптагент-%20клиент%20новый.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Скриптагент- клиент
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Скриптагент-%20клиент.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Скриптагент-%20клиент.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Уведомление о расторжении договора
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Уведомление%20о%20расторжении%20договора.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Уведомление%20о%20расторжении%20договора.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Учет клиентов
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Учет%20клиентов.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Учет%20клиентов.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Ф-2К-03.13.008 Расписка, соглашение о задатке (с арендатором)
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Ф-2К-03.13.008%20Расписка,%20соглашение%20о%20задатке%20(с арендатором).doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rentФ-2К-03.13.008%20Расписка,%20соглашение%20о%20задатке%20(с арендатором).doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Ф-2К-03.13.009 Договор аренды нежилого помещения
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Ф-2К-03.13.009%20Договор%20аренды%20нежилого%20помещения.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Ф-2К-03.13.009%20Договор%20аренды%20нежилого%20помещения.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Ф-2К-04.13.011 Акт об оказании услуг нал покупателю, арендатору
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Ф-2К-04.13.011%20Акт%20об%20оказании%20услуг%20нал%20покупателю,%20арендатору.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Ф-2К-04.13.011%20Акт%20об%20оказании%20услуг%20нал%20покупателю,%20арендатору.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Эксклюзивный договор (аренда)
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Эксклюзивный%20договор%20(аренда).doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Эксклюзивный%20договор%20(аренда).doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Эксклюзивный договор
                div(layout='row' layout-align='end center')
                    a(href='documents/rent/Эксклюзивный%20договор.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/rent/Эксклюзивный%20договор.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
                        
    md-tab(label='Продажа' md-active='addClientFull.activeTab == 0' ng-click="addClientFull.activeTab = 0")
        
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Акт приема-передачи ключей
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Акт%20приема-передачи%20%20ключей.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Акт%20приема-передачи%20%20ключей.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Бланк звонка дома
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Бланк%20звонка%20дома.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Бланк%20звонка%20дома.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Бланк созвона квартиры
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Бланк%20созвона%20квартиры.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Бланк%20созвона%20квартиры.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Бланк. Дома-участки-дачи
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Бланк.%20Дома-участки-дачи.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Бланк.%20Дома-участки-дачи.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Бланк. Квартиры
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Бланк.%20Квартиры.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Бланк.%20Квартиры.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Гарантийное обязательство
                div(layout='row' layout-align='end center')
                    a(href='documents/Garant-obyazatelstvo.doc'  download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/Garant-obyazatelstvo.doc' download='' target="_self" aria-label='Гарантийное обязательство').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Гарантийное обязательство бланк (doc)
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/гарантийное%20обязательство%20бланк.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/гарантийное%20обязательство%20бланк.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Гарантийное обязательство бланк (docx)
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Гарантийное%20обязательство%20бланк.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Гарантийное%20обязательство%20бланк.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Гарантийное обязательство пример
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/гарантийное%20обязательство%20пример.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/гарантийное%20обязательство%20пример.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор дарения квартиры
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Договор%20дарения%20квартиры.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Договор%20дарения%20квартиры.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор к-п жилого дома  и участка
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Договор%20к-п%20жилого%20дома%20%20и%20участка.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Договор%20к-п%20жилого%20дома%20%20и%20участка.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор КП жилого дома с зем. уч.
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/договор%20КП%20жилого%20дома%20с%20зем.%20уч.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/договор%20КП%20жилого%20дома%20с%20зем.%20уч.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор КП жилого дома с зем. участком
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/договорп%20КПп%20жилогоп%20домап%20сп%20зем.п%20участком.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/договорп%20КПп%20жилогоп%20домап%20сп%20зем.п%20участком.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор к-п земельного участка
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Договор%20к-п%20земельного%20участка.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Договор%20к-п%20земельного%20участка.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор купли-продажи жилого дома  и участка
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Договор%20купли-продажи%20жилого%20дома%20%20и%20участка.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Договор%20купли-продажи%20жилого%20дома%20%20и%20участка.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор купли-продажи земельного участка
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Договор%20купли-продажи%20земельного%20участка.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Договор%20купли-продажи%20земельного%20участка.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор купли-продажи квартиры
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Договор%20купли-продажи%20квартиры.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Договор%20купли-продажи%20квартиры.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Договор услуг и вознаграждения
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Договор%20услуг%20и%20вознаграждения.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Договор%20услуг%20и%20вознаграждения.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Доп. соглашение о расходах
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Доп.%20соглашение%20о%20расходах.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Доп.%20соглашение%20о%20расходах.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Копия Финанс согл продавец-покупатель
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Копия%20Финанс%20согл%20продавец-покупатель.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Копия%20Финанс%20согл%20продавец-покупатель.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Образец расписки квартира
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Образец%20расписки%20квартира.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Образец%20расписки%20квартира.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Передаточный акт земля
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Передаточный%20акт%20земля.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Передаточный%20акт%20земля.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Копия Передаточный акт земля
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Копия%20Передаточный%20акт%20земля.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Копия%20Передаточный%20акт%20земля.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Поручение. Договор поручения с покупателем
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Поручение.%20Договор%20поручения%20с%20покупателем.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Поручение.%20Договор%20поручения%20с%20покупателем.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Предварительный договор к-п
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/предварительный%20договор%20к-п.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/предварительный%20договор%20к-п.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Пример гарантийное обязательство бланк
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Пример%20гарантийное%20обязательство%20бланк.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Пример%20гарантийное%20обязательство%20бланк.docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Просмотр и оценка объекта
                div(layout='row' layout-align='end center')
                    a(href='documents/Просмотр%20и%20оценка%20объекта.xlsx'  download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/Просмотр%20и%20оценка%20объекта.xlsx' download='' target="_self" aria-label='Просмотр и оценка объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Р А С П И С К А (пример)
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Р%20А%20С%20П%20И%20С%20К%20А%20(пример).docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Р%20А%20С%20П%20И%20С%20К%20А%20(пример).docx' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Свидетельство регистрации
                div(layout='row' layout-align='end center')
                    a(href='documents/Свидетельство%20регистрации.jpg'  download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/Свидетельство%20регистрации.jpg' download='' target="_self" aria-label='Свидетельство регистрации').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Учет клиентов
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Учет%20клиентов.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Учет%20клиентов.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Финанс согл продавец-покупатель
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Финанс%20согл%20продавец-покупатель.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Финанс%20согл%20продавец-покупатель.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Эксклюзивный договор
                div(layout='row' layout-align='end center')
                    a(href='documents/sell/Эксклюзивный%20договор.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/sell/Эксклюзивный%20договор.doc' download='' target="_self" aria-label='Опись').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        
    md-tab(label='Универсальные' md-active='addClientFull.activeTab == 0' ng-click="addClientFull.activeTab = 0")
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Гарантийное обязательство бланк
                div(layout='row' layout-align='end center')
                    a(href='documents/help/Гарантийное%20обязательство%20бланк.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/help/Гарантийное%20обязательство%20бланк.doc' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Пример гарантийное обязательство бланк
                div(layout='row' layout-align='end center')
                    a(href='documents/help/Пример%20гарантийное%20обязательство%20бланк.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/help/Пример%20гарантийное%20обязательство%20бланк.docx' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Р А С П И С К А (пример)
                div(layout='row' layout-align='end center')
                    a(href='documents/help/Р%20А%20С%20П%20И%20С%20К%20А%20(пример).docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/help/Р%20А%20С%20П%20И%20С%20К%20А%20(пример).docx' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Рекламные фразы
                div(layout='row' layout-align='end center')
                    a(href='documents/help/Рекламные%20фразы.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/help/Рекламные%20фразы.doc' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Сайты для рекламы.doc
                div(layout='row' layout-align='end center')
                    a(href='documents/help/сайты%20для%20рекламы.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/help/сайты%20для%20рекламы.doc' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Скрипт агент - клиент (1)
                div(layout='row' layout-align='end center')
                    a(href='documents/help/Скрипт%20агент-%20клиент%20(1).docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/help/Скрипт%20агент-%20клиент%20(1).docx' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Скрипт агент - клиент новый
                div(layout='row' layout-align='end center')
                    a(href='documents/help/Скрипт%20агент-%20клиент%20новый.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/help/Скрипт%20агент-%20клиент%20новый.docx' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Скрипт агент- клиент
                div(layout='row' layout-align='end center')
                    a(href='documents/help/Скрипт%20агент-%20клиент̆.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/help/Скрипт%20агент-%20клиент̆.docx' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Скрипты и диалоги
                div(layout='row' layout-align='end center')
                    a(href='documents/help/Скрипты%20и%20диалоги.docx' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/help/Скрипты%20и%20диалоги.docx' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Учет клиентов
                div(layout='row' layout-align='end center')
                    a(href='documents/help/Учет%20клиентов.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/help/Учет%20клиентов.doc' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Чеклист дел по недвижимости.doc
                div(layout='row' layout-align='end center')
                    a(href='documents/help/Чеклист%20дел%20по%20недвижимости.doc' download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/help/Чеклист%20дел%20по%20недвижимости.doc' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')
        div(md-whiteframe='2').mv-16.ph-32.pv-16
            div(layout='row' layout-align='space-between center')
                div(flex)
                    md-icon(md-svg-src='svg/icon-description.svg').mr-8
                    span().documents__name.md-title Чек лист объекта
                div(layout='row' layout-align='end center')
                    a(href='documents/Чек%20лист%20объекта.doc'  download='' target="_self").documents__title-download.md-title Скачать
                    md-button(md-no-ink ng-href='documents/Чек%20лист%20объекта.doc' download='' target="_self" aria-label='Чек лист объекта').documents__btn-download.m-0
                        md-icon(md-svg-src='svg/icon-file-download.svg')