section(ng-repeat="client in clientDetails.clients")
    div(md-whiteframe='1').topbar
        div(layout='row' layout-align='start center')
            md-button(aria-label='Вернуться назад' ui-sref="crm.clients.list.my({status: \'realtor\'})").btn-back.mh-16
                md-icon(md-svg-src='svg/icon-arrow-left.svg')
            h3.md-headline {{client._id}} {{client.name}} {{client.phone}}
    div(md-whiteframe='1').tabbar
        md-tabs(md-dynamic-height md-selected="clientDetails.selectedTab")
            md-tab(ui-sref="crm.clients.details.connections({client:client._id, assort: 'manual', activetab: 'connections'})") Связи
            //md-tab(ui-sref="crm.clients.details.demonstration({client:client._id, activetab: 'demonstration'})") Показы
            //md-tab(ui-sref="crm.clients.details.email({client:client._id, activetab: 'email'})") Отправить предложение
            md-tab(ui-sref="crm.clients.details.info({client:client._id, activetab: 'info'})") Инфо о клиенте
ui-view()