{{clientInfo.clients}}
section(ng-repeat="client in clientDetails.clients")
    h1 {{client.name}} {{client.phone}}
    md-tabs(md-dynamic-height md-selected="clientDetails.selectedTab")
        md-tab(ui-sref="crm.clients.details.relations") Связи
        md-tab(ui-sref="crm.clients.details.shows") Показы
        md-tab(ui-sref="crm.clients.details.offers") Отправить предложение
        md-tab(ui-sref="crm.clients.details.info") Инфо о клиенте
    ui-view