@import 'helpers';
@import 'variables';
@import 'animation';
@import 'icons';

html, body {
    margin: 0;
    padding: 0;
    font-family: $body-font-family;
    font-size: $body-font-size;
    color: $body-font-color;
    background-color: #eef2f4;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

md-toolbar {
    min-height: 50px;
    padding: 0 35px 0 10px;
    &.md-default-theme:not(.md-menu-toolbar),
    &:not(.md-menu-toolbar) {
        background-color: #039be5;
        color: #fff; 
        .md-button:not(.md-raised) {
            min-width: 36px;
            margin: 0;
        }
    }
}

.brand-logo {
    float: left;
    background: url('img/logos/brand-logo.png') no-repeat;
    width: 186px;
    height: 35px;
    margin: 8px 0;
}

.today-date {
    height: 30px;
    padding: 10px 0;
    font-size: 15px;
    text-align: right;
    span {
        line-height: 15px;
    }
}

.time {
    display: block;
}

md-sidenav {
    width: 140px;
    background-color: #eef2f4;
}

md-list {
    md-list-item button.md-button:not(.selected):not([disabled]) {
        background-color: #eef2f4;
    }
}

.menu-block {
    padding: 0px 0px 8px 0px;
}

.menu-item-link {
    width: 100%;
    margin: 0 8px;
    padding: 10px 6px 0 12px;
    font-size: 15px;
    text-align: left;
    text-transform: capitalize; 
    border-radius: 0;
    &.selected {
        color: #106cc8;
    }
}

.add-btn {
    width: 104px;
    height: 36px;
    margin: 30px 8px 35px 14px;
    background-color: #baed21;
    border-radius: 3px;
    box-shadow: 1.5px 2.6px 3px rgba(157, 157, 157, 0.36);
    text-transform: capitalize;
    color: #575757;
    &:before {
        @include pseudo(auto, auto, '+');
        left: 6px;
    }
    &:after {
        @include pseudo(9px, 8px);
        top: 15px;
        right: 5px;
        background: url('img/icons/icon-arrow-down.png') no-repeat;
    }
}

md-content {
    background-color: #eef2f4;
}

.workarea {
    padding: 0 25px;
    overflow: hidden;
}

.crm-menu {
    margin: 14px 0 4px 8px;
}

.crm-menu-item {
    display: inline-block;
    margin: 10px;
    padding: 19px 10px 9px;
    &.selected {
        background-color: #bbdefb;
    }
}

.crm-menu-item-link {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-color;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.crm-menu-name {
    display: inline-block;
    margin-top: 8px;
}

.btn-back {
    min-width: 72px;
    min-height: 28px;
    line-height: 20px;
    margin: 8px 12px 8px 8px;
    border: 1px solid #dddddd;
    md-icon {
        width: 14px;
        height: 14px;
    }
}

.crm-address-panel {
    margin-left: 8px;
}

.address {
    vertical-align: top;
    font-size: 30px;
    color: #000;
}

.objects-panel {
    margin: 17px 0;
    text-transform: uppercase;
}

.objects-menu {
    margin: 0;
    padding: 9px 10px;
    font-size: 24px;
    background-color: #eaeaea;
}

.objects-menu-item {
    display: inline-block;
    margin: 0 15px;
}

.objects-menu-link {
    font-family: 'OpenSans-Bold';
}

.objects-menu-link,
.objects-submenu-link {
    text-decoration: none;
    color: $primary-color;
    &.selected {
        text-decoration: underline;
        color: #106cc8;
    }
}

.objects-submenu {
    margin: 0;
    padding: 16px 11px 10px;
    font-size: 15px;
    background-color: #fff;
}

.objects-submenu-item {
    display: inline-block;
    margin: 0 14px;
}