.crm-menu-icon {
    display: block;
    margin: 0 auto;
}

.icon-report {
    background: url('img/icons/icon-report.png') no-repeat;
    width: 23px;
    height: 24px;
}

.icon-my-business {
    background: url('img/icons/icon-my-business.png') no-repeat;
    width: 26px;
    height: 26px;
}

.icon-objects {
    background: url('img/icons/icon-objects.png') no-repeat;
    width: 18px;
    height: 26px;
}

.icon-clients {
    background: url('img/icons/icon-clients.png') no-repeat;
    width: 32px;
    height: 26px;
}