@import 'helpers';

@include font('OpenSans-Bold', OpenSans-Bold);
@include font('OpenSans-Light', OpenSans-Light);
@include font('OpenSans-Regular', OpenSans-Regular);
@include font('OpenSans-Semibold', OpenSans-Semibold);

$primary-color: #333;
$secondary-color: #fff;

$body-font-family: 'OpenSans-Semibold', sans-serif;
$body-font-size: 14px;
$body-font-color: $primary-color;