md-input-container(flex='{{priceMask.flex}}' ng-class='{"form-required":!priceMask.noRequired}').mv-0.hide-count
    label {{priceMask.label}}
    input(ng-model='priceMask.visualPrice',
          required='',
          ng-focus="priceMask.filterPriceFocus()"
          ng-keydown="priceMask.filterPriceKeyDown($event)",
          ng-blur="priceMask.filterPriceBlur()")