div(md-whiteframe='2').one-review-advert-avito.mv-16
    div(md-whiteframe='1').ph-32.pv-16
        div().md-subhead Ответ модератора
        p().md-body-1.mb-0 текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст 
    div(layout='row' layout-align='space-between start').ph-32.pt-16.pb-8
        div().one-review-advert-avito__ads-box
            div().one-review-advert-avito__checkbox-container
                md-checkbox(aria-label='Checkbox 1').md-primary
            div().one-review-advert-avito__ads-box-header
                img(src='img/icons/icon-avito-ads-1.png')
                span().md-headline.text-bold Премиум
            div().one-review-advert-avito__content Объявление будет в течение 7 дней показываться в верхней части страниц поиска
            div().one-review-advert-avito__footer.md-body-1 Отдельно 1189 Р
        div().one-review-advert-avito__ads-box
            div().one-review-advert-avito__checkbox-container
                md-checkbox(aria-label='Checkbox 1').md-primary
            div().one-review-advert-avito__ads-box-header
                img(src='img/icons/icon-avito-ads-2.png')
                span().md-headline.text-bold VIP
            div().one-review-advert-avito__content Объявление будет 7 дней показываться в специальном блоке справа на страницах поиска
            div().one-review-advert-avito__footer.md-body-1 Отдельно 509 Р
        div().one-review-advert-avito__ads-box
            div().one-review-advert-avito__checkbox-container
                md-checkbox(aria-label='Checkbox 1').md-primary
            div().one-review-advert-avito__ads-box-header
                img(src='img/icons/icon-avito-ads-3.png')
                span().md-headline.text-bold Выделение
            div().one-review-advert-avito__content Объявление будет в течение 7 дней выделено в поиске золотым цветом
            div().one-review-advert-avito__footer.md-body-1 Отдельно 339 Р
        div().one-review-advert-avito__ads-box
            div().one-review-advert-avito__checkbox-container
                md-checkbox(aria-label='Checkbox 1').md-primary
            div().one-review-advert-avito__ads-box-header
                img(src='img/icons/icon-avito-ads-4.png')
                span().md-headline.text-bold Поднятия
            div().one-review-advert-avito__content Объявление 6 раз поднимется на первое место в результатах поиска
            div().one-review-advert-avito__footer.md-body-1 За 2 отдельно 250 - 350 Р
    div().text-center
        img(src='img/common/lines.png')
    div(layout='row' layout-align='center center')
        div(layout='column' layout-align='center center').one-review-advert-avito__turbo-sale.mv-16
            div().one-review-advert-avito__turbo-sale-outer.ph-32.pv-16
                div().one-review-advert-avito__turbo-sale-inner
                    md-checkbox(aria-label='Checkbox 1').md-primary.text-bold.md-subhead Турбо продажа 7 дней: 2219 Р
                    div().one-review-advert-avito__economy.md-subhead.mv-8.ml-32 Рекомендуем [Экономия 45%]
                    md-checkbox(aria-label='Checkbox 1').md-primary.md-body-1 не выкючать до закрытия объекта
            div().one-review-advert-avito__turbo-sale-inner
                div().text-left.mv-16
                    md-checkbox(aria-label='Checkbox 1' ng-disabled="true").md-primary.md-subhead.text-bold Размещение на 30 дней: #[span().text-normal 53 Р]
                div().one-review-advert-avito__separator
                div(layout='row' layout-align='space-between start').one-review-advert-avito__in-total.mv-16
                    span().md-title.text-uppercase Итого:
                    span().md-title 2272 Р
    div().ph-32
        div(layout='row' layout-align='space-between start')
            md-button().one-review-advert-avito__link.mh-0.ph-16 Посмотреть своё объявление
            div(layout='column').one-review-advert-avito__center-col
                md-button().md-primary.md-raised.mh-0.ph-16 Оплатить
                md-button().one-review-advert-avito__link.mh-0.ph-16 Перейти к рекламе в ЦИАНЕ
            md-button().md-raised.mh-0.ph-16 остановить рекламу
        //- div(layout='row' layout-align='center center').ph-32



