div(md-whiteframe='2').mv-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='25')
            h3.md-headline.text-uppercase Фото 20%
        div(flex='25')
            md-button(ng-click="oneReview.upload()").md-primary.md-raised Добавить фото
        div(flex='50')
            h3().md-headline Ответ от модератора:
            p().md-body-1 Не качественные.
            p().md-body-1 Закажите профессиональные #[a(href="#") в 2 клика]

div(md-whiteframe='2').mv-16
    div(layout='row' layout-wrap layout-align='space-around')
        div(flex)
            md-card
                md-button().md-primary.md-raised.one-review-btn-set-photo Сделать главным фото
                md-button(aria-label).one-review-btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close-white.svg')
                img(src='img/common/photo-2.jpg')
        div(flex)
            md-card
                md-button().md-primary.md-raised.one-review-btn-set-photo Сделать главным фото
                md-button(aria-label).one-review-btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close-white.svg')
                img(src='img/common/photo-2.jpg')
        div(flex)
            md-card
                md-button().md-primary.md-raised.one-review-btn-set-photo Сделать главным фото
                md-button(aria-label).one-review-btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close-white.svg')
                img(src='img/common/photo-2.jpg')
    div(layout='row' layout-align='space-between')
        div(flex)
            md-card
                md-button().md-primary.md-raised.one-review-btn-set-photo Сделать главным фото
                md-button(aria-label).one-review-btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close-white.svg')
                img(src='img/common/photo-2.jpg')
        div(flex)
            md-card
                md-button().md-primary.md-raised.one-review-btn-set-photo Сделать главным фото
                md-button(aria-label).one-review-btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close-white.svg')
                img(src='img/common/photo-2.jpg')
        div(flex)
            md-card
                md-button().md-primary.md-raised.one-review-btn-set-photo Сделать главным фото
                md-button(aria-label).one-review-btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close-white.svg')
                img(src='img/common/photo-2.jpg')
    div(layout='row' layout-align='space-between')
        div(flex)
            md-card
                md-button().md-primary.md-raised.one-review-btn-set-photo Сделать главным фото
                md-button(aria-label).one-review-btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close-white.svg')
                img(src='img/common/photo-2.jpg')
        div(flex)
            md-card
                md-button().md-primary.md-raised.one-review-btn-set-photo Сделать главным фото
                md-button(aria-label).one-review-btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close-white.svg')
                img(src='img/common/photo-2.jpg')
        div(flex)
            md-card
                md-button().md-primary.md-raised.one-review-btn-set-photo Сделать главным фото
                md-button(aria-label).one-review-btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close-white.svg')
                img(src='img/common/photo-2.jpg')

div(md-whiteframe='2').mv-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            h3.md-headline.text-uppercase Просмотр 20%
            div().one-review-btn-group
                md-button().md-primary.md-raised Была встреча
                md-button(flex-offset='10').md-raised Не встречались
        div(flex='50')
            h3().md-headline Ответ от модератора:
            p().md-body-1 Без просмотра сложно совершать сделки.
            p().md-body-1 Посмотрите #[a(href="#") «Как делать эффективный просмотр»]

div(md-whiteframe='2').mt-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            h3.md-headline.text-uppercase Качество рекламы 50%
        div(flex='50')
            h3().md-headline Ответ от модератора:
            p().md-body-1 Текст 1
            p().md-body-1 Вторая строка

div(md-whiteframe='2').mt-0.mb-16.ph-32.pv-16
    div(layout='row')
        div
            md-input-container
                label Выбрать удобства
                md-select(ng-model='realtyFilter.filter.conditions', multiple='true')
                    md-option(ng-value='condition.id',
                    ng-repeat="condition in realtyFilter.dictionary.conditions ") {{condition.name}}
        div(flex-offset='10')
            md-input-container
                label Уникальный продающий заголовок 65 символов, который тебя цепляет
                md-select(ng-model='realtyFilter.filter.conditions', multiple='true')
                    md-option(ng-value='condition.id',
                    ng-repeat="condition in realtyFilter.dictionary.conditions ") {{condition.name}}
    
    div(flex)
        md-input-container().md-block
          label Продающее объявление
          textarea(ng-model='user.biography', md-maxlength='2000', rows='15', md-select-on-focus='')
        md-button().md-primary.md-raised.ml-0 Сгенерировать новое описание

div(md-whiteframe='2').mt-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            h3.md-headline.text-uppercase Объем рекламы 10%
        div(flex='50')
            h3().md-headline Ответ от модератора:
            p().md-body-1 Первая строка
            p().md-body-1 Вторая строка

div(md-whiteframe='2').ph-16
    div(layout='column' layout-padding)
        h4().md-title Платные доски
        div(layout='row')
            div(flex='25').md-body-1 Главные доски
            div(flex='75').md-body-1.one-review-board-green Размещена и обновляется
        div(layout='row')
            div(flex='25').md-body-1 Остальные доски
            div(flex='75').md-body-1.one-review-board-red Купить эффективную рекламу
        div(layout='row')
            div(flex='25').md-body-1 GetRent.pro
            div(flex='75').md-body-1.one-review-board-green Размещено!


div(md-whiteframe='2').mv-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            h3.md-headline.text-uppercase Эксклюзив 0%
            div().one-review-btn-group
                md-button().md-primary.md-raised Эксклюзив
                md-button(flex-offset='10').md-raised Не эксклюзив
        div(flex='50')
            h3().md-headline Ответ от модератора:
            p().md-body-1 Пройдите интенсив
            p().md-body-1 Посмотрите #[a(href="#") «Как умело закрывать на эксклюзив за 10 минут»]

div(layout='column' layout-align='center center')
    md-button(flex='30').md-raised.btn-save.mv-16 Сохранить