loader(ng-if="oneReview.showLoader == true")

md-tabs(md-selected="0" md-dynamic-height)
    md-tab(label='1. Встреча')
        md-content
            one-review-meeting(realty='oneReview.realty' save-review='oneReview.saveNewDescription(id)')
    md-tab(label='2. Фотографии')
        md-content
            one-review-photo(thumbcontrol='oneReview.uploadThumbnailsLength' imagecontrol='oneReview.uploadImagesNormalLength' realty='oneReview.realty' savereview='oneReview.saveNewDescription(id)')
    md-tab(label='3. Объявление')
        md-content
            one-review-desc(realty='oneReview.realty' save-review='oneReview.saveNewDescription(id)')
    md-tab(label='4. Реклама')
        md-content
            one-review-advert(realty='oneReview.realty')
    md-tab(label='5. Модератор')
        md-content
            one-review-moderator(realty='oneReview.realty')

div(layout='column' layout-align='center center')
    div(flex='30')
        md-button(ng-click='oneReview.sendToModerator()'
        ng-disabled='!oneReview.realty.title || !oneReview.realty.details.descr || oneReview.realty.title.length >= 65 || oneReview.realty.details.descr.length >= 2000 || oneReview.realty.realtor.isExclusive === undefined || oneReview.realty.realtor.isCheckout === undefined || !oneReview.realty.details.images.length' ng-if='!oneReview.realty.moderator.status || oneReview.realty.moderator.status === "done"' aria-label='Отправить на проверку модератору').md-success.md-raised.md-title.mv-16.big-button {{ !oneReview.realty.title || !oneReview.realty.details.descr || oneReview.realty.title.length >= 65 || oneReview.realty.details.descr.length >= 2000 || oneReview.realty.realtor.isExclusive === undefined || oneReview.realty.realtor.isCheckout === undefined || !oneReview.realty.details.images.length ? 'Подготовьте объект по всем пунктам' : 'Отправить на проверку модератору'}}
    div(flex='30' ng-if='oneReview.realty.moderator.status == "todo" || oneReview.realty.moderator.status === "inprogress"').one-review-btn-in-progress.md-title.mv-16 Объект находится на проверке