div(md-whiteframe="1")
    md-tabs(md-dynamic-height md-selected="listMyClients.selectedTab")
        md-tab(ui-sref="crm.clients.list.my({status: \'realtor\', page: 1})") Мои клиенты
        md-tab(ui-sref="crm.clients.list.my({status: \'archive\', page: 1})") Архив
    
div
    client-card(
        dir-paginate="client in listMyClients.clients | itemsPerPage: listMyClients.perPage" 
        total-items="listMyClients.clientsCount"
        page-from='listMyClients'
        client='client')
    
pagination-buttons(ng-if='listMyClients.pagesCount' uisref='\'crm.clients.list.my\'' page='listMyClients.page' pagescount='listMyClients.pagesCount')
