md-tabs(md-dynamic-height md-selected="listMyClients.selectedTab")
    //md-tab(ui-sref="crm.clients.list.my({status: \'hot\'})") Горячие клиенты
    md-tab(ui-sref="crm.clients.list.my({status: \'realtor\', page: 1})") Мои клиенты
    //md-tab(ui-sref="crm.clients.list.my({status: \'all\'})") Все
    md-tab(ui-sref="crm.clients.list.my({status: \'archive\', page: 1})") Архив
    //md-tab(ui-sref="crm.clients.list.my({status: \'\'})") Скрыть фильтр
    
div
    client-card(
        dir-paginate="client in listMyClients.clients | itemsPerPage: listMyClients.perPage" 
        total-items="listMyClients.clientsCount"
        client='client')
    
pagination-buttons(ng-if='listMyClients.pagesCount' uisref='\'crm.clients.list.my\'' page='listMyClients.page' pagescount='listMyClients.pagesCount')
