div(layout='row' ng-init="oneReviewDescContent.onInit()")
    div(layout='column' flex)
        div(layout='row')
            md-button(ng-click="oneReviewDescContent.prevActiveBenefitObjectNumber(false)" ng-disabled='oneReviewDescContent.activeObject.index == -1 || !oneReviewDescContent.activeObject.index').little-button.md-icon-button.mr-0
                md-icon(md-svg-icon='skip_prev')
            md-button(ng-click="oneReviewDescContent.nextActiveBenefitObjectNumber(true)" ng-disabled='oneReviewDescContent.activeObject.index + 1 >= oneReviewDescContent.benefitsList.length').little-button.md-icon-button.ml-0
                md-icon(md-svg-icon='skip_next')
            md-input-container(flex='60').ml-16
                md-select(ng-model="oneReviewDescContent.activeObject.name" placeholder='Выберите выгоду')
                    md-option(ng-value='label' ng-repeat="label in oneReviewDescContent.benefitsList" ng-click="oneReviewDescContent.setActiveBenefitObjectNumber($index)") {{label}}

        div(layout='row')
            md-button(ng-click="oneReviewDescContent.prevActiveBenefitNumber(false)" ng-disabled='oneReviewDescContent.active.index <= 0').little-button.md-icon-button.mr-0
                md-icon(md-svg-icon='skip_prev')
          
            md-button(ng-click="oneReviewDescContent.nextActiveBenefitNumber(true)" ng-disabled='oneReviewDescContent.active.index + 1 >= oneReviewDescContent.activeBenefit.content.length').little-button.md-icon-button.ml-0
                md-icon(md-svg-icon='skip_next')
          
            md-input-container(flex='60').ml-16
                md-select(ng-model="oneReviewDescContent.activeBenefit.content[oneReviewDescContent.active.index]" placeholder='Выберите описание')
                    md-option(ng-value='name' ng-repeat="name in oneReviewDescContent.activeBenefit.content" ng-click="oneReviewDescContent.setActiveBenefitNumber($index)") {{name}}

md-input-container().md-block
    label Продающее объявление
    textarea(md-maxlength="2000" maxlength="2000" ng-keydown="oneReviewDescContent.controlKeyPress(oneReviewDescContent.desc.details)" ng-model="oneReviewDescContent.desc.details")