div(layout='row')
    div(layout='column' flex='30')
        p(flex='30' layout='row' layout-align="center start")
            md-button(ng-click="oneReviewDescContent.prevActiveBenefitObjectNumber(false)" ng-disabled='oneReviewDescContent.activeBenefitObjectNumber == 0' flex='50').md-raised Previous
            md-button(ng-click="oneReviewDescContent.nextActiveBenefitObjectNumber(true)" ng-disabled='oneReviewDescContent.activeBenefitObjectNumber >= oneReviewDescContent.benefitsList.length - 1' flex='50').md-raised Next
        p(flex='30' layout='row' layout-align="center start")
            md-button(ng-click="oneReviewDescContent.prevActiveBenefitNumber(false)" ng-disabled='oneReviewDescContent.activeBenefitNumber == 0' flex='50').md-raised P
            md-button(ng-click="oneReviewDescContent.nextActiveBenefitNumber(true)" ng-disabled='oneReviewDescContent.activeBenefitNumber >= oneReviewDescContent.activeBenefit.content.length - 1' flex='50').md-raised N
    div(layout='column' flex='70')
        md-input-container().md-block(flex='30')
            md-select(ng-model="oneReviewDescContent.activeBenefitObjectName" placeholder='Выберите выгоду')
                md-option(ng-value='label' ng-repeat="label in oneReviewDescContent.benefitsList" ng-click="oneReviewDescContent.setActiveBenefitObjectNumber($index)") {{label}}
        md-input-container().md-block(flex='30')
            md-select(ng-model="oneReviewDescContent.activeBenefit.content[oneReviewDescContent.activeBenefitNumber]" placeholder='{{oneReviewDescContent.activeBenefit.label}}')
                md-option(ng-value='name' ng-repeat="name in oneReviewDescContent.activeBenefit.content" ng-click="oneReviewDescContent.setActiveBenefitNumber($index)") {{name}}
        md-button(ng-click="oneReviewDescContent.addDescDetail(name)").md-raised.md-primary Добавить описание
md-input-container().md-block
    textarea(ng-model="oneReviewDescContent.descDetails")