<md-dialog aria-label="Mango (Fruit)" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Оплата подписки</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Безлимитное количество объектов за 990 рублей в месяц</h2>
        <form id="__cmsform_order" role="form" method="POST" action="http://ariusbiz.justclick.ru/order/confirm/ocaen_object_period/?t=20985#form" target='blank' onsubmit="return __cmsformcheck_order()" />
            <input type="hidden" name="good_name" value="{{feedback.data.good_name}}" />
            <input type="hidden" name="bill_first_name" value="{{feedback.data.bill_first_name}}" />
            <input type="hidden" name="bill_email" value="{{feedback.data.bill_email}}" />
            <input type="hidden" name="bill_phone" value="{{feedback.data.bill_phone}}" />
            <input type="hidden" name="offerta_accept" checked="{{feedback.data.offerta_accept}}" />
            <md-button class="md-primary md-raised">
                <input type="submit" value="Заказать" name="doorder" class="feedback__nostyles p-0 m-0" />
            </md-button>
            <md-button ng-click="close()" style="margin-right:20px;">Useful</md-button>
        </form>
    </md-dialog-content>
  </form>
</md-dialog>  