.slide {
  &__bg {
    z-index: 70;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  &__wrapper {
    z-index: 71;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    width: 664px;
    height: 442px;
    margin: 0px auto;
    padding: 0;
    background: $black;
    box-shadow: 0 0 4px rgba(106, 106, 106, 0.7);
    .slide__close {
      position: absolute !important;
      top: 0 !important;
      right: -58px !important;
      width: 45px !important;
      height: 45px !important;
      border-radius: 0 !important;
      background: rgba(51, 51, 51, 0.5) !important;
      md-icon {
        position: absolute;
        top: -9px;
        left: -7px;
        width: 60px;
        height: 60px;
        color: $white;
      }
    }
  }
  &__content {
    overflow: hidden;
  }
  &__inner {
    transition: 0.5s;
  }
  &__block {
    display: inline-block;
    width: 644px;
    margin: 0 10px;
    padding: 0;
    text-align: center;
  }
  &__img {
    max-width: 100%;
    max-height: 442px;
  }
  &__prev,
  &__next {
    z-index: 10;
    position: absolute;
    background: url('img/icons/icon-arrow-left.png') no-repeat;
    width: 42px;
    height: 42px;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__prev {
    top: 50%;
    left: 0;
    transform: translate(0, -50%) scaleX(-1);
  }
  &__next {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}