div(ng-style="slideShow.sliderStyles" ng-if="slideShow.isshown" ng-click="slideShow.hideSlides()").slide__bg
div(ng-style="slideShow.sliderStyles" ng-if="slideShow.isshown").slide__wrapper
    div().slide__content
        div(ng-click="slideShow.nextSlide(false,slideShow.slidesList.length)").slide__prev
        div(ng-style="slideShow.slideInnerStyle" ng-init="slideShow.showSlides()").slide__inner
            div(ng-repeat="slide in slideShow.slidesList").slide__block
                img(ng-src="{{slide.url}}").slide__img
        div(ng-click="slideShow.nextSlide(true,slideShow.slidesList.length)").slide__next
    md-button(aria-label='Закрыть').md-icon-button.slide__close.m-0.p-0
        md-icon(ng-click='slideShow.hideSlides()' md-svg-icon='svg/icon-close-thin.svg')