div().modal
    div(ng-click='realtyNewListFilter.modal = false').modal__bg
    div().modal__outer
        div().modal__inner
            div(md-whiteframe='2' style='min-height: 500px;' ng-if='!realtyNewListFilter.loaded').pv-16
                md-progress-circular(md-diameter='150' style='margin:180px auto;')
            div(md-whiteframe='2' ng-if='realtyNewListFilter.loaded').pv-16
                div realtyNewListFilter.newFilter.filter
                div {{realtyNewListFilter.newFilter.filter}}
                div(layout='column' ng-if='!realtyNewListFilter.showFilter')
                    div().text-right.md-body-1.ph-16.pt-32 SMS оповещение
                    div(ng-repeat='filter in realtyNewListFilter.myFilters')
                        div(ng-class='{"realty-new-list-filter__selected":filter.show}' ng-init='realtyNewListFilter.checkSmsIsActive()' ).mv-8.ph-16
                            div(layout='row' layout-align='start center')
                                div(flex='30')
                                    span().md-subhead.realty-new-list-filter__col {{$index+1}}. {{filter.name}}
                                div(flex='50' layout='row' layout-align='space-between none').ml-32
                                    md-button(ng-click='realtyNewListFilter.useFilter($index)').realty-new-list-filter__link показать объекты
                                    md-button(ng-click='filter.shown = !filter.shown').realty-new-list-filter__link критерии
                                    md-button(ng-click='realtyNewListFilter.changeFilter($index)').realty-new-list-filter__link изменить
                                    md-button(ng-click='realtyNewListFilter.deleteFilter($index, $event)').realty-new-list-filter__link удалить
                                div(layout='row' layout-align='center center' flex flex-offset='5')
                                    md-switch(aria-label='Switch 2' ng-change='realtyNewListFilter.changeFilterSms($index)' ng-model='filter.isActive').md-warn.realty-new-list-filter__sms
                            realty-new-list-filter-one(ng-if='filter.filter && filter.shown' filter='filter.filter').pb-16
                    div(layout='row' layout-align='space-between center').mv-32.ph-16
                        md-button(ng-click='realtyNewListFilter.createFilter()').md-primary.md-raised.ph-16.ml-0 Добавить фильтр
                        //md-button(ng-click='realtyNewListFilter.modal = false').realty-new-list-filter__link.text-normal.mr-16 Скрыть
                    div().mt-8.ph-16
                        md-checkbox(aria-label='Checkbox 1' ng-change='realtyNewListFilter.changeUserGetSmsPremium(realtyNewListFilter.user.profile.getSmsPremiumObjects)' ng-model='realtyNewListFilter.user.profile.getSmsPremiumObjects').md-primary.md-subhead Присылать SMS о всех новых объектах со статусами назначена встреча, собственник платит комиссию, эксклюзив
                
                div(ng-if='realtyNewListFilter.showFilter').realty-filter.pl-32.pr-16
                    realty-filter(refresh='realtyNewListFilter.refresh' parent='"custom"' filter='realtyNewListFilter.newFilter.filter' roomcount='realtyNewListFilter.roomcount')
                    div(layout='row').mv-32
                        md-input-container(flex='33').mv-0.pv-0
                            input(placeholder='Название фильтра' ng-model='realtyNewListFilter.newFilter.name')
                    div(layout='row').mv-32
                        md-button(ng-disabled='!realtyNewListFilter.newFilter.name' ng-click='realtyNewListFilter.saveNewFilter()').md-primary.md-raised.ph-16.ml-0 {{realtyNewListFilter.changingFilter !== undefined ? 'Сохранить фильтр' : 'Добавить фильтр' }}
                        md-button(ng-click='realtyNewListFilter.backToFiltersList()').md-primary.ph-16 Отмена
            md-button(aria-label='Закрыть').md-icon-button.slide__close.m-0.p-0.realty-new-list-filter__btn_close
                md-icon(ng-click='realtyNewListFilter.modal = false' md-svg-icon='svg/icon-close-thin.svg')