div(md-whiteframe='2').mv-16
    div Realty
    div {{oneDemonstrations.realty}}
    div Queries
    div {{oneDemonstrations.clientFilterQueries}}
    div(layout='column')
        div(layout='row')
            div(flex='20').ph-16.pv-8
                h3().md-title.text-bold 30000
                p().md-body-1 Готов платить комиссию = {{clientCard.client.comissionLoyal}}
                p().md-body-1 на сейчас
                p().md-body-1 ищет 14 дней
            md-divider
            div(flex='60').one-demonstrations-center-cell.ph-16.pv-8
                span().md-subhead.text-bold 1 мая 17:00
                span().one-demonstrations-text-divider
                span().md-subhead.text-bold через 3:00
                span().one-demonstrations-text-divider
                span().md-subhead.text-bold 8 925 111 22 33
                span().one-demonstrations-text-divider
                span().md-subhead.text-bold Александр
                p().md-body-1 {{clientCard.client.realtorNote}}
            md-divider
            div(flex='20')
                md-button().md-primary Отправить отчет
                md-button().md-caption.one-demonstrations-btn-show.mv-0 Перенести показ
        div(layout='row')
        div(layout='row')
    md-divider
    div(layout='column')
        div(layout='row')
            div(flex='20').ph-16.pv-8
                h3().md-title.text-bold.text-uppercase.one-demonstrations-new-label Новый
                h3().md-title.text-bold.text-uppercase.one-demonstrations-new-label {{clientCard.client.name}}
                h3().md-title.text-bold.text-uppercase.one-demonstrations-new-label {{clientCard.client.phone}}
            md-divider
            div(flex='30').ph-16.pv-8
                div
                    span().metro-color.metro-color-pink
                    span().address-info.md-body-1 Таганская, 10 мин. пешком, р-н. Аэропорт, ул.Таганская 15 к1
            md-divider
            div(flex='30').ph-16.pv-8
                span().md-body-1 2, 3 комнат, длительная, этаж 2+, Кирпичный, 50-75м²
            md-divider
            div(flex='20').ph-16.pv-8
                div(layout='row', layout-wrap, layout-align='space-around')
                    img(src='img/icons/icon-tv.png').one-demonstrations-icon-comfort
                    img(src='img/icons/icon-tv.png').one-demonstrations-icon-comfort
                    img(src='img/icons/icon-tv.png').one-demonstrations-icon-comfort
                    img(src='img/icons/icon-tv.png').one-demonstrations-icon-comfort
                    img(src='img/icons/icon-tv.png').one-demonstrations-icon-comfort
                    img(src='img/icons/icon-tv.png').one-demonstrations-icon-comfort
                    img(src='img/icons/icon-tv.png').one-demonstrations-icon-comfort
                    img(src='img/icons/icon-tv.png').one-demonstrations-icon-comfort
