div(md-whiteframe='2').mv-16.client-card
    div {{oneDemonstrations.realty}}
    div {{oneDemonstrations.clientFilterQueries}}
    div(layout='column')
        div(layout='row')
            div(flex='25').ph-16.pv-8
                h3(ng-click="clientCard.sendCurrentClient(clientCard.client)").md-title.text-bold.client-card__price {{clientCard.client.need.priceTo}}
                p().md-body-1.client-card__right-label {{clientCard.client.comissionLoyal == true ? 'Готов ' : 'Не готов ' }} платить комиссию
                p().md-body-1.client-card__right-label на {{clientCard.searchTarget ? (clientCard.client.searchEndDate | date:'MM/dd') : 'сейчас'}}
                p().md-body-1.client-card__right-label ищет {{clientCard.searchDuration}} дней
            md-divider
            div(flex='55' layout="column").one-demonstrations-center-cell.ph-16.pv-8
                p(ng-if="clientCard.client.status == 'realtor'").md-title.client-card__no-margin
                    span().text-bold 1 мая 17:00 | 
                    span().text-bold через 3:00
                p().md-body-1.client-card__note {{clientCard.client.realtorNote}}
            div.pv-8.ph-8(flex='20' layout="column" ng-if="clientCard.client.status") 
                p.client-card__link_p(ng-if="clientCard.client.status != 'archive'")
                    a.client-card__link(ui-sref="crm.clients.details.connections({client:clientCard.client._id, assort: 'manual', activetab: 'relations'})" href="") 15 связей
                p.text-uppercase.client-card__btn_buy-client(ng-if="clientCard.client.status == 'hot'") Купить за 150 руб.
                p.client-card__link_p(ng-if="clientCard.client.status == 'realtor'")
                    a.client-card__link(ui-sref="crm.clients.details.email({client:clientCard.client._id, activetab: 'offers'})" href="") 10 предложений
                p.client-card__link_p(ng-if="clientCard.client.status == 'realtor'")
                    a.client-card__link(ui-sref="crm.clients.details.demonstration({client:clientCard.client._id, activetab: 'shows'})" href="") 2 показа
                p.client-card__link_p(ng-if="clientCard.client.status == 'realtor'")
                    a.client-card__link(ui-sref="crm.clients.details.connections({client:clientCard.client._id, assort: 'manual', activetab: 'relations'})" href="") Добавить объекты
            div.pv-8.ph-8(flex='20' layout="column" ng-if="clientCard.assort == 'manual'")
                p.text-uppercase.client-card__btn_blue-view Назначить показ
                p.text-uppercase.client-card__btn_buy-client Купить за 150 руб.
                p.client-card__btn_hide скрыть
            div.pv-8.ph-8(flex='20' layout="column" ng-if="clientCard.assort == 'auto'")
                p.text-uppercase.client-card__btn_blue-view Предложить объект
                p.text-uppercase.client-card__btn_buy-client Купить за 150 руб.
        div(layout='row')
            div(flex='25').ph-16.pv-8
                div(ng-if="clientCard.client.status != 'hot' && !clientCard.assort")
                    p.md-body-1.client-card__right-label {{clientCard.client.phone}}
                    p.md-body-1.client-card__right-label {{clientCard.client.name}}


                h3(ng-if="clientCard.client.status == 'hot' && !clientCard.assort").md-title.text-bold.text-uppercase.one-demonstrations-new-label Новый
                h3(ng-if="clientCard.assort").md-title.text-bold.text-uppercase.one-demonstrations-new-label Новая связь




            div(flex='55' layout="row").one-demonstrations-center-cell.ph-16.pv-8
                div(flex='45').ph-16.pv-8
                    p(ng-repeat="subway in clientCard.client.need.embedded.subways")
                        span().metro-color.metro-color-pink
                        span() {{subway.name}}, 
                        span() 10 минут пешком
                    p
                        span(ng-repeat="district in clientCard.client.need.embedded.districts") р-н {{district}}
                div(flex='55').ph-16.pv-8
                    p
                        span(ng-repeat="room in clientCard.client.need.roomcount").md-body-1 {{room}}
                            span(ng-if="$index < clientCard.client.need.roomcount.length - 1") , 
                        span() {{ }} комнат,  длительная
            div(flex='20')
                div.ph-16(layout='row', layout-wrap, layout-align='start start')
                    div(flex="25" ng-repeat="condition in clientCard.client.need.conditions")
                        md-icon(ng-if="condition == 'furniture'" md-svg-icon='conditions_furniture')
                        md-icon(ng-if="condition == 'kitchen_furniture'" md-svg-icon='conditions_kitchen_furniture')
                        md-icon(ng-if="condition == 'tv'" md-svg-icon='conditions_tv')
                        md-icon(ng-if="condition == 'refrigerator'" md-svg-icon='conditions_refrigerator')
                        md-icon(ng-if="condition == 'washer'" md-svg-icon='conditions_washer')
                        md-icon(ng-if="condition == 'phone'" md-svg-icon='conditions_phone')
                        md-icon(ng-if="condition == 'animal'" md-svg-icon='conditions_animal')
                        md-icon(ng-if="condition == 'elevator'" md-svg-icon='conditions_elevator').icon-rotate-90
                        md-icon(ng-if="condition == 'children'" md-svg-icon='conditions_children')
                        md-icon(ng-if="condition == 'wifi'" md-svg-icon='conditions_wifi')