div Layout по клиентам
    div
        md-button.md-primary(ui-sref="crm.clients.list.hot") Горячие клиенты
        md-button.md-primary(ui-sref="crm.clients.list.my") В работе
        md-button.md-primary(ui-sref="crm.clients.list.my") Все
        md-button.md-primary(ui-sref="crm.clients.list.my") Архив
        md-button.md-primary(ui-sref="crm.clients.list.my") Скрыть фильтр
    ui-view