md-toolbar.md-primary(layout='row' layout-align='end center')
    //span().md-body-1.mr-32 +7 (925) 075-95-87
md-content
    div().mt-32.text-center
        img(src='img/logos/brand-logo-medium.png')
    div(layout='column', layout-align='center center').p-32
        div(md-whiteframe='2').register-form.mb-32.mt-0
            md-toolbar(ng-show='registerPhoto.error', layout='row', layout-align='center center').md-warn.mb-16
                p(ng-if='registerPhoto.error == 1').md-body-1 Телефон обязателен для регистрации
                p(ng-if='registerPhoto.error == 2').md-body-1 Этот Email уже зарегистрирован
                p(ng-if='registerPhoto.error == 3').md-body-1 Неизвестная ошибка. Попробуйте позже
            form(name='registerForm' ng-submit='registerPhoto.register()')
                div(layout='row' layout-align='center center')
                    phone-mask(layout='row' flex='80' ng-if='registerPhoto.credentials.profile' label='"Телефон"' phone='registerPhoto.credentials.profile.phone').mt-16
                //div(layout='row' layout-align='center center')
                    phone-mask(layout='row' flex='80' ng-if='registerPhoto.credentials.profile' label='"Ваш телефон на cian.ru"' phone='registerPhoto.credentials.profile.phone').mt-16
                div(layout='row' layout-align='center center')
                    md-input-container(flex='80').md-block.form-required.m-0
                        label Имя
                        input(type='text', required='' ng-model='registerPhoto.credentials.profile.name')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='80').md-block.form-required.m-0
                        label Фамилия
                        input(type='text', required='' ng-model='registerPhoto.credentials.profile.surName')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='80').md-block.form-required.m-0
                        label Email
                        input(type='email', ng-model='registerPhoto.credentials.email', required='')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='80').md-block.form-required.m-0
                        md-select(required ng-model='register.credentials.profile.city' aria-label='Выбрать город')
                            md-option(ng-value='Москва') Москва
                div(layout='row' layout-align='center center')
                    md-input-container(flex='80').md-block.form-required.m-0
                        label Пароль
                        input(type='password', ng-model='registerPhoto.credentials.password', required='')
                div(layout='row' layout-align='center center' ng-class='{"has-error":registerForm.passwordRepeat.$touched && registerPhoto.passwordrepeat != registerPhoto.credentials.password}')
                    md-input-container(flex='80').md-block.form-required.m-0
                        label {{ registerForm.passwordRepeat.$touched ? registerPhoto.passwordrepeat == registerPhoto.credentials.password ? 'Пароли совпадают' : 'Пароли не совпадают' : 'Повторите пароль'}}
                        input(name='passwordRepeat' type='password', ng-model='registerPhoto.passwordrepeat', required='')
                div(layout='row' layout-align='center center')    
                    subway-chips(flex='80' ng-model='registerPhoto.credentials.profile.subways.list'
                             subways-embeded = 'registerPhoto.credentials.profile.subways.embedded').zh
                div(layout='row' layout-align='center center')
                    md-button(flex='80' type='submit' aria-label='register' ng-disabled='registerForm.$invalid || (registerPhoto.passwordrepeat != registerPhoto.credentials.password) || registerPhoto.credentials.profile.phone.length < 11').md-raised.md-primary.register__btn-submit Зарегистрироваться
                div(layout='column' layout-align='start center')
                    div().md-body-1 или
                    div
                        a(href='/login').md-button.md-primary Войти
                        //span я хочу увеличить
                        //span количество сделок