div(md-whiteframe="1" )
    //md-tabs(md-border-bottom)
        //md-tab(label='Новые' ui-sref="crm.realty.list.new")
        //md-tab(label='Избранные')
        md-tab(label='Мои объекты' ui-sref="crm.realty.list.my")
        //md-tab(label='Архив' ui-sref="crm.realty.list.archive")
ui-view