div(md-whiteframe="1")
    md-tabs(md-selected='realtyListLayout.selectedTab')
        md-tab(label='Мои объекты' ui-sref="crm.realty.list.my")
        md-tab(label='Архив' ui-sref="crm.realty.list.archive")
ui-view