div(flex='100')
    div(layout='row' layout-align='start center')
        div(flex='15')
            md-input-container().form-required
                md-select(ng-model='outgoingCallDetails.realty.type' required)
                    md-option(ng-value='4') Аренда
                    md-option(ng-value='1') Продажа
        div(flex='25')
            subway-choice(ng-if='outgoingCallDetails.realty && !outgoingCallDetails.showLoader'
                          ng-model='outgoingCallDetails.realty.address.subway'
                          restart='outgoingCallDetails.newObjectRecieved')
        div(flex='10')
            div(layout='row' layout-align='space-between end').outgoing-call__metro
                md-input-container(flex='35').ml-32.mv-0.pb-0.form-required
                    input(ng-model='outgoingCallDetails.realty.address.metroTime' type='number' aria-label='До метро' placeholder='' required='')
        div(flex='20')
            div(layout='row')
                md-input-container(flex).mv-0.pb-0.form-required
                    md-select(ng-model='outgoingCallDetails.realty.address.metroTransport' required='')
                        md-option(ng-value='transport.id',
                        ng-repeat="transport in outgoingCallDetails.dictionary.transport") {{transport.name}}
    div(layout='row').mt-32
        div(flex='55')
            realty-street(ng-if='!outgoingCallDetails.showLoader' ng-model='outgoingCallDetails.realty.address.street'
            house='outgoingCallDetails.realty.address.house').w-100
        div(flex='15' flex-offset='5')
            div(layout='row' layout-align='space-between end')
                md-input-container(flex='33').mv-0.pb-0.form-required
                    input(ng-model='outgoingCallDetails.realty.floor' required='')
                label(flex='33').md-subhead.mh-16 из
                md-input-container(flex='33').mv-0.pb-0.form-required
                    input(ng-model='outgoingCallDetails.realty.floormax' required='') 
        //div(flex='35' layout='row' flex-offset='5' layout-align='center center')
            label(flex='40').md-subhead.mh-16.pr-16.form-required Собственников
            md-radio-group(required='' ng-model="outgoingCallDetails.realty.owner.qty" layout='row' layout-align='center start' flex='60')
                md-radio-button(value="0").md-primary 1
                md-radio-button(value="1").md-primary 2
                md-radio-button(value="2").md-primary 3+
    div(layout='row' layout-align='space-between center')
        md-input-container(flex='10').form-required
            label Комнат
            md-select(ng-model='outgoingCallDetails.realty.roomcount' required='')
                md-option(ng-value='room.id' ng-repeat="room in outgoingCallDetails.dictionary.roomcount") {{room.name}}
        div(flex='10' layout='row' layout-align='center center')
            md-checkbox(aria-label='penthouse' md-no-ink ng-model='addRealtyFull.realty.details.penthouse').md-primary.md-subhead.mb-0 Студия
        div(flex='15' layout='row' layout-align='center center')
            md-checkbox(aria-label='apartaments' md-no-ink ng-model='addRealtyFull.realty.details.apartaments').md-primary.md-subhead.mb-0 Апартаменты
        div(flex='10')
            price-mask(ng-if='!outgoingCallDetails.showLoader' label='"Цена"' price='outgoingCallDetails.realty.price' optflex='')
        div(flex='10' layout='row' layout-align='center center')
            md-checkbox(aria-label='isTrade' md-no-ink ng-model='addRealtyFull.realty.owner.isTrade').md-primary.md-subhead.mb-0 Торг
        div(flex='20')
            md-input-container().form-required.w-100
                label Коммунальные
                md-select(ng-model='outgoingCallDetails.realty.details.communal' required='')
                    md-option(ng-value='communal.id' ng-repeat="communal in outgoingCallDetails.dictionary.communal") {{communal.name}}
        div(flex='15')
            md-input-container().form-required
                label Залог
                md-select(ng-model='outgoingCallDetails.realty.owner.deposit' required='')
                    md-option(ng-value='deposit.id' ng-repeat="deposit in outgoingCallDetails.dictionary.deposit") {{deposit.name}}
    div(layout='row')
        div(layout='column' flex='45')
            div(layout='row')
                div(flex='30')
                    md-input-container().form-required
                        input(required='' name='square' type='number' ng-model='outgoingCallDetails.realty.square' placeholder='Общая')
                div(flex='30' flex-offset='5')
                    md-input-container().form-required
                        input(required='' name='kitchenSquare' type='number' ng-model='outgoingCallDetails.realty.details.kitchenSquare' placeholder='Кухни')
            div(layout='row')
                div(flex='30')
                    md-input-container().form-required
                            input(type='number' name='livingSquare' ng-model='outgoingCallDetails.realty.details.livingSquare' placeholder='Жилая')
                div(flex='30' flex-offset='5')
                    md-input-container(ng-class='{"form-required":outgoingCallDetails.realty.roomcount != 1}')
                        input(name='roomsSquare' ng-model='outgoingCallDetails.realty.details.roomsSquare' ng-required='outgoingCallDetails.realty.roomcount != 1' placeholder='Площадь комнат')
                div(flex='30' flex-offset='5')
                    md-input-container().form-required.w-100
                        label Ремонт
                        md-select(ng-model='outgoingCallDetails.realty.details.renovation' required='').outgoing-call__remont
                            md-option(ng-value='renovation.id' ng-repeat="renovation in outgoingCallDetails.dictionary.renovation") {{renovation.name}}
        div(layout='column' flex='50' layout-align='space-around start').pl-16
            div(layout='row' layout-align='space-between center').mb-8.w-100
                div(flex='75' layout='row' layout-align='start center' )
                    label(flex='45').md-subhead.mh-16 
                        span.pr-16.form-required Санузел
                    md-radio-group(ng-model="outgoingCallDetails.realty.details.bathQty" layout-align='start start' layout='row' flex='50' required)
                        md-radio-button(ng-value="0").md-primary 1
                        md-radio-button(ng-value="1").md-primary 2
                        md-radio-button(ng-value="2").md-primary 3
                div(flex='25')
                    md-checkbox(ng-model='outgoingCallDetails.realty.details.bathCombined' aria-label="Combined bathroom").m-0.md-primary.md-subhead Совмещенный
            div(layout='row' layout-align='space-between center').w-100
                div(flex='75' layout='row' layout-align='start center' )
                    label(flex='45').md-subhead.mh-16 
                        span.pr-16.form-required Балкон / Лоджия
                    md-radio-group(ng-model="outgoingCallDetails.realty.details.balcony" layout-align='start start' layout='row' flex='50' required)
                        md-radio-button(ng-value="0").md-primary 0
                        md-radio-button(ng-value="1").md-primary 1
                        md-radio-button(ng-value="2").md-primary 2
                div(flex='25')
                    md-checkbox(ng-model='outgoingCallDetails.realty.details.balconGlassed' aria-label="Glassed").m-0.md-primary.md-subhead Застеклен