div(layout='row')
    md-button(ng-if='!realtyCardPurchase.cardContacts.realtyPhone && !realtyCardPurchase.con' ng-disabled='realtyCardPurchase.takeInProgress' ng-click='realtyCardPurchase.takeRealty(realtyCardPurchase.realty._id, $event, realtyCardPurchase.price)').md-raised.md-warn.ml-0.mr-16.ph-16.mt-8 
        | {{realtyCardPurchase.takeInProgress ? 'Взятие...' : 'Взять за ' + realtyCardPurchase.price + ' рублей' }}
    md-button(ng-click='realtyCardPurchase.takeObjectViaSubscribtion()' ng-if='realtyCardPurchase.subscribeType').md-raised.md-primary Взять по подписке "{{realtyCardPurchase.subscribeType}}"
div(ng-if='realtyCardPurchase.con')
    //md-button(ng-if='!realtyCardPurchase.userpaid' ng-click='realtyCardPurchase.takeRealty(realtyCardPurchase.realty._id, $event)').md-primary.mh-0.mt-0 Показать телефон
    md-button(ng-if='realtyCardPurchase.realty.status != "connection" && realtyCardPurchase.realty.status != "taken"' ng-disabled='realtyCardPurchase.takeInProgress' ng-click='realtyCardPurchase.takeRealty(realtyCardPurchase.realty._id, $event, realtyCardPurchase.price, "connection")').ml-0.mr-16.ph-16.mt-8 {{realtyCardPurchase.takeInProgress ? 'Взятие...' : realtyCardPurchase.purchaseText || 'Взять объект'}}
    div(ng-if='realtyCardPurchase.cardContacts.realtyPhone').md-subhead.mb-8.nowrap {{realtyCardPurchase.cardContacts.realtyPhone | phone}}
    //div(ng-if='realtyCardPurchase.realtyPhone').md-subhead.mb-8.nowrap {{realtyCardPurchase.realtyPhone}}
    //div().md-subhead.mb-8.nowrap NoIf {{realtyCardPurchase.realtyPhone}}
    md-button(ng-if='realtyCardPurchase.realty.status == "connection"' ng-click='realtyCardPurchase.takeRealty(realtyCardPurchase.realty._id, $event, 0, "taken")').ml-0.mr-16.ph-16.mt-8 Добавить в мои объекты    