div.md-whiteframe-2dp(md-whiteframe="2")
    div(layout="row")
        md-tabs(md-dynamic-height md-border-bottom md-selected="oneFind.selectedTab" flex="80")
            md-tab(ui-sref="crm.realty.one.find({searchType:'my'})") Мои
            md-tab(ui-sref="crm.realty.one.find({searchType:'manual'})") Точное сопадение
            md-tab(ui-sref="crm.realty.one.find({searchType:'algorithm'})") Авто-подборка

div.md-whiteframe-2dp(md-whiteframe="2")
    client-card(ng-repeat='client in oneFind.clients'
    client='client'
    assort="oneFind.assort"
    realty-id='{{oneFind.realty._id}}'
    page-from='{{oneFind.searchType}}')