.realty-one-layout-btn-back {   
    background-color: #f5f5f5 !important;
    border: none;
    md-icon {
        width: 14px;
        height: 14px;
    }
}

.realty-one-layout-whiteframe {
    box-shadow: 0 0 4px rgba(106, 106, 106, 0.7) !important;
}