div(md-whiteframe="1")
    div Название улицы и вернуться назад
    md-tabs()
        md-tab(label='Связи')
        md-tab(label='Показы' ui-sref='crm.realty.one.demonstrations')
        md-tab(label='Подготовка 40%' ui-sref='crm.realty.one.review')
        //md-tab(label='Отправить предложение')
        md-tab(label='Инфо об объекте' ui-sref='crm.realty.one.info')
ui-view