div(md-whiteframe='1')
    div(layout='row' layout-align='start center').topbar
        md-button(aria-label='Вернуться назад' ui-sref="crm.realty.list.my").realty-one-layout-btn-back.mh-16
            md-icon(md-svg-src='svg/icon-arrow-left.svg')
        h3.md-headline г Москва, {{::realtyOneLayout.infoRealty.address.street}}, {{::realtyOneLayout.infoRealty.address.house}}, кв {{::realtyOneLayout.infoRealty.address.flat}}
div(md-whiteframe='1').realty-one-layout-whiteframe
    md-tabs(md-selected="realtyOneLayout.selectedTab")
        //md-tab(label='Связи' ui-sref='crm.realty.one.connections({assort:\'manual\'})')
        //md-tab(label='Показы' ui-sref='crm.realty.one.demonstrations')
        md-tab(label='Подготовка {{realtyOneLayout.infoRealty.moderator.percent.total || 0}}%' ui-sref='crm.realty.one.review')
        //md-tab(label='Отправить предложение' ui-sref='crm.realty.one.email')
        md-tab(label='Инфо об объекте' ui-sref='crm.realty.one.info')
ui-view