div clientFiltersList.newFilter.filter
div {{clientFiltersList.newFilter.filter}}
div(layout='column' ng-if='!clientFiltersList.showFilter')
    div().text-right.md-body-1.ph-16.pt-32 SMS оповещение
    div(ng-repeat='filter in clientFiltersList.myFilters')
        div(ng-class='{"realty-new-list-filter__selected":filter.show}' ng-init='clientFiltersList.checkSmsIsActive()' ).mv-8.ph-16
            div(layout='row' layout-align='start center')
                div(flex='30')
                    span().md-subhead.realty-new-list-filter__col {{$index+1}}. {{filter.name}}
                div(flex='50' layout='row' layout-align='space-between none').ml-32
                    md-button(ng-click='clientFiltersList.useFilter($index)').realty-new-list-filter__link показать объекты
                    md-button(ng-click='filter.shown = !filter.shown').realty-new-list-filter__link критерии
                    md-button(ui-sref='crm.client-filters.change' ng-click='clientFiltersList.changeFilter($index)').realty-new-list-filter__link изменить
                    md-button(ng-click='clientFiltersList.deleteFilter($index, $event)').realty-new-list-filter__link удалить
                div(layout='row' layout-align='center center' flex flex-offset='5')
                    md-switch(aria-label='Switch 2' ng-change='clientFiltersList.changeFilterSms($index)' ng-model='filter.isActive').md-warn.realty-new-list-filter__sms
            client-filters-list-item(ng-if='filter.filter && filter.shown' filter='filter').pb-16
    div(layout='row' layout-align='space-between center').mv-32.ph-16
        md-button(ng-click='clientFiltersList.createFilter()').md-primary.md-raised.ph-16.ml-0 Добавить фильтр
    div().mt-8.ph-16
        md-checkbox(aria-label='Checkbox 1' ng-change='clientFiltersList.changeUserGetSmsPremium(clientFiltersList.user.profile.getSmsPremiumObjects)' ng-model='clientFiltersList.user.profile.getSmsPremiumObjects').md-primary.md-subhead Присылать SMS о всех новых объектах со статусами назначена встреча, собственник платит комиссию, эксклюзив
               