div(md-whiteframe='1').one-review-moderator.mv-16.p-16
    div().pl-16.pb-32
        div(layout='row' layout-align='space-between start' layout-wrap).one-review-moderator__photo-album
            img(src='img/common/photo-5.jpg').one-review-moderator__photo
            img(src='img/common/photo-5.jpg').one-review-moderator__photo
            img(src='img/common/photo-5.jpg').one-review-moderator__photo
            img(src='img/common/photo-5.jpg').one-review-moderator__photo
            img(src='img/common/photo-5.jpg').one-review-moderator__photo
            img(src='img/common/photo-5.jpg').one-review-moderator__photo
            img(src='img/common/photo-5.jpg').one-review-moderator__photo
            img(src='img/common/photo-5.jpg').one-review-moderator__photo
            img(src='img/common/photo-5.jpg').one-review-moderator__photo
            img(src='img/common/photo-5.jpg').one-review-moderator__photo
        div().one-review-moderator__text-block.mv-32
            h3().one-review-moderator__title.md-title Заголовок объявления 65 сомволов
            p().one-review-moderator__text.md-body-1 текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст 
            
        div(layout='row' layout-align='center center')
            div.one-review-moderator__info.md-subhead.pl-16.pr-32.pv-8
                div().one-review-moderator__exchange.mv-32
                    div(layout='row')
                        span(flex='15').one-review-moderator__name Пакет
                        span(flex layout='row' layout-align='space-between start').one-review-moderator__col-container.ml-16
                            span().one-review-moderator__date.text-bold {{oneReviewModerator.dictionary.advertPlans[oneReviewModerator.realty.advert.currentWeek.plan].name}}
                    div(layout='row')
                        span(flex='15').one-review-moderator__name
                        span(flex layout='row' layout-align='space-between start').one-review-moderator__col-container.ml-16
                        span().one-review-moderator__date.text-bold Первая неделя:
                            span().one-review-moderator__price {{oneReviewModerator.dictionary.advertPlans[oneReviewModerator.realty.advert.currentWeek.plan].firstWeek}} ₽
                div().one-review-moderator__exchange.mv-32
                    div(layout='row')
                        span(flex='15').one-review-moderator__name
                        span(flex layout='row' layout-align='space-between start').one-review-moderator__col-container.ml-16
                            span().one-review-moderator__date.text-bold Последующие:
                            span().one-review-moderator__price {{oneReviewModerator.dictionary.advertPlans[oneReviewModerator.realty.advert.currentWeek.plan].nextWeek}} ₽
                    div(layout='row')
                        span(flex='15').one-review-moderator__name
                        span(flex layout='row' layout-align='space-between start').one-review-moderator__col-container.ml-16
                            span().one-review-moderator__date.text-bold Месяц
                            span().one-review-moderator__price {{oneReviewModerator.dictionary.advertPlans[oneReviewModerator.realty.advert.currentWeek.plan].month}} ₽
        div().one-review-moderator__in-total-wrapper.mv-32
            div().one-review-moderator__separator
            div(layout='row' layout-align='space-between start').one-review-moderator__in-total.mv-16
                span().md-title.text-uppercase.text-bold Оплатить:
                span().md-title.text-bold {{oneReviewModerator.dictionary.advertPlans[oneReviewModerator.realty.advert.currentWeek.plan].firstWeek}} ₽
            div(layout='row' layout-align='center start')
                md-button(flex ng-click = 'oneReviewModerator.sendToModerator()').one-review-moderator__btn-send.md-primary.md-raised.ph-32 Оплатить рекламу и отправить на модерацию