realty-filter(filter = "newList.filter" roomcount = "newList.roomcount")
div {{newList.filter}}
.md-body-1(layout='column', layout-align='space-around stretch' )
    div(ng-repeat='realty in newList.realty' layout='column' md-whiteframe='2').mv-8.whiteBg
        div.newList(layout='row')

            div(layout='column').newList_ID.p-8
                div(layout='row')
                    div Сегодня
                div(layout='row')
                    div {{::realty.parseDetails.UID}}
            md-divider

            div().newList_Address.p-8
                div(layout='column', layout-align='space-between')
                    div
                        div.metro-color
                        div.metro-name {{::realty.address.metroName}}
                    div(class='address-info')
                        //div {{::realty.address.street}} {{::realty.address.meta.house}}
                        div {{::realty.address.street}}
                        div {{::realty.address.districtName}}
                        div {{::realty.address.areaName}}
            md-divider

            div(layout='column').newList_Price.p-8
                div.price {{::realty.price}}
                div.type-repair {{::newList.dictionary.renovation[realty.details.renovation].name || 'Не известно'}}
                div.type-owner {{::newList.dictionary.qualification[realty.operator.qualification].name}}
                //div.favorites В избранное
            md-divider

            div().newList_Photo
                div(layout='column', layout-align='space-between')
                    div.apartment-pic
                        img(ng-src='{{::realty.image || "realty_no_image.png"}}')
                        div().icon-zoom
            md-divider

            div().newList_Info.p-8
                div(layout='column', layout-align='space-between')
                    div {{::realty.roomcount}}к квартира
                    div Длительный
                    div {{::newList.dictionary.qualification[realty.details.materials].name || 'Не известно'}}
                    div {{::realty.floor}}/{{realty.floormax}} эт. {{realty.square}}м2
            md-divider

            div().newList_Conditions.p-8
                    div(layout='row', layout-wrap, layout-align='space-around')
                        - for (var i = 0; i < 12; i++)
                            img(src='img/icons/icon-tv.png')
                md-divider

            div(layout='column').newList_Actions
                div(flex layout='row', layout-align='center center')
                    md-button(md-no-ink='' ng-click="realty.ngShowDescr =!realty.ngShowDescr").md-primary Подробнее

        div.ph-32(ng-show="realty.ngShowDescr")
            p {{::realty.details.descr}}
            div(layout='row')
                md-button.md-raised.md-warn.btn-get-object Взять объект

                span(flex)
                md-button(ng-click="realty.ngShowDescr =!realty.ngShowDescr") Закрыть
            //div(flex='55')
            //    h3.md-title Номер собственника +7 925 111 22 33  Александр
            //    p Объект успешно сохранен в разделе «Мои объекты»!
            //    p Прямо сейчас позвоните и договоритесь о просмотре и создайте ниже время просмотра этого объекта
            //
            //    div(layout='row' layout-align='start center')
            //        md-datepicker(flex='45' ng-model='myDate' md-placeholder='Enter date')
            //        md-input-container(flex='15').md-block
            //            md-select
            //                md-option(value='часов') часов
            //        div(flex='5' hide-xs hide-sm)
            //        md-input-container(flex='15').md-block
            //            md-select
            //                md-option(value='минут') минут
            //    md-button.md-raised.md-primary.btn-plan-object Запланировать просмотр объекта
//
//
//
//
//.md-body-1(layout='column', layout-align='space-around stretch')
//    .workList(layout='row', md-whiteframe='2').md-whiteframe-2dp.mv-8
//        div(layout='column').workList_Photo
//            div(layout='column', layout-align='space-between')
//                div.apartment-pic
//                    img(src='img/common/photo-3.jpg')
//                    div().icon-zoom
//        md-divider
//
//        div().workList_Price.p-8
//            div(layout='column', layout-align='space-between')
//                div
//                    div.price 3 комн. 40000
//                    div ул. Генерала Антонова
//                    div д. 15 к.1 кв. 208
//        md-divider
//
//        div(layout='column' layout-align='space-around center').workList_Progress.p-8
//            div.md-title.orange 55% / 100%
//            div.orange Срочно улучшить
//        md-divider
//
//        div(layout='column' layout-align='space-around center').workList_Advertisement.p-8
//            div.md-title.orange 55% / 100%
//            div.orange Выжать максимум
//        md-divider
//
//        div(layout='column').workList_Actions.p-8
//            div(layout='row' layout-align='space-between').mb-8
//                div(flex='25').icon-bookmark Сегодня
//                div(flex='45') 15:00 Анна
//                div(flex='35') 8(925) 111-22-33
//            div(layout='row' layout-align='space-between').mb-8
//                div(flex='25').icon-bookmark Завтра
//                div(flex='45') 17:00 Андрей
//                div(flex='35') 8(925) 111-22-33
//            div(layout='row' layout-align='space-between').mb-8
//                div(flex='25').icon-bookmark 01.01
//                div(flex='45') 17:00 Андрей
//                div(flex='35') 8(925) 111-22-33
//            md-button(md-no-ink='').md-primary поставить задачу
//        md-divider