.newList {
  &_ID {
    width: 90px;
  }
  &_Address {
    width: 155px;
  }
  &_Price {
    width: 115px;
  }
  &_Photo {
    width: 140px;
  }
  &_Info {
    width: 110px;
  }
  /*&_Conditions {
    width: auto;
  }*/
  &_Actions {
    width: 140px;
  }
}