.newList {
  &_ID {
    width: 9rem;
  }
  &_Address {
    width: 15.5rem;
  }
  &_Price {
    width: 11.5rem;
  }
  &_Photo {
    width: 14rem;
  }
  &_Info {
    width: 11rem;
  }
  /*&_Conditions {
    width: auto;
  }*/
  &_Actions {
    width: 14rem;
  }
}