.newList {
  &_ID {
    width: 90px;
  }
  &_Address {
    width: 155px;
  }
  &_Price {
    width: 114px;
  }
  &_Photo {
    width: 140px;
  }
  &_Info {
    width: 145px;
  }
  &_Conditions {
    width: 145px;
  }
  &_Actions {
    width: 80px;
  }
}