
.workList {
  border: 1px solid #f3f3f3;
  &_Progress,
  &_Advertisement {
    width: 16rem;
  }
  &_Actions {
    width: 38rem;
    background: #fffde7;
  }
  &_Photo {
    width: 140px;
    img {
      max-width: 140px;
      max-height: 140px;
    }
  }
}

.orange {
  color: #ff5722;
}