realty-filter(filter = "listMy.filter" roomcount = "listMy.roomcount")
div {{listMy.filter}}
div {{listMy.realtyCount}} объектов в работе
.md-body-1(layout='column', layout-align='space-around stretch')
    .workList(layout='row', md-whiteframe='2',ng-repeat='realty in listMy.realty').md-whiteframe-2dp.mv-8
        div(layout='column' ui-sref="crm.realty.one.info({realtyId: '{{::realty._id}}'})").workList_Photo
            div(layout='column', layout-align='space-between')
                div.apartment-pic
                    img(ng-src='{{::realty.image || "realty_no_image.png"}}')
                    div().icon-zoom
        md-divider

        div().workList_Price.p-8
            div(layout='column', layout-align='space-between')
                div
                    div.price {{::realty.roomcount}} комн. {{::realty.price}}
                    div {{::realty.address.street}}
                    div д. {{::realty.address.meta.house}} к.? кв. ??
        md-divider

        div(layout='column' layout-align='space-around center').workList_Progress.p-8
            div.md-title.orange {{::realty.moderator.percent.total || 0}}% / 100%
            div.orange {{(realty.moderator.percent.total !== 100) ? 'Срочно улучшить' : 'Максимально подготовлен'}}
        md-divider

        div(layout='column' layout-align='space-around center').workList_Advertisement.p-8
            div.md-title.orange 55% / 100%
            div.orange Выжать максимум
        md-divider

        div(layout='column').workList_Actions.p-8
            div(layout='row' layout-align='space-between').mb-8
                div(flex='25').icon-bookmark Сегодня
                div(flex='45') 15:00 Анна
                div(flex='35') 8(925) 111-22-33
            div(layout='row' layout-align='space-between').mb-8
                div(flex='25').icon-bookmark Завтра
                div(flex='45') 17:00 Андрей
                div(flex='35') 8(925) 111-22-33
            div(layout='row' layout-align='space-between').mb-8
                div(flex='25').icon-bookmark 01.01
                div(flex='45') 17:00 Андрей
                div(flex='35') 8(925) 111-22-33
            md-button(md-no-ink='').md-primary поставить задачу
        md-divider