md-progress-circular(ng-if='!listMy.loaded' md-diameter='150' style='position:absolute;left:0;right:0;top:280px;margin:0 auto;')
div(ng-if='listMy.loaded')
    .md-body-1(layout='column', layout-align='space-around stretch')
        .listMy(layout='row', md-whiteframe='2').md-whiteframe-2dp.mv-8
            div().listMy_col Фото
            div().listMy_col Комнат/Цена/Адрес
            div().listMy_col Подготовка
            div().listMy_col Реклама на GetRent
            div().listMy_col Подробнее

    .md-body-1(layout='column', layout-align='space-around stretch')
                //ng-repeat='realty in listMy.realty',
        .listMy(layout='column'
                md-whiteframe='2',
                dir-paginate="realty in listMy.realty | itemsPerPage: listMy.perPage" 
                total-items="listMy.realtyCount").md-whiteframe-2dp.mv-8
            div(layout='row')
                div(layout='column' ng-if='realty.status != \'taken\'' layout-align='center center' ui-sref="crm.realty.one.review({realtyId: '{{::realty._id}}'})").listMy_Photo
                    div(layout='column', layout-align='space-between')
                        div(layout='row' layout-align='center center').apartment-pic
                            img(ng-src='{{::realty.image || "realty_no_image.png"}}')
                div(layout='column' ng-if='realty.status == \'taken\'' layout-align='center center').listMy_Photo
                    div(layout='column', layout-align='space-between')
                        div(layout='row' layout-align='center center').apartment-pic
                            img(ng-src='{{::realty.image || "realty_no_image.png"}}')

                div().listMy_Address.pv-8.ph-16
                    div(layout='column', layout-align='space-between')
                        div
                            div().price.listMy_Address-item {{::realty.roomcount}} комн. {{::realty.price | price}}
                            div().listMy_Address-item {{::realty.address.street}}
                            div().listMy_Address-item {{::realty.address.house}} кв. {{::realty.address.flat}}
                            div().listMy_Address-item
                                span(class='metro-color-{{realty.address.subwaysEmbedded[0].line}}').metro-color
                                span {{realty.address.subwaysEmbedded[0].name}}
                md-divider

                div(layout='column' ng-if='realty.status != \'taken\'' layout-align='center center' ui-sref="crm.realty.one.review({realtyId: '{{::realty._id}}'})").listMy_Progress.p-8
                    div().md-title.color-orange.mv-8 {{::realty.moderator.percent.total || 0}}% / 100%
                    md-button().btn-orange.mv-8 {{(realty.moderator.percent.total !== 100) ? 'Срочно улучшить' : 'Максимально подготовлен'}}
                div(layout='column' ng-if='realty.status == \'taken\'' layout-align='center center').listMy_Progress.p-8
                    div().md-title.color-orange.mv-8 {{::realty.moderator.percent.total || 0}}% / 100%
                    md-button().btn-orange.mv-8 {{(realty.moderator.percent.total !== 100) ? 'Срочно улучшить' : 'Максимально подготовлен'}}
                md-divider

                div(layout='column' layout-align='center center').listMy_Advertisement.p-8
                    div(ng-if='realty.status === "sale"').md-title.color-orange.mv-8 100% / 100%
                    div(ng-if='realty.status !== "sale"').md-title.color-orange.mv-8 0% / 100%
                    div(ng-if='realty.status === "sale"').color-orange.md-body-1.mv-8 Размещено
                    div(ng-if='realty.status !== "sale"').color-orange.md-body-1.mv-8 Не размещено
                md-divider

                div(layout='column' layout-align='center center').listMy_Actions.pv-8.pl-16.pr-32
                    md-button(md-no-ink='' ng-if='realty.status != \'taken\''  ui-sref="crm.realty.one.info({realtyId: '{{::realty._id}}'})").md-primary Инфо об объекте
                    md-button(md-no-ink='' ng-if='realty.status == \'taken\'' ng-click='realty.ngShowDescr = !realty.ngShowDescr').md-primary Подробности
            div(ng-show="realty.ngShowDescr").ph-32.pb-16
                p(ng-bind-html='realty.details.descr').md-body-1.realty-card__details-text
                h3().md-title {{realty.contacts[0].phones[0].phone}} --- {{realty.contacts[0].name}}
                div(ng-if='!realty.isAgent && !realty.objectAdded' layout="row")
                    md-button(ng-click="listMy.takeCheckedRealty(realty._id, 'realtor')").md-raised.md-primary.ml-0.mr-16.ph-16 Собственник
                    md-button(ng-click="realty.isAgent = true").md-raised.realty-card__agent.ml-16.ph-16 Агент
                div(ng-if='realty.isAgent == true && realty.objectAdded != true')
                    h3(flex).md-title Хотите продолжить с ним работать?
                    div(layout="row")
                        md-button(ng-click="listMy.takeCheckedRealty(realty._id, 'realtor')").md-raised.md-deafult Да 
                        md-button(ng-click="listMy.takeCheckedRealty(realty._id, 'agency')").md-raised.md-deafult Нет

    pagination-buttons(ng-if='listMy.pagesCount' uisref='\'crm.realty.list.my\'' page='listMy.page' pagescount='listMy.pagesCount')