div().show-video-modal
    div().video-modal
        div().video-modal-content
            img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAABaAQAAAAAXvWD/AAAAAnRSTlMAAHaTzTgAAAAWSURBVHgBY6ABGAWjYBSMglEwCkYBAAdiAAFufS70AAAAAElFTkSuQmCC').video-sizer
            iframe(width='100%' height='100%' src='https://www.youtube.com/embed/BYjKTP4clkg' frameborder='0' allowfullscreen).youtube
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial
div tutorial