.video-modal {
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: translate(500%, 0);
  transition: transform 0s linear 0s;
  background: rgba(0, 0, 0, 0.7);
  &__wrapper {
    padding: 0 20px;
  }
  &__content {
    z-index: 1;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    overflow-y: visible;
    width: 76%;
    width: calc(100% - 100px);
    max-width: 1000px;
    height: auto;
    max-height: calc(100% - 100px);
    margin: 0 auto;
  }
  &__play-list {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: scroll;
    min-width: 200px;
    height: 80%;
    background-color: #e3f2fd;
  }
  &__play-list-item {
    display: block;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    color: rgb(51, 51, 51);
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &.current-video {
      background-color: rgba(187, 222, 251, 0.7);
    }
  }
  &__btn-close {
    position: absolute !important;
    top: 0 !important;
    right: -50px !important;
    width: 45px !important;
    height: 45px !important;
    border-radius: 0 !important;
    background: rgba(51, 51, 51, 0.5) !important;
    md-icon {
      position: absolute;
      top: -9px;
      left: -7px;
      width: 60px;
      height: 60px;
      color: $white;
    }
  }
}

.show-video-modal {
 .video-modal {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  .video-modal__content {
    transform: translate(0, 0);
  }
}

.video-sizer {
  display: block;
  width: 100%;
  height: auto;
}

.youtube {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
}