login {
  img {
    max-width: 100%;
  }
  
  md-content {
    min-height: 560px !important;
    background-color: #f1f8fd;
  }

  md-whiteframe {
    background-color: #fff;
    width: 328px;
  }

  md-input-container {
    margin: 0;
  }
}