md-toolbar.md-primary(layout='column')
md-content(layout='column', layout-align='center center', layout-fill='', layout-margin='')
    div().mv-32
        img(src='img/logos/brand-logo-large.png')
    md-whiteframe.md-whiteframe-z2(layout='column', flex='60').pv-16
        div(layout='column', layout-fill='', layout-margin='', layout-padding='')
            form(name='loginForm' ng-submit='login.login()')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='75').form-required
                        label Email
                        input(type='email', ng-model='login.credentials.email', aria-label='Email', required='')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='75').form-required
                        label Пароль
                        input(type='password', ng-model='login.credentials.password', aria-label='Пароль', required='')
                div(layout='row' layout-align='center center')
                    md-button.md-raised.md-primary(flex='75' type='submit', aria-label='login', ng-disabled='login.loginForm.$invalid()')
                        | Войти
                div(layout='row' layout-align='center center')
                    a.md-button.md-primary(flex='75' href='/resetpw') Забыли пароль?
                div(layout='column' layout-align='start center')
                    div.mb-16 или
                    div
                        a(href='/register').client-card__link Зарегистрироваться
            md-toolbar.md-warn(ng-show='login.error', layout='row', layout-fill='', layout-padding='', layout-margin='' layout-align='center center')
                p().md-body-1 {{ login.error }}
