md-toolbar.md-primary(layout='row' layout-align='end center')
    span().md-body-1.mr-32 +7 (925) 075-95-87
md-content()
    div().mv-32.text-center
        img(src='img/logos/brand-logo-large.png')
    div(layout='column', layout-align='center center').p-32
        div(md-whiteframe='2').login-form.p-32
            md-toolbar(ng-show='login.error', layout='row', layout-align='center center').md-warn.mb-16
                p().md-body-1 {{ login.error }}
            form(name='loginForm' ng-submit='login.login()')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='80').md-block.form-required.mb-0
                        label Email
                        input(type='email', ng-model='login.credentials.email', required='')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='80').md-block.form-required.m-0
                        label Пароль
                        input(type='password', ng-model='login.credentials.password', required='')
                div(layout='row' layout-align='center center')
                    md-button(flex='80' type='submit', aria-label='login', ng-disabled='login.loginForm.$invalid()').md-raised.md-primary
                        | Войти
                div(layout='row' layout-align='center center')
                    a(flex='80' href='/resetpw').md-button.md-primary Забыли пароль?
                div(layout='column' layout-align='start center')
                    div().md-body-1 или
                    div
                        a(href='/register').md-button.md-primary Зарегистрироваться
                div(layout='column' layout-align='start center')
                    a(href='/feedback').md-body-1 О сервисе

