.md-cyan {
  color: $white;
  &.md-raised {
    color: $white;
    background-color: color($cyan, 500);
    &:not([disabled]) {
      &:hover {
        background-color: color($cyan, 500);
      }
      &.md-focused {
        background-color: color($cyan, 500);
      }
    }
  }
}

.md-amber {
  color: $white;
  &.md-raised {
    color: $white;
    background-color: color($amber, 600);
    &:not([disabled]) {
      &:hover {
        background-color: color($amber, 600);
      }
      &.md-focused {
        background-color: color($amber, 600);
      }
    }
  }
}

.md-success {
  color: #575757;
  &.md-raised {
    color: #575757;
    background-color: #baed21;
    &:not([disabled]) {
      &:hover {
        background-color: #baed21;
      }
      &.md-focused {
        background-color: #baed21;
      }
    }
  }
}

.metro-color {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 50%;
}

.metro-color-green {
  background-color: #388E3C;
}

.metro-color-pink {
  background-color: color($pink, 500);
}

.metro-color{
 &-1 {
  background-color: color($pink, 500);
 }
 &-2 {
  background-color: #388E3C;
 }
}