.metro-color {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 50%;
}

.metro-color-green {
    background-color: #388E3C;
}

.metro-color-pink {
    background-color: color($pink, 500);
}

.dots {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: 4px 1px;
    margin-bottom: 3px;
    width: 200px;
    span {
        background: $white;
        padding-right: 5px;
        line-height: 10px;
    }
}