.md-cyan {
  color: $white !important;
  &.md-raised {
    color: $white !important;
    background-color: color($cyan, 500) !important;
    &:not([disabled]) {
      &:hover {
        background-color: color($cyan, 500) !important;
      }
      &.md-focused {
        background-color: color($cyan, 500) !important;
      }
    }
  }
}

.md-amber {
  color: $white !important;
  &.md-raised {
    color: $white !important;
    background-color: color($amber, 600) !important;
    &:not([disabled]) {
      &:hover {
        background-color: color($amber, 600) !important;
      }
      &.md-focused {
        background-color: color($amber, 600) !important;
      }
    }
  }
}

.md-success {
    
  color: $white !important;
  &.md-raised {
    color: $white !important;
    background-color: color($green, 500) !important;
    &:not([disabled]) {
      &:hover {
        background-color: color($green, 500) !important;
      }
      &.md-focused {
        background-color: color($green, 500) !important;
      }
    }
  }
}

.metro-color {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 50%;
}

.metro-color-green {
  background-color: #388E3C;
}

.metro-color-pink {
  background-color: color($pink, 500);
}

.metro-color{
  &-1 {
    background-color: #ea2134;
  }
  &-2 {
    background-color: #388E3C;
  }
  &-3 {
    background-color: #1a78be;
  }
  &-4 {
    background-color: #2ec1f2;
  }
  &-5 {
    background-color: #874d36;
  }
  &-6 {
    background-color: #f38634;
  }
  &-7 {
    background-color: #8d449b;
  }
  &-8 {
    background-color: #fdcb3a;
  }
  &-9 {
    background-color: #a1a2a3;
  }
  &-10 {
    background-color: #b3d54c;
  }
  &-11 {
    background-color: #7dcecd;
  }
  &-12 {
    background-color: #adbfe0;
  }
}

.md-select-multi-single {
  .md-container {
    display: none !important;
  }
}

.md-simple-button {
  background-color: transparent !important;
  &:hover, &:focus {
    background-color: transparent !important;
  }
}

.bottom-label {
  margin-left: 7px;
  font-size: 11px;
  color: #757575;
}

.btn-orange {
  min-height: 20px !important;
  margin: 0 !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  text-transform: none !important;
  color: #ff5722 !important;
  background: none !important;
  box-shadow: none !important;
  &:hover {
    text-decoration: underline !important;
  }
}

.modal {
  &__wrapper{
    z-index: 70;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  &__block{
    z-index: 71;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    max-width: 940px;
    margin: 0 auto;
    background: #fff;
    label {
      color: rgba(0, 0, 0, 0.54);
    }
  }

  &__changes{
    overflow: auto;
  }
}

.panel {
  margin: 5px auto;
  border: 1px solid #dee4e8;
  &__heading {
    padding: 8px 0 8px 24px;
    font-weight: bold;
    color: #2b587a;
    background-color: #f5f7f8;
    border-bottom: 1px solid #ecf0f2;
  }
  &__title {
    font-size: 16px;
    cursor: pointer;
  }
  .panel__body {
    display: none;
  }
  &__collapse-in {
    margin: 5px auto;
    border: 1px solid #dee4e8;
    .panel__body {
      padding: 10px 24px;
      font-size: 14px;
    }
  }
}