.text-italic {
    font-style: italic !important;
}

.text-normal {
    font-weight: 400! important;
}

.text-medium {
    font-weight: 500 !important;
}

.text-semibold {
    font-weight: 600 !important;
}

.text-bold, strong {
    font-weight: 700 !important;
}

.text-strike {
    text-decoration: line-through !important;
}

.text-super {
    vertical-align: super !important;
}

.text-sub {
    vertical-align: sub !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}