.realty-filter {
  position: relative;
  margin-bottom: 20px;
  background-color: white;
  .realty-filter__col div[layout='column'] {
    min-height: 278px;
  }

  .realty-filter__divider {
    position: absolute;
    top: 0;
    left: 31%;
    width: 1px;
    height: 358px;
    background-color: #f9f9f9;
    &:nth-child(2) {
      left: 69%;
    }
  }


  subway-chips .metro {
    margin-top: 0 !important;
  }

  .metro {
    min-height: 48px;
  }

  .md-chips .md-chip-input-container {
    max-width: 20px;
  }

  label {
    font-size: 16px;
    vertical-align: middle;
  }

  .realty-filter__rooms {
    height: 25px;
  }

  .md-chips .md-chip-input-container md-autocomplete, 
  .md-chips .md-chip-input-container md-autocomplete-wrap {
    height: 24px;
  }

  md-checkbox {
    margin-left: 8px;
    margin-bottom: 0;
    .md-label {
      font-size: 16px;
    }
  }

  md-input-container .md-errors-spacer {
    min-height: 0;
  }

  .realty-filter__btn-clear-results {
    width: 24px !important;
    height: 24px !important;
    line-height: 44px !important;
  }
}