one-info-edit {
  md-toolbar {
    min-height: 64px !important;
    h3 {
      color: #e3f2fd !important;
    }
    .md-icon-button md-icon {
      color: #e3f2fd !important;
    }
  }
}

.one-info-edit{
  &__wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 70;
  }

  &__block{
    z-index: 71;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    max-width: 840px;
    margin: 0 auto;
    background: #fff;
    label {
      color: rgba(0, 0, 0, 0.54);
    }
  }

  &__changes{
    overflow: auto;
  }

}