div(ng-if="oneInfoEdit.show")
    div.one-info-edit__wrapper(ng-click="oneInfoEdit.show = false")
    div.one-info-edit__block.ph-16(layout="column" ng-init="oneInfoEdit.ngOnInit()")
        div.ph-16.one-info-edit__changes(layout="row" flex="90")
            div(layout='row' layout-align='space-between start')
                div(flex='30')
                    h2 Месторасположение
                    realty-street(ng-model='oneInfoEdit.realty.address.street' house='oneInfoEdit.realty.address.house'
                    dadata='oneInfoEdit.realty.address.full' layout='column' flex='66').zh
                    md-input-container(flex='33').md-block.zh
                        label Квартира
                        input(ng-model='oneInfoEdit.realty.address.flat')
                        span.bottom-label Видите только вы
                    subway-chips(ng-model='oneInfoEdit.realty.address.subways' subways-embeded='oneInfoEdit.realty.address.subwaysEmbedded' flex
                    ng-if='oneInfoEdit.realty.address.subways')
                div(flex='30')
                    h2 Объект
                    div(layout='row')
                        div().vertical-divider-1
                        div(flex)
                            md-input-container().md-block
                                label Тип здания:
                                md-select(ng-model="oneInfoEdit.realty.details.materials")
                                    md-option(ng-value='material.id' ng-repeat="material in oneInfoEdit.dictionary.materials") {{material.name}}
                            md-input-container().md-block.mv-32.zh
                                label Комнат:
                                input(ng-model="oneInfoEdit.realty.roomcount")
                            md-input-container().md-block.mv-32
                                label Ремонт:
                                md-select(ng-model="oneInfoEdit.realty.details.renovation")
                                    md-option(ng-value='renovation.id' ng-repeat="renovation in oneInfoEdit.dictionary.renovation") {{renovation.name}}
                            div(layout="row" layout-align='start center')
                                md-input-container(flex='45').zh
                                    label Этаж:
                                    input(ng-model="oneInfoEdit.realty.floor")
                                label().md-block.mh-16 из
                                md-input-container(flex='45').zh
                                    input(ng-model="oneInfoEdit.realty.floormax" aria-label='Общее число этажей')
                            md-input-container().md-block.mv-32.zh
                                label Общая площадь
                                input(ng-model="oneInfoEdit.realty.square")
                            md-input-container().md-block.mv-32.zh
                                label Жилая площадь:
                                input(ng-model="oneInfoEdit.realty.details.livingSquare")
                            md-input-container().md-block.mv-32.zh
                                label Площадь кухни:
                                input(ng-model="oneInfoEdit.realty.details.kitchenSquare")
                            div(layout='row')
                                md-input-container(flex='50').md-block.mv-32
                                    label Лоджия:
                                    md-select(ng-model="oneInfoEdit.realty.details.loggia")
                                        md-option(ng-value='i' ng-repeat="i in [0,1,2,3,4]") {{i}}
                                md-input-container(flex='50').md-block.mv-32
                                    label Балкон:
                                    md-select(ng-model="oneInfoEdit.realty.details.balcony")
                                        md-option(ng-value='i' ng-repeat="i in [0,1,2,3,4]") {{i}}
                            div(layout='row')
                                md-input-container(flex='50').md-block.mv-32
                                    label Пассажирских лифтов:
                                    md-select(ng-model="oneInfoEdit.realty.details.elevator")
                                        md-option(ng-value='i' ng-repeat="i in [0,1,2,3,4]") {{i}}
                                md-input-container(flex='50').md-block.mv-32
                                    label Грузовых лифтов:
                                    md-select(ng-model="oneInfoEdit.realty.details.elevatorBig")
                                        md-option(ng-value='i' ng-repeat="i in [0,1,2,3,4]") {{i}}
                            md-input-container().md-block.mv-32
                                label Окна выходят
                                md-select(ng-model="oneInfoEdit.realty.details.windowView")
                                    md-option(ng-value='window.id' ng-repeat="window in oneInfoEdit.dictionary.windowView") {{window.name}}
                
                div(flex='30')
                    h2 Условия
                    div(layout='row')
                        div().vertical-divider-2
                        div(flex)
                            md-input-container(flex).md-block.mv-16.form-required
                                md-select(required ng-model='oneInfoEdit.realty.details.composition' multiple='true' placeholder='Состав съемщиков')
                                    md-option(ng-value="position.id" ng-repeat='position in oneInfoEdit.dictionary.composition') {{position.name}}

                            md-input-container(flex).md-block.mv-32
                                label Срок
                                md-select(ng-model="oneInfoEdit.realty.type")
                                    md-option(ng-value='type.id' ng-repeat="type in oneInfoEdit.dictionary.type") {{type.name}}
                            md-input-container(flex).md-block.mv-32.zh
                                label Цена
                                input(ng-model="oneInfoEdit.realty.price"
                                      ng-price-filter
                                      ng-keypress="oneInfoEdit.realty.price = ' '+this.oneInfoEdit.realty.price"
                                      ng-init="clientInfoEdit.ngOnInit(oneInfoEdit.realty.price)")
                            md-input-container(flex).md-block.mv-32.zh
                                label Процент от клиента
                                input(ng-model="oneInfoEdit.realty.realtor.clientpercent")
                            md-input-container(flex).md-block.mv-32.zh
                                label Процент от клиента партнера
                                input(ng-model="oneInfoEdit.realty.realtor.partnerpercent")            
                              
        div(flex='10').mt-16.ph-16.one-info-edit__buttons
            div(layout='row' layout-align='center center')
                md-button.md-raised.md-primary(ng-click="oneInfoEdit.onChangeRealty(oneInfoEdit.realty._id)") Сохранить
                md-button.md-raised.md-danger(ng-click="oneInfoEdit.show = false") Закрыть
