div.md-whiteframe-2dp(md-whiteframe="2")
    div(layout="row")
        md-tabs(md-dynamic-height md-border-bottom md-selected="clientSuit.selectedTab" flex="80")
            md-tab(ui-sref="crm.clients.details.suit({suitby:'my'})") Мои
            md-tab(ui-sref="crm.clients.details.suit({suitby:'exact'})") Точное совпадение
            md-tab(ui-sref="crm.clients.details.suit({suitby:'auto'})") Авто-Подброка
            
client-suit-exact(selected-tab = 'clientSuit.selectedTab')