div.md-whiteframe-2dp(md-whiteframe="2")
    div.ph-16.pv-16(layout="row")
        div.ph-8(flex="10") Подано
        div.ph-8(flex="15") Местоположение
        div.ph-8(flex="10") Собственник
        div.ph-8(flex="15") Фото
        div.ph-8(flex="35") Дата, время и адрес показа
        div.ph-8(flex="15") Действия
        
div.md-whiteframe-2dp(md-whiteframe="2")
    realty-card(ng-repeat='realty in clientDemonstration.realty'
                realty='realty'
                slider='clientDemonstration.setSliderImages(images)'
                ng-click="clientDemonstration.setActiveRealty(realty)")
    div.ph-16.pv-16(ng-if="clientDemonstration.activeRealty")
        div(layout="row")
            p(flex="35") {{clientDemonstration.activeRealty.roomcount}} комнаты, длительная, Кирпичный, {{clientDemonstration.activeRealty.floor}}/{{clientDemonstration.activeRealty.floormax}}, 50м #[sup 2]
            p(flex="65") Удобства
        div  {{clientDemonstration.activeRealty.details.descr}}
        div(layout="row")
            div(flex="90") Риелтор {{clientDemonstration.activeRealty.contacts[0].name}} {{clientDemonstration.activeRealty.contacts[0].phones[0].phone}}
            div(flex="10") 
                md-button.md-default.md-raised(ng-click="clientDemonstration.activeRealty = undefined") Закрыть