add-realty-full {
  md-content {
    background-color: $white;
  }

  md-tabs {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 
                0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.12);
  }

  .md-button {
    min-width: 194px !important;
  }

  md-input-container .md-errors-spacer {
    min-height: 0;
  }
  
  .add-realty-price-text {
    margin: 4px 0;
  }
}

.add-client-full-small-select {
  .md-select-value {
    min-width: 50px;
  }
}

.form-required{
  position:relative;
  &:after{
    position: absolute;
    top:0;
    right:0;
    color: red;
    content:'*';
  }
}


.hide-count{
    & .md-char-counter{
        display: none;
    }
}