div(md-whiteframe='1').topbar
    div(layout='row' layout-align='start center' layout-fill)
        md-button(aria-label='Задать вопрос').md-primary.md-raised.mh-16 Задать вопрос
div().mv-16
    div(md-whiteframe='1' ng-repeat='info in feedback.feedbackData').mv-8
        div(ng-click='info.show = !info.show').panel__heading.ph-16.pv-8
            div().md-subhead {{info.question}}
        div(ng-show='info.show' ng-style='info.height').md-body-1.p-16.answer-tab {{info.answer}}
            div(layout='column' layout-align='start end')
                md-button(ng-click='info.show = !info.show').md-primary.md-raised Скрыть