div(md-whiteframe='2').mv-16.ph-32.pv-16
    h3.md-headline.text-uppercase Аналитика объекта
    div(layout="row")
        div(flex="50")
            h3(style='color: #9e9e9e').md-title.text-normal.mv-8 Средняя цена: {{oneReviewMeetingAnalytics.analytics.avgPrice | price}}
            h3(ng-if='oneReviewMeetingAnalytics.analytics.difference !== 0' style='color: #9e9e9e').md-title.text-normal.mv-8 Цена {{oneReviewMeetingAnalytics.analytics.comparison ? 'меньше' : 'больше'}} на {{oneReviewMeetingAnalytics.analytics.difference | price }}
            h3(style='color: #106cc8').md-title.text-normal.mv-8 {{oneReviewMeetingAnalytics.analytics.marketOk}}
        div(flex='50')
            h3().md-headline Ответ от модератора:
            p().md-body-1 Пройдите интенсив
            p().md-body-1 Посмотрите #[a(href='http://murigin.ru/intensiv/' target='blank') «Как объяснить собственнику про стоимость на рынке»]
    md-button().md-primary.md-raised Вызвать фотографа