md-dialog.subscription-dialog(aria-label='Оплата подписки')
    md-toolbar
        .md-toolbar-tools
            h2 Сколько пуль?
            span(flex='')
            md-button.md-icon-button(ng-click='buyBullets.close()')
                md-icon(md-svg-src='svg/icon-close.svg', aria-label='Закрыть окно')
    md-dialog-content
        .md-dialog-content.pv-16
            div(layout='column')
                div(layout='row' layout-align='center center')
                    h3.p-8 Стоимость пули: {{buyBullets.bulletCost}}₽
                div(layout='row' layout-align='center center')
                    md-input-container(flex='65').md-block.form-required.m-0
                        label Количество пуль
                        md-select(required ng-model='buyBullets.bulletsQty' aria-label='Количество пуль')
                            md-option(ng-repeat='qty in [1,2,3,4,5,6,7,8,9,10]' ng-value='qty') {{qty}}
                div(layout='row' layout-align='center center')
                    h3.p-8 Смс и телефон : 150₽ за пулю
                div(layout='row' layout-align='center center')
                    h3.p-8 Итого: {{buyBullets.bulletsQty * buyBullets.bulletCost + buyBullets.bulletsQty*150 }}₽
                md-button.md-raised.mv-16.ph-16(flex='', ng-click='buyBullets.buyBullets(buyBullets.bulletsQty)') Оплатить
