form( name="userForm")
    md-input-container.md-block(flex-gt-sm='')
        label Имя
        input(ng-model='addClient.name')
    md-input-container.md-block(flex-gt-sm='')
        label Телефон
        input(name='phone', ng-model='addClient.phone', placeholder='79165315252', required='', ng-pattern='/^[0-9]{11}$/', md-maxlength='11')
        div(ng-messages='userForm.phone.$error', role='alert', multiple='')
            .my-message(ng-message='required') You must supply a phone.
            .my-message(ng-message='pattern')
                | That doesn't look like a phone.
            .my-message(ng-message='md-maxlength')
                | Слишком много цифр
    md-input-container.md-block
        label Клиеинту важно (текст длинный какой-то)
        textarea(ng-model='addClient.realtorNote', md-maxlength='150', rows='5', md-select-on-focus='')

    md-datepicker(ng-model='addClient.searchStartDate', md-placeholder='Дата начала поиска')

    div ищет сколько дней (Генериться автоматом по стартовой дате поиска)
    md-switch(ng-model='addClient.comissionLoyal', aria-label='Switch 1' class="md-accent")
        | готов платить комиссию: {{ addClient.comissionLoyal }}

    div Материалы дома ( думаю пока можно забить на материалы дома)

realty-filter(filter = "addClient.filterQuery" roomcount = "addClient.roomcount")
div {{addClient.filterQuery}}

