div Имя
div Contact phone
div Клиеинту важно (текст длинный какой-то)
div ищет с какого числа
div ищет сколько дней
div готов платить комиссию
div Обычный фильтр +  Материалы дома ( я лично считаю что в пизду)
realty-filter(filter = "addClient.filter" roomcount = "addClient.roomcount")
div {{addClient.filter}}
div Contact phone
div info o client
div ищет с какого числа
div ищет сколько дней
div готов платить комиссию
