div incoming
div Всего недвижки найдено {{incomingCall.realty.length}}
//div Всего недвижки найдено {{incomingCall.realty}}
//div {{incomingCall.street}}
realty-street(ng-model= 'incomingCall.street' house='incomingCall.house')
realty-card(ng-repeat='realty in incomingCall.realty' realty='realty')
add-client-full(page-status='"hot"')