<md-dialog aria-label="Lightbox" style="width:100%; height: 100%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" ng-if="isActionShow">
                <md-icon class="material-icons" style="color: white">share</md-icon>
                <md-tooltip md-direction="bottom">
                    Share
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="cancel()" ng-if="isActionShow">
                <md-icon class="material-icons" style="color: white">info</md-icon>
                <md-tooltip md-direction="bottom">
                    Info
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="cancel()" ng-if="isActionShow">
                <md-icon class="material-icons" style="color: white">edit</md-icon>
                <md-tooltip md-direction="bottom">
                    Edit
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="delete()" ng-if="isActionShow">
                <md-icon class="material-icons" style="color: white">delete</md-icon>
                <md-tooltip md-direction="bottom">
                    Delete
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons" style="color: white">close</md-icon>
                <md-tooltip md-direction="bottom">
                    Close
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" layout-align="center center" style="width:100%; height: 100%">
        <img ng-src="{{image.url}}" alt="{{title}}">
    </md-dialog-content>
</md-dialog>