register {
  img {
    max-width: 100%;
  }
  
  md-content {
    min-height: 800px !important;
    background-color: #bbdefb;
  }

  md-whiteframe {
    background-color: #fff;
    width: 328px;
  }

  md-input-container {
    margin: 0;
  }
}