md-toolbar.md-primary(layout='column')
md-content(layout='column', layout-align='center center', layout-fill='', layout-margin='')
    div().mv-32
        img(src='img/logos/brand-logo-large.png')
    md-whiteframe.md-whiteframe-z2(layout='column', flex='60').pv-16
        div(layout='column', layout-fill='', layout-margin='', layout-padding='')
            form(name='registerForm')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='75')
                        label Имя
                        input(type='text', aria-label='Имя', required='')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='75')
                        label Фамилия
                        input(type='text', aria-label='Фамилия', required='')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='75')
                        label Телефон
                        input(type='tel', aria-label='Телефон', required='')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='75')
                        label Email
                        input(type='email', ng-model='register.credentials.email', aria-label='Email', required='')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='75')
                        label Пароль
                        input(type='password', ng-model='register.credentials.password', aria-label='Пароль', required='')
                div(layout='row' layout-align='center center')
                    md-input-container(flex='75')
                        label Ссылка на &laquoВконтакте&raquo
                        input(type='text', aria-label='Ссылка на Вконтакте', required='')
                div(layout='row' layout-align='center center')
                    md-button.md-raised.md-primary(flex='75' ng-click='register.register()', aria-label='register', ng-disabled='register.registerForm.$invalid()')
                        | Зарегистрироваться
            md-toolbar.md-warn(ng-show='register.error', layout='row', layout-fill='', layout-padding='', layout-margin='')
                p.md-body-1 {{ register.error }}
