div.md-whiteframe-2dp(md-whiteframe="2")
    div(md-whiteframe="1")
        md-tabs(md-selected="0" md-border-bottom md-dynamic-height='true').realty-list-layout__topbar
            md-tab(label='Отправить Email' ui-sref='crm.clients.details.email.send')
                ui-view()
    