div().realty-filter.pl-32.pr-16
    h3.text-bold Укажите метро и район или округ
    div(flex='100').mb-16
        subway-chips(
        ng-model="clientBulletsChange.oneBullet.filter.subways"
        subways-embeded='clientBulletsChange.oneBullet.filter.subwaysEmbeded' flex)
    div(flex='100').mb-16
        district-chips(
        ng-model="clientBulletsChange.oneBullet.filter.districts"
        districts-embeded='clientBulletsChange.oneBullet.filter.districtsEmbeded' flex)
    div(layout='row')
        div(layout='column' flex='30' layout-align='start start')
            div.text-bold.mv-16 Выберите количество комнат
            md-radio-group(ng-change='clientBulletsChange.bulletCost()' ng-model="clientBulletsChange.oneBullet.bullet.type")
                md-radio-button(value="0").md-primary 
                    span 1-к 
                    span.ml-16 30000 - 50000
                md-radio-button(value="1").md-primary 
                    span 2-к 
                    span.ml-16 35000 - 60000
                md-radio-button(value="2").md-primary 
                    span 3-к 
                    span.ml-16 45000 - 90000
        div(layout='column' flex='30' flex-offset='5' layout-align='start start').pb-16
            div.text-bold.mv-16 Выберите боеголовку
            md-radio-group(ng-change='clientBulletsChange.bulletCost()' ng-model="clientBulletsChange.oneBullet.bullet.warhead")
                md-radio-button(value="0").md-primary Собственник готов на встречу - 100Р
                md-radio-button(value="1").md-primary Собственник платит комиссию - 500Р
        div(layout='column' flex='30' flex-offset='5' layout-align='start start')
            div.text-bold.mv-16 Выберите скорость сделки
            md-radio-group(ng-change='clientBulletsChange.bulletCost()' ng-model="clientBulletsChange.oneBullet.bullet.dealSpeed")
                md-radio-button(value="0").md-primary Стандартная - 150Р
                md-radio-button(value="1").md-primary Быстраяя - 500Р
                md-radio-button(value="2").md-primary Максимальнаяя - 1000Р
    div(layout='column' flex='30' flex-offset='70' ).mv-16
        div(layout='row') 
            p(flex='50') Количество пуль
            md-input-container(flex='15').md-block.form-required.m-0
                md-select(ng-model='clientBulletsChange.oneBullet.bullet.qty' aria-label='Количество пуль')
                    md-option(ng-repeat='qty in [1,2,3,4,5,6,7,8,9,10]' ng-value='qty') {{qty}}
        div(layout='row')
            p(flex='50') На звонки и SMS 
            P(flex='50') 150Р
        div(layout='column' layout-align='center center')
            div.md-title.mv-16 Итого: {{clientBulletsChange.fullPrice}}
        div(layout='column').mv-8
            md-button(ng-disabled='clientBulletsChange.savingInProgress' ng-click='clientBulletsChange.fillHolder()').w-100.md-warn.md-raised.ph-16.ml-0 Зарядить обойму
            md-button(ui-sref='crm.client-bullets.list').w-100.md-primary.ph-16 Отмена