client-info-edit {
  md-toolbar {
    min-height: 64px !important;
    h3 {
      color: #e3f2fd !important;
    }
    .md-icon-button md-icon {
      color: #e3f2fd !important;
    }
  }

  md-datepicker {
    display: block;
  }
}