md-button.md-button-toggle(ng-click="toggle()" aria-controls="docs-menu-{{section.name | nospace}}" flex layout="row" aria-expanded="{{isOpen()}}") {{section.name}} <span aria-hidden="true" class="pull-right fa fa-chevron-down md-toggle-icon" ng-class="{'toggled' : isOpen()}"></span>
ul.menu-toggle-list(ng-show="isOpen()" id="docs-menu-{{section.name | nospace}}")
    li(ng-repeat="page in section.pages")
        menu-link(section="page")