div.md-whiteframe-2dp(md-whiteframe="2")
    div(layout="row")
        md-tabs(md-dynamic-height md-border-bottom md-selected="clientConnections.selectedTab" flex="80")
            md-tab(ui-sref="crm.clients.details.connections({assort:'manual'})") Ручная подброка
            md-tab(ui-sref="crm.clients.details.connections({assort:'auto'})") Автоподброка
        div.one-connections__assort-client-btn(flex="20") 
            md-button.md-raised.md-primary(ng-if="clientConnections.assort == 'manual'") Подобрать клиента
    div.ph-16.pv-16(layout="row")
        div.ph-8(flex="10") Подано
        div.ph-8(flex="15") Местоположение
        div.ph-8(flex="10") Собственник
        div.ph-8(flex="15") Фото
        div.ph-8(flex="15") Объект
        div.ph-8(flex="20") Удобства
        div.ph-8(flex="15") Действия
        
div.md-whiteframe-2dp(md-whiteframe="2")
    div
        realty-card(ng-repeat='realty in clientConnections.realty'
                    realty='realty'
                    slider='clientConnections.setSliderImages(images)'
                    ng-click="clientConnections.setActiveRealty(realty)")
    div.ph-16.pv-16(ng-if="clientConnections.activeRealty")
        div(layout="row")
            p(flex="35") {{clientConnections.activeRealty.roomcount}} комнаты, длительная, Кирпичный, {{clientConnections.activeRealty.floor}}/{{clientConnections.activeRealty.floormax}}, 50м #[sup 2]
            p(flex="65") Удобства
        div {{clientConnections.activeRealty.details.descr}}
        div(layout="row")
            div(flex="90")
            div(flex="10") 
                md-button.md-default.md-raised(ng-click="clientConnections.activeRealty = undefined") Закрыть
    
    