table().table.table-bordered.table-shadow.mt-32
    thead
        tr
            th().text-normal Фамилия
            th().text-normal Объектов
            th().text-normal Просмотров
            th().text-normal Подготовлено
            th().text-normal Реклама
            th().text-normal Звонков
            th().text-normal Предложений
            th().text-normal Показов
            th().text-normal Задатков
            th().text-normal Оплат
    tbody
        tr
            td Багдаулов
            td 100
            td 40/50
            td 30/35
            td 25/30
            td 200/20
            td 50/200
            td 15/50
            td 3/15
            td 2/3
        tr
            td Багдаулов
            td 100
            td 40/50
            td 30/35
            td 25/30
            td 200/20
            td 50/200
            td 15/50
            td 3/15
            td 2/3
        tr
            td Багдаулов
            td 100
            td 40/50
            td 30/35
            td 25/30
            td 200/20
            td 50/200
            td 15/50
            td 3/15
            td 2/3
