div(layout-wrap layout='row').mv-16
    //div(ng-repeat='lesson in trainingList.intensivLessons' ng-class='{"disabled":!lesson.available}' flex='50').p-16
    //    div(md-whiteframe='2' layout='row'
    //        ng-click='trainingList.goToLesson(lesson.available, lesson.number)').training__lesson
    //        section(flex='60').p-8.pl-16
    //            h3.training__lesson-number.mv-4  
    //            h1.training__lesson-title.md-headline.mv-8 Интенсив {{lesson.number}} день
    //        section(flex='40' layout='column' layout-align='center center').p-4.pt-8
    //            img(ng-src='{{lesson.picture}}')
    div(ng-repeat='lesson in trainingList.lessons' ng-class='{"disabled":!lesson.available}' flex='50').p-16
        div(md-whiteframe='2' layout='row'
            ng-click='trainingList.goToLesson(lesson.available, lesson.number)').training__lesson
            section(flex='60').p-8.pl-16
                h3(ng-if='!lesson.intensiv').training__lesson-number.mv-4 Занятие №{{lesson.number}}
                h1(ng-if='!lesson.intensiv').training__lesson-title.md-headline.mv-8 {{lesson.title}}
                h1(ng-if='lesson.intensiv').training__lesson-title.md-headline.mv-8 Интенсив {{lesson.day}} день
                div(ng-if=' lesson.tasks.length > 0' layout='row' layout-align='start start')
                    img(src='img/icons/kubok.jpg').training__icon
                    div().training__lesson-descr.mt-0.ml-8 
                        div Результат: 
                        ul.card.p-0.mt-8
                            li(ng-repeat='result in lesson.tasks') {{result.title}}
            section(flex='40' layout='column' layout-align='center center').p-4.pt-8
                img(ng-src='{{lesson.picture}}')
